[2018-07-30 11:12] piyush8 opened #5442 "undefined method `[]' for "image":Sass::Script::Value::String"
Rails version 4.0
Ruby version 2.5.1
While upgrading from rails 3.2 to rails 4.0 facing issue.

Replace asset-url with two arguments with image-url('logo.png').
For example,

asset-url(‘profile.png’, image)
Changed to
asset-url(‘profile.png’)

Even getting the same error any help will be appreciated.
![Uploading sass_error.png…]()

[2018-07-31 12:33] varyonic commented on #5442
Which version of ActiveAdmin are you using? Have you read the [upgrading notes on the wiki](https://github.com/activeadmin/activeadmin/wiki/Upgrading-ActiveAdmin)?

[2018-08-03 07:31] dariogf opened #5443 "Doc enhance for decorators with Cancancan (Drapper and may be other decorators)"
## The introduction

First of all, thanks for ActiveAdmin!

This is not really an ActiveAdmin issue, but a quick clarification note about this behaviour in the documentation could save others a lot of time.

While migrating an AA app that uses draper and cancancan from Rails 4.2 to Rails 5.2, I found that I was getting access denied when trying to show some resources (but not all) despite them bei

[2018-08-08 09:19] omitter opened #5445 "form.has_many cannot hide 'remove button' on new records"
I pre-build the attributes of associated objects for a new object and don't won't the customers to change their count. That's why I need to remove the 'remove' button (and the 'add new' button, but that works fine). My code looks like this: `f.has_many :sub_model, allow_destroy: false, new_record: false`. Unfortunately this still generates the 'remove' buttons. I know, most of the time that is wan

[2018-08-09 20:11] portwood opened #5447 "ActiveAdmin 1.3.0 is incompatible with Rails 5.2.1"
When attempting to update a Rails application using the 'bundle update' command, the bundler does not update to Rails 5.2.1 due to ActiveAdmin dependencies.

Inside the Gemfile:
  gem 'rails', '~> 5.2.0'
  ...
  gem 'activeadmin'

### Expected behavior
The bundle command would resolve the dependencies and install Rails 5.2.1.

### Actual behavior
The bundle command does not install Rails 5.2.1.

W

[2018-08-09 22:01] rylanb commented on #5447
Same issue for me

[2018-08-10 05:28] richpeck commented on #5447
When you push it to Heroku, you get the "meta_search" error as well.

[2018-08-10 13:41] varyonic commented on #5445
I think this is a reasonable customization for users to make if they want and expect this behavior. Feel free to submit as a pull and we'll see if it is OK with Travis. I would want to see more supportive feedback from others before merging such a change.

[2018-08-10 15:08] skylerwshaw commented on #5447
This has been updated in `inherited_resources` gem. https://github.com/activeadmin/inherited_resources/pull/449 was merged 10 days ago and https://github.com/activeadmin/inherited_resources/pull/451 is on its way through travis-ci at this moment.

[2018-08-10 19:05] varyonic commented on #5447
@portwood can you confirm this is resolved with the release of inherited_resources 1.9.0?

[2018-08-10 19:05] rylanb commented on #5447
Worked for me locally!

[2018-08-10 19:12] richpeck commented on #5447
Working locally, testing on Heroku

[2018-08-10 19:13] richpeck commented on #5447
Works on Heroku too

[2018-08-10 19:37] richpeck commented on #5447
![untitled](https://user-images.githubusercontent.com/1104431/43977854-3c01686e-9cdd-11e8-9b6e-314099dcae64.png)

Looks like there's a problem - any insights?

[2018-08-10 21:07] jarydkrish commented on #5447
@richpeck you should bump the version of `ransack` you are using (basically just make sure you have `ransack 2.0.0`):

[code]

Ransack just released support for Rails 5.2.1 in [this PR](https://github.com/activerecord-hackery/ransack/pull/938)

[2018-08-11 00:40] portwood commented on #5447
I am now experiencing the same issue as @richpeck.

[2018-08-11 01:05] jarydkrish commented on #5447
@portwood try changing your gemfile to match against the latest master:
[code]

Right now [`activeadmin 1.3.0` is pinned to `ransack ~> 1.3`](https://rubygems.org/gems/activeadmin/versions/1.3.0)

So I'm not sure, but there might need to be a new release with a different gemspec.

[2018-08-11 02:18] portwood commented on #5447
That seems to work. I've made a quick pass through the application and have run my rspec suite without issue. Will test it further.

[2018-08-12 14:06] shivabhusal opened #5449 "ActiveAdmin with PaperTrail : Page size exceed 16MB"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

[code]
The options continue long

### Expected behavior

Page size should not be that much. It needs to be handled properly

[2018-08-12 14:06] shivabhusal commented on #5449
![image](https://user-images.githubusercontent.com/8004593/44002837-247560d2-9e69-11e8-9609-8eeffb1f38a3.png)

[2018-08-13 02:29] mapeveri commented on #5390
Hello, I would like to take this issue and send a PR, although I was looking at the lines that @Fivell comments and I can not understand how the form is generated with the default values. Could you explain me a little more? Thank you.

[2018-08-14 13:42] tarriqhamza commented on #4127
thanks alot @hobbes37  for the the solution

[2018-08-14 15:29] kazu9su commented on #5283
I investigated this issue and found that `FormBuilder` becomes to depend on `Resource` to implement this feature(I guess it means `FormBuilder` depends on `Application`), but I wonder it is a correct approach or not.

I'd appreciate if I could listen to any opinion if you have.

[2018-08-15 02:08] omitter commented on #5445
Great, I created a pull request, let me know if there's still anything that needs to be done.
PR: #5452

[2018-08-15 05:26] tarriqhamza commented on #4127
thanks alot @hobbes37  for the the solution

[2018-08-16 18:17] varyonic commented on #5447
Just to be clear, I'm not expecting further fixes to Ransack 2.x to require additional changes to AA 1.3.1. If no further feedback I will close in a while.

[2018-08-16 18:36] spinlock99 commented on #3673
@rhymes if you want to share the index view between resources, you can use a partial.

    index do
      render "shared/admin_index", klass: resource.class, ...
    end

[2018-08-18 07:00] gregmolnar commented on #5447
@varyonic The only issue reported for ransack 2.0.0 has been fixed in 2.0.1

[2018-08-19 03:44] joseglego commented on #5182
@varyonic

I'm having a trouble, which I think could be related with this. It's NOT the same. But, it could be related. I tried upgrading to the last version at this time, `master` -- [ef90f33](https://github.com/activeadmin/activeadmin/commit/ef90f33416eae8d06d2f01d5d6c74e26d9c82b89)
and I'm still experimenting this trouble. I tried the example showed and it doesn't work.

In my case I'm trying t

[2018-08-20 07:09] grimmwerks opened #5454 "undefined method alias_method_chain - updating to rails 5"
Hey there - I'm updating an old project to rails 5.2 and though I've got all gems seemingly playing nice with each other I'm getting the same 'alias_method_chain' seen in #5339

[code]
My Gemfile:

[code]

Gemfile.lock:

[code]

[2018-08-20 15:31] seakelps commented on #5182
@varyonic I'm using 1.3.1.

[2018-08-20 16:01] varyonic commented on #5447
Thanks

[2018-08-20 16:01] #5447 closed

[2018-08-20 16:15] varyonic commented on #5454
squeel looks no longer supported, last updated 2015.

[2018-08-20 17:26] grimmwerks commented on #5454
Ah think that's it!  Good eye.

[2018-08-21 10:23] hanishjadala opened #5455 "Filter not working"
nd_book.rb
[code]
while showing index data is reading from ND::Book but filter is not working. Giving below error
No table named country_book__c exists.

I have multiple db in my project and above table from other db.
While reading it is displaying data from it but not the filter part.

EDIT: code formatting updated

[2018-08-21 12:37] #5454 closed

[2018-08-22 19:13] newton10471 opened #5456 "custom sorting not working"
### Expected behavior

I'm trying to use the Custom Sorting feature described in https://github.com/activeadmin/activeadmin/blob/master/docs/3-index-pages/index-as-table.md#custom-sorting, but can't seem to get it to work with a very simple case. The repo for my code is here: https://github.com/newton10471/active_admin_custom_sorting. For what it's worth, I'm using older versions of Rails (4.2.5),

[2018-08-23 01:56] kewubenduben opened #5457 "Are Ransack's features like `*_cont_all` or `*_cont_any` supported?"
Are Ransack's features like `*_cont_all` or `*_cont_any` supported?

I'm trying to look for a filter that uses `contains all` for multiple keyword.

If this is possible in any way, can someone point out on how to do this?

Thanks

[2018-08-23 09:29] TiSer commented on #5371
@mxdavis Did you find the answer? Place a link here, please.

[2018-08-23 09:40] mxdavis commented on #5371
@TiSer Yes. I am using a request spec. Looks something like this:

[code]

[2018-08-23 10:36] TiSer commented on #5371
@mxdavis Hm, doesn't work for me. I still have `ActionController::UrlGenerationError: No route matches` :(

[2018-08-23 11:33] TiSer commented on #5371
@mxdavis Ouh, the truth is yours, I forgot about `type: :request do`.

And by which way you are logging in as admin? I was using `include Devise::Test::ControllerHelpers` before, but with request spec it seems doesn't work.

[2018-08-23 11:48] mxdavis commented on #5371
I had to add this in myself and include in the rails_helper. We are no longer using devise so it's been deleted, but it should be easy to google. If you can't find it I can search through the history of the repo

[2018-08-23 11:50] TiSer commented on #5371
https://github.com/plataformatec/devise/wiki/How-To:-sign-in-and-out-a-user-in-Request-type-specs-(specs-tagged-with-type:-:request)

[2018-08-23 12:01] mxdavis commented on #5371
Cool, assuming all is working now then.

[2018-08-23 12:42] TiSer commented on #5371
@mxdavis Yes, thank you!

[2018-08-23 20:26] chetan-alef commented on #257
From the docs

`config.filters = false`

[2018-08-24 08:53] SxDx opened #5459 "CSV Export columns for associations"
### Setup

[code]

### Expected behavior
Something like this:
[code]
### Actual behavior
Currently we have to use the following workaround

[code]

I feel like this could be a very common use case, am I missing the obvious solution here?
AFAIK there is no way to get the current instance in the csv block, only `@collection` is available and there is no csv equivalent to `table_for` which is availab

[2018-08-24 17:14] varyonic commented on #5449
Are you using an [auditing plugin](https://github.com/activeadmin/activeadmin/wiki/Plugins#auditing)? I don't understand your expectation.

[2018-08-24 17:28] varyonic commented on #5407
@vishalTatvaSoft are you still having this issue?

[2018-08-24 19:31] shivabhusal commented on #5449
I solved this issue by using custom filter like
[code]
The issue was: I am using `paper_trail` gem for versioning. The user records has thousands of versions. This might be the issue. By default `active-admin` tried to put filter for versions. Millions of `option` object flooded the HTML document.

[2018-08-24 19:31] #5449 closed

[2018-08-26 13:43] LucasCioffi commented on #3682
Also, there is a solution here in the Formatastic repo: https://github.com/activeadmin/activeadmin/issues/4178
[code]

[2018-08-27 20:43] mackermedia commented on #5326
FWIW: I'm not using haml, but am doing the same thing in a rendered form partial and seeing the same results :-/

[2018-08-28 13:11] varyonic commented on #5326
My advise is not that you should avoid Haml.  My advise is that you should use Arbre instead of Erb, Erubi, Haml, Slim or any other ActionView based template engine, especially and in particular for has_many partials. Maybe it can and should be fixed, but that is the way it currently is.

[2018-08-28 15:56] mackermedia commented on #5326
@varyonic : Thanks for your reply. However, I'm using an ERB partial, and not HAML. :-/

[2018-08-29 16:59] reicheltd commented on #3966
@blocknotes thanks. that worked for me.

[2018-08-30 12:02] Ritesh-Katare commented on #340
@dchersey @rivella50 Thanks for inline js stuff,
Could you please help to append html element from inline js in active admin with "script" helper?

[2018-08-31 06:21] LuckyScott opened #5463 "set default_per_page=[10,30,50], NoMethodError in Admin::Model#index per_page.to_i"
**ActiveAdmin Version:  ~> 1.0**

I set default_per_page like this:
[code]
and disabled pagination
[code]

**But Got an Error:**
NoMethodError in Admin::StockDayBars#index
undefined method `to_i' for [10, 30, 50, 100]:Array
Did you mean?  to_s
               to_a
               to_h
[code]

**Ccallstack trace:**
activeadmin (1.3.0) lib/active_admin/views/components/paginated_collection.rb:105:in `

[2018-08-31 15:32] chumakoff commented on #5459
You can't create a table based on a single record instance because the columns set has to be the same for all records.

In your case the expression `order.order_lines` might return different number of items for each `order`. How do you expect to build the table header (the set of columns) this way? It doesn't make sense.

The workaround (so called) you use seems to be the only right solution in yo

[2018-08-31 16:16] chumakoff commented on #5456
First of all, it has to be:

[code]

The second problem is that if you want to sort by `COUNT(gold_stars.id)` then the SQL query has to include JOIN with `gold_stars` table and a GROUP BY clause so you can use an aggregate function in the ORDER clause. I am not sure it will work, might depend on DBMS.

So you should somehow modify the base scope to make it work with your new sorting conditions:

[

[2018-09-01 15:34] ppsshh commented on #5335
For those who are interested, here is workaround for this issue, which helped me to preserve all applied filters:

[code]

There, `redirect_to request.referer` will do the trick.

[2018-09-01 15:35] #5335 closed

[2018-09-03 15:30] chumakoff commented on #5445
This change is not good. `:allow_destroy` option is intended for destroying persisted records. Your problem is related to new records.

What if someone doesn't want to destroy persisted records, but wants to be able to add and delete (by 'remove' button) new records? Setting `:allow_destroy` to `false` in order to prevent persisted records destruction will hide the 'remove' button of the new recor

[2018-09-04 02:16] omitter commented on #5445
That's true. Unfortunately, it's impossible right now to configure the destroy button for new records, that's why I am suggesting this. Also, isn't it strange that the `new_record` and `allow_destroy` option behave differently on new records?

I have a few ideas:
1. Don't make the allow_destroy option distinguish between new records or persistent records at all. It it's true/false the button is sh

[2018-09-04 05:30] bv-sumit opened #5466 "has_many_association making it slow"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

What do you think should happen?

### Actual behavior

[2018-09-04 10:40] #5466 closed

[2018-09-04 12:55] chumakoff commented on #5445
No, sorry, I don't like the option 2. As I have already sad, the `:allow_destroy` option has it's own purpose and shouldn't be mixed with "Remove new record" logic. This is my opinion.

You should also keep in mind that not only boolean can be passed as the `:allow_destroy` option, but also String, Symbol, Proc.

By the way, using `Rails`'s `:fields_for` method instead of `Formtastic`'s `:inputs`

[2018-09-05 03:04] omitter commented on #5445
Well then, maybe consider option 1 for active_admin 2.0. I think it's much more straight-forward and gives the user more control.

Of course this could also be implemented with another option (`:no_destroy_button`), but having `:allow_destroy` and `:no_destroy_button` is confusing on it's own. (Thus I favour option 1.)

Thanks for your suggestion with `f.fields_for`. `f.semantic_fields_for` does t

[2018-09-07 06:23] gitlubtaotao opened #5473 "active_admin resource"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

What do you think should happen?

### Actual behavior

[2018-09-07 14:39] varyonic commented on #5473
Did you intend to post something?

[2018-09-11 19:59] gkop commented on #1375
Thanks for the discussion Manu and Sean :+1: The encoded characters are really annoying - could we avoid them when JS is enabled in the browser by doing a window.location redirect instead of a GET form?

[2018-09-16 08:03] grimmwerks opened #5477 "rails5 update with select2-rails -- attribute error"
I've got a class that used to work before I updated to Rails 5 -- basically a show with many episodes where the user can select and reorder the sort of the epiodes with the select2 gem -- which means it passes in a hidden s2_episode_order param for me to set the order -- but now it's throwing an unknown attributes error.

I'm sure it's something simple I'm missing, but its 4am for me right now:

[

[2018-09-16 17:50] kazu9su commented on #5283
@varyonic
I investigated this issue and found that `FormBuilder` becomes to depend on `Resource` to implement this feature(I guess it means `FormBuilder` depends on `Application`), but I wonder it is a correct approach or not.

I'd appreciate if I could listen to any opinion if you have.

[2018-09-17 15:05] pedrojsn96 commented on #5333
This update broken my js dependencies :(
Are there another way to solve this?

[2018-09-19 12:06] newton10471 opened #5480 "how to specify Module::Class name for upgraded (1.1.0) ActiveAdmin association filters?"
I recently upgraded from ActiveAdmin 1.0.0.pre1 to 1.1.0. I notice now that filters using this format:

`filter :entity, as: :select, collection: V2::Entity.order(:name).pluck(:name, :id)`

No longer work, and fail with the error ‘uninitialized constant Entity’.

I think the reason for this is that (for legacy reasons) all of my models are in the ‘V2’ module, so it’s correct that Entity doesn’t ex

[2018-09-19 15:17] javierjulio commented on #5480
@newton10471 in [the docs it states to have the collection provided with a proc](https://github.com/activeadmin/activeadmin/blob/master/docs/3-index-pages.md#index-filters) for a filter. I'm not sure if the change was made to address something like this but its worth a try.

[2018-09-19 16:09] swedishpotato opened #5481 "Default Value for Boolean on Filter Not Working"
Hi,

If you have a Boolean field in your model, and try to set a default value for this in the filter, it doesn't work, i.e.

filter :my_boolean_field, input_html: {value: false }

Does not set the default value to false, as expected. Setting the default value on other types of field works as expected, but not Boolean.

I have a **very ugly** fix at the moment which looks like this:

filter :my_bo

[2018-09-20 08:41] glebtv commented on #697
Might be related - rails code reloading becomes slower with each reload, when anything is present in app/admin folder

To reproduce:
[code]

For one app I have, with 100+ activeadmin modules, it is 2s for first reload, 4s for second, and up to 2-3 minutes to complete hang in 10-15 reloads.

[2018-09-20 09:19] ndbroadbent opened #5482 "Renaming resource with a belongs_to breaks all the generated URLs"
I'm setting up the [ahoy](https://github.com/ankane/ahoy) gem to track some events, and want to show them in Active Admin. `ahoy` creates some models: `Ahoy::Event` and `Ahoy::Visit`. I just want to call these `Visits` and `Events`. I also want to query based on the user or account id.

`app/admin/ahoy/events.rb`:

[code]

When I visit `/admin/events`, I get the following error:

[code]

The URL g

[2018-09-20 09:27] ndbroadbent commented on #3647
I've run into this issue so many times over the last few years, and just ran into it again. I'm going to try to fix it and send a PR

[2018-09-20 11:30] ndbroadbent commented on #3647
Starting to get somewhere. In [lib/active_admin/resource/naming.rb](https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/resource/naming.rb#L5-L15), `resource_name` returns an instance of `ActiveAdmin::Resource::Name` with the correct `route_key` (using the `as` option.)

However, the problem is in the `polymorphic_path` method from [actionpack/lib/action_dispatch/routing/polymo

[2018-09-20 15:37] varyonic commented on #2160
I think this was resolved by #3633 and c6c435b82ed82e645fae60bd4fa95d3d0d47e4f9

[2018-09-20 15:37] #2160 closed

[2018-09-20 17:09] varyonic commented on #2573
Related to #221

[2018-09-20 17:50] varyonic commented on #4086
I’m going to close this since you haven’t responded. Please feel free to update this issue with additional information so it can be reconsidered.

[2018-09-20 17:50] #4086 closed

[2018-09-20 19:45] varyonic commented on #4887
I believe stasou is correct. I’m going to close this since you haven’t responded.  Please feel free to leave a comment requesting this issue be reopened if needed.

[2018-09-20 19:45] #4887 closed

[2018-09-20 20:02] varyonic commented on #4968
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or reopen this issue. Thanks!

[2018-09-20 20:02] #4968 closed

[2018-09-20 20:15] varyonic commented on #4976
I think this is a duplicate of #4614 which includes [this workaround](https://github.com/activeadmin/activeadmin/issues/4614#issuecomment-336416764). Please feel free to leave a comment requesting this issue be reopened if needed.

[2018-09-20 20:15] #4976 closed

[2018-09-20 20:36] varyonic commented on #5071
Were you able to resolve this?

[2018-09-20 20:47] varyonic commented on #5147
Closed by #5266

[2018-09-20 20:47] #5147 closed

[2018-09-20 21:10] ndbroadbent commented on #3647
Fixed in #5483

[2018-09-21 08:09] omitter opened #5484 "Tabs are not correctly created when using non-latin characters as title"
This is probably a low priority bug, but it kept me debugging for hours.

Using this code, tab links are not created correctly:
[code]

The id generated for the tab link is blank. This caused my app to reload itself continuously. Afaik jquery-ui interpreted it as link that should get loaded via ajax.

I think the problem is that `title.parameterize` returns `""` for non latin text [here](https://g

[2018-09-21 10:16] tetsuo692 commented on #4102
`spring stop` doesn't work for me.

` generate  active_admin:assets` for minutes.

[2018-09-21 14:47] varyonic commented on #5108
FYI HE:labs wrote up a ['quick add' feature using fancybox](https://helabs.com/artigos/2014/05/28/quick-add-and-quick-edit-on-active-admin/) that may be of interest to others. I see your PR was closed after some discussion. I think this might make a good [plugin](https://github.com/activeadmin/activeadmin/wiki/Plugins).

[2018-09-21 15:05] varyonic commented on #5124
I’m going to close this since you haven’t responded. Please feel free to update this issue with additional information so it can be reconsidered.

[2018-09-21 15:05] #5124 closed

[2018-09-21 15:09] varyonic commented on #5127
I’m going to close this since you haven’t responded.  Please feel free to leave a comment requesting this issue be reopened if needed.

[2018-09-21 15:09] #5127 closed

[2018-09-21 15:32] varyonic commented on #5148
aarek's explanation is correct. Maybe it was a bad design decision to use the action name directly as a generated controller method name (eg. without appending "_action"). Leaving this open because too many users follow the GitHub default and don't search closed issues.

[2018-09-21 17:13] varyonic commented on #5173
@Ziv-Barber does zimski's fix work for you?

[2018-09-21 20:58] deivid-rodriguez commented on #5484
Hi @omitter! Thanks for the report. I added this spec locally but it passes for me. Can you help me reproducing this with a spec?

[code]

[2018-09-22 01:57] omitter commented on #5484
@deivid-rodriguez Thanks for looking into this. If I understand the spec correctly, you're looking for the wrong thing. The `content` is fine, it's the `id` that gets set to `id="#"` (for any tag without latin letters). Sorry, I can't check it further before next week.

[2018-09-22 10:48] deivid-rodriguez commented on #5484
You're absolutely right, what was I thinking? :flushed: I'll have another look!

[2018-09-22 13:04] deivid-rodriguez commented on #5484
I see the problem now, the report is great, it's just my diagonal reading that made me misunderstand... :rofl:.

As per how to fix it, I don't have a strong opinion, but I have a slight preference for raising. Any other opinions?

[2018-09-22 13:10] deivid-rodriguez commented on #5484
Something like

[2018-09-22 13:17] javierjulio commented on #5484
If it’s unexpected I think raising an error would be best? You could do it as a warning but I feel like that could be easily missed. The message is great to start with. 👍🏻

[2018-09-23 09:58] omitter commented on #5484
I just found out that there's actually no need for advanced transliteration, [only spaces need to be eliminated to be valid HTML5](https://mathiasbynens.be/notes/html5-id-class). So `.gsub(/[[:space:]]/, '')` should work too.

[2018-09-23 13:52] deivid-rodriguez commented on #5484
That's pretty cool! I guess we could then entirely drop the `parameterize` call, but I think it's better to conservatively introduce this only as a fallback for the problematic cases. What do you think?

[2018-09-24 06:08] omitter commented on #5484
You mean something like: `fragment = options.fetch(:id, title.parameterize); fragment = title.gsub(/[[:space:]]/, '') if fragment.blank?; raise "…" if fragment.blank?`. That sounds good to me. We should definitely not change the default `parameterize` call, people might be using custom JS that looks for the ids. Might keep it in mind for a new major version though. It would fix strange behaviour w

[2018-09-24 10:51] deivid-rodriguez commented on #5484
Yes, this is exactly what I meant, and I want to keep it the same for the reason you indicated :+1:

I like the last idea you mentioned, would you like to work on a PR?

[2018-09-25 01:29] jeffblake commented on #5316
I am getting a lot of these as well, when starting the server and loading the console. For example this resource

[code]

triggers

```Warning: method `login` already defined```

[2018-09-25 05:51] omitter commented on #5484
I can have a try. Do you think this would be compatible enough, as the behaviour for non-ascii titles will change?

[2018-09-25 11:18] deivid-rodriguez commented on #5484
You're right, I was thinking that non-ascii titles were already broken so we could change the behavior, but I guess they're working in some cases and people is realying on it.

Let's go with

then!

[2018-09-25 14:29] saphirstone commented on #4896
hi guys! I have the same problem now! @brunto has solved the bug so can you tell me what did you paste on active_admin.js when you overwritten it? thanks

[2018-09-27 14:08] ndbroadbent opened #5493 "Set the correct host when redirecting in integration tests"
Hello! I'm trying to write some integration tests for my ActiveAdmin code. I'm using Capybara to walk through a series of steps and make sure I don't break any of my index/show/update actions.

Here's a simple example:

[code]

This fails with:

[code]

I think I figured out the problem. The initial request goes to `http://www.example.com/admin/accounts/1`.

But after saving the record in the `#up

[2018-09-27 14:31] ndbroadbent commented on #5493
I just found the (Testing your ActiveAdmin controllers with RSpec)[https://github.com/activeadmin/activeadmin/wiki/testing-your-activeadmin-controllers-with-rspec] wiki page.

I converted my admin feature specs into controller specs using that example. (It was a great idea to use `render_views` and `let(:page) { Capybara::Node::Simple.new(response.body) }.)

But I'm still running into the same pro

[2018-09-27 19:14] varyonic commented on #5188
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or reopen this issue. Thanks!

[2018-09-27 19:14] #5188 closed

[2018-09-27 19:25] fanantoxa opened #5494 "lambda in scope conditional causes exception"
### Expected behavior
[code]
I expect to see `All accepted` tab. And `Not accepted` only if condition id `true`

https://activeadmin.info/3-index-pages.html
Here in doc I've find how to add condition at paragraph `Index Scopes`

### Actual behavior

[code]

If I change `->` to `proc` everything works fine

### How to reproduce

(provided code above)

[2018-09-27 19:37] varyonic commented on #5201
This may have been resolved by #5220 but in any case it is a good workaround. I am going to close but feel free to leave a comment requesting this issue be reopened if needed.

[2018-09-27 19:37] #5201 closed

[2018-09-27 20:35] varyonic commented on #5231
I'm going to go ahead and close as a duplicate. Please feel free to leave a comment requesting this issue be reopened if needed.

[2018-09-27 20:35] #5231 closed

[2018-09-28 12:51] varyonic commented on #5235
I agree that the default behavior should be closed instead of open, Active Admin exports should be secure by default. If the default behavior is changed configuration flags should also be provided to make it easy to revert.

[2018-09-28 13:20] varyonic commented on #5280
I’m going to close this since you haven’t responded. Please feel free to update this issue with additional information so it can be reconsidered.

[2018-09-28 13:20] #5280 closed

[2018-09-28 14:02] varyonic commented on #5288
Resolved by platanus/activeadmin_addons#172

[2018-09-28 14:02] #5288 closed

[2018-09-28 14:17] varyonic commented on #5302
I agree. Feel free to reopen if further action required.

[2018-09-28 14:17] #5302 closed

[2018-09-28 14:29] varyonic commented on #5310
Looks like a good approach to me.

[2018-09-28 14:29] #5310 closed

[2018-09-28 15:31] varyonic commented on #5318
I’m going to close this since you haven’t responded. Please feel free to update this issue with additional information so it can be reconsidered.

[2018-09-28 15:31] #5318 closed

[2018-09-28 15:58] varyonic commented on #5329
I’m going to close this since you haven’t responded.  Please feel free to leave a comment requesting this issue be reopened if needed.

[2018-09-28 15:58] #5329 closed

[2018-09-28 17:37] varyonic commented on #5353
Is this a dup of #2718?

[2018-09-28 18:45] varyonic commented on #5392
Closing this issue as it's been inactive for several months. Please feel free to open a new issue or reopen this issue. Thanks!

[2018-09-28 18:45] #5392 closed

[2018-09-28 18:49] #5397 closed

[2018-09-28 18:54] #5398 closed

[2018-09-28 20:33] varyonic commented on #5463
Related? #5429

[2018-09-28 20:59] varyonic commented on #5442
I’m going to close this since you haven’t responded. Please feel free to update this issue with additional information so it can be reconsidered.

[2018-09-28 20:59] #5442 closed

[2018-09-29 18:39] varyonic commented on #5455
Maybe `establish_connection` will work, see https://stackoverflow.com/questions/30100072/move-activeadmin-queries-to-different-database and maybe follow up there.

[2018-09-29 23:36] #5473 closed

[2018-09-29 23:44] varyonic commented on #5477
Perhaps StackOverflow would be better for this.

[2018-09-29 23:49] varyonic commented on #5481
Did you see #5318?

[2018-09-30 03:21] oni7uka opened #5497 "Separating scopes by groups is not working."
I've seen in the doc [https://activeadmin.info/3-index-pages.html](https://activeadmin.info/3-index-pages.html) at `Index Scopes` section that I can separate my scopes in groups.
So I tried adding:
[code]
But nothing happen:
![issue](https://user-images.githubusercontent.com/15939343/46252876-c0e7de00-c4a1-11e8-81a2-4d29041fb1f9.png)
The jvccbar is  defined in `namespace` group, so i think it shou

[2018-09-30 07:38] swedishpotato commented on #5481
Yes indeed. I have the same problem as the other author. It is extremely easy to replicate this problem. Any Boolean value in a table will do. I have the latest version of AA from github. Boolean is the only filter value that doesn’t seem to work as expected.

[2018-09-30 11:47] deivid-rodriguez commented on #5497
Ths is because this feature has not yet been released, so there's indeed a problem here: discrepancy because the published docs in the website and the released features. We need to figure out how to tackle that, I'll open a new ticket.

Regarding the [groups feature](https://github.com/activeadmin/activeadmin/pull/5359), you can opt in for now by pointing your app against master.

[2018-09-30 11:51] deivid-rodriguez opened #5499 "Documentation does not match released features"
### Expected behavior

If I go to the documentation site, and I see a feature documented, I should be able to use it or at least be informed about the series it was (or will be released).

### Actual behavior

Features are documented in the website as soon as the land into master, but the release cycle is much slower.

### How to reproduce

See #5497 for an example.

[2018-09-30 12:01] deivid-rodriguez commented on #5499
Possible solutions:

* Different sections/tabs in the website for each release series.
* Move the GH-pages build to the latest stable (there still would be a gap between docs and code releases, but much slower).
* Push to GH-pages only upon release.
* Document the release date (past or expected) with each feature.

I think maybe the easiest are the second or third options? In the third option, doc

[2018-09-30 13:29] varyonic commented on #5499
My preference is the second. We can always back-port significant fixes.

[2018-09-30 14:35] varyonic commented on #3833
@deivid-rodriguez you self-assigned. Your thoughts?

[2018-09-30 17:03] deivid-rodriguez commented on #3833
I forgot I had self-assigned this! I probably did this because I run into it myself and wanted to fix it. My thoughts are that this should be the default behavior.

[2018-10-03 10:55] aabdaab commented on #3673
@SamMolokanov how about shared `page_action`s ?
I tried to use it analogically

# SharedAdmin Concern
[code]
and then in my page

[code]
but it's not working, it doesn't register the route.
Any idea what am I doing wrong?

[2018-10-06 22:50] deivid-rodriguez commented on #5494
@fanantoxa I fixed this issue in #5501, can you try the fix and confirm?

[2018-10-06 22:52] deivid-rodriguez commented on #5410
@AlexVentura Could you share a public application that reproduces this issue?

[2018-10-07 16:02] DeeDeeG opened #5502 "Ruby Sass ("sass" gem) will be end-of-life March 26th 2019 - Consider switching to "sassc-rails" or "sassc""
See this blog post: http://sass.logdown.com/posts/7081811

And this issue over at sass-rails: https://github.com/rails/sass-rails/issues/420

The ruby implementation of sass is already designated as "deprecated", so it's *already* in maintenance mode. They will be archiving the repo and not accepting issues or pull requests after March 29 2019. So it is going to eventually get stale.

I would like

[2018-10-07 21:09] deivid-rodriguez commented on #5499
I just checked the repo settings and https://help.github.com/articles/configuring-a-publishing-source-for-github-pages/, and I don't think there's a built-in way to do it? :thinking:

[2018-10-08 13:21] fanantoxa commented on #5494
@deivid-rodriguez Works good now. Thank you

[2018-10-08 13:44] varyonic commented on #5499
I prefer maintaining a `gh-pages` branch as we had before, but it's not a big concern to me.

[2018-10-08 14:37] deivid-rodriguez commented on #5499
So, I guess we could go back to the old setup and trigger a push to the `gh-pages` branch everytime we merge to the latest stable?

[2018-10-08 17:47] #5494 closed

[2018-10-08 20:49] heridev commented on #3085
This is the way I'm sorting by custom values and preventing n + 1 queries
[code]

and then in your tech_results section, you want to render an organization field, in my case the value `tech_result.user.organization.name` this is the way to sort them out:

[code]

[2018-10-08 22:05] deivid-rodriguez commented on #5484
@omitter ping!

[2018-10-09 02:10] omitter commented on #5484
Ah, sorry, I was not sure you needed a pull request by me.

[2018-10-09 02:34] omitter commented on #5484
Created it here: #5508

[2018-10-11 06:26] rrameshbtech opened #5510 "Incorrect code template in Auditing via paper_trail document"
### Expected behaviour

When a change is done in a model for the first time, we need to see the previous version in the show page.

### Actual behaviour

When a model is changed for the first time, it does not show the previous version and just shows only the current version.
If we change the same model again for the second time, it shows only the previous version and does not shows the first vers

[2018-10-11 07:42] rrameshbtech commented on #5510
Invalid issue. This case occurs only when the models have data already present and then we add papertrail.

[2018-10-11 07:42] #5510 closed

[2018-10-11 21:36] borenho commented on #4483
Hi guys, if anyone finds themselves here again, i found a helpful solution from Ryan Bates' screencasts. Just call the order function and pass the column name with which you'd like to have it sorted, and the how(desc or asc).

[code]

[2018-10-12 10:11] Barlog951 opened #5513 "Search produces in materialized view raise RuntimeError No table named ... exists"
Hi,

I follow [this](https://www.sitepoint.com/speed-up-with-materialized-views-on-postgresql-and-rails/) tutorial for creating materialized view in DB (PostgreSQL)

This is my model
[code]

This is my ActiveAdmin controller
[code]

`#index` works fine, everything shows up, sortable columns works as well,
but when I try filter I got `RuntimeError - No table named metered_period_reports exists.:`
T

[2018-10-12 14:33] Asterrea commented on #5333
Filter on activeadmin gives this error. I tried updating to activeadmin 1.1.0 - the following dependencies broke not sure how to fix yet

`Bundler could not find compatible versions for gem "actionpack":
  In Gemfile:
    active_model_serializers was resolved to 0.10.7, which depends on
      actionpack (< 6, >= 4.1)

    csv_builder was resolved to 2.1.1, which depends on
      actionpack (>= 3.0

[2018-10-12 14:45] deivid-rodriguez commented on #5333
@Asterrea Activeadmin 1.0.0 or higher does not support the Rails version you're using (4.1.16). You should first upgrade Rails to 4.2 at the very least, and only then attempt to upgrade `activeadmin`. The error message you're getting is big, but the culprit that explains this is this bit:

[code]

I guess another workaround for you until you can upgrade Rails could be to downgrade ransack back to

[2018-10-14 21:41] deivid-rodriguez opened #5518 "Consider setting up bors-ng for evergreen master and never needed rebases"
### Expected behavior

* Master is always green.
* Contributors to never need to rebase PRs if they don't have any conflicts with master.

### Actual behavior

* Merging a bad combination of PRs could result on a red master. We don't have continuous deployment, we're not even a final application, so it doesn't sound like a huge deal. But situations like this usually require "follow-up PRs" that ca

[2018-10-15 07:11] lokiirss commented on #4783
I used
 can? :manage, (ActiveAdmin::register_page 'My Page')
but looks like my menu bar is now extending the menu dropdowns to individual menu links!
Adding the above line is causing it. Any other way to enable activeadmin custom page to have access to all the database objects regardless of which user has logged in. Because my custom page is for viewing some data.

[2018-10-15 12:05] Uelb commented on #4531
Hey, Is it possible to add this to the documentation ? I'd gladly do it but I'm not sure if there is a repo for it

[2018-10-15 13:08] deivid-rodriguez commented on #4531
The documentation is inside the `docs` folder in this same repo!

[2018-10-15 14:44] deivid-rodriguez commented on #4975
@aashishgarg I just tried to reproduce this following your steps and confirmed this works as expected. I'm going to close this but feel free to reopen providing a sample application where this can be reproduced. Thanks!

[2018-10-15 14:44] #4975 closed

[2018-10-17 08:04] omnikron commented on #5333
@deivid-rodriguez downgrading to ransack 1.8.4 fixed this issue for me in rails 4.2 + activeadmin 1.0.0.  I would love to update activeadmin instead, but there's an issue with rails 4.2 and jquery that breaks the asset pipeline.

[2018-10-18 23:47] ardation commented on #4294
@risinglf I got to the bottom of this in the end when I was trying to do the same thing.

In my engine.rb file I had been specifying `isolate_namespace Admin` which was causing the routes to register as:

[code]

Once I had removed this it worked successfully. Hope this helps the next person who is trying to get activeadmin working inside an engine!

[2018-10-19 01:42] #5235 closed

[2018-10-19 15:01] joshmn commented on #5513
Can you create an example application?

[2018-10-23 10:57] kxu1988 commented on #4670
it is pity

[2018-10-24 10:56] matssigge commented on #5316
I'm also getting this for several "login" actions. Changing to "log_in" gets rid of them when running the rails server, but when running my specs, I still get one instance of "method 'log_in' already defined". Also, I get the same message for three other member_actions, and they are definitely not colliding with anything defined somewhere else - the names are unique to the app and to one admin res

[2018-10-24 15:55] hendricius commented on #5258
Please see here: https://github.com/activeadmin/activeadmin/issues/5258. I fixed it only in the 1.2 branch. I also had to do the same things `priegler` did for this to work.

[2018-10-25 19:40] Kayne opened #5538 "How to don't use/display STI models?"
Hello, I have special model which uses STI however the inhertited models doesn't really exists as ActiveRecord models. And ActiveAdmin goes crazy.

Is there any way to tell ActiveAdmin to not treat type column as STI mechanism and treats it as regular string attribute?

[2018-10-25 19:42] #5538 closed

[2018-10-26 02:40] #4257 closed

[2018-10-26 03:14] javierjulio commented on #4257
The dinner offer only applied if this was still on Travis! 🤣 So glad that we were able to get this in. Thanks!

[2018-10-26 09:05] seanfcarroll opened #5539 "Slightly confused on versioning"
Hi, thank you @varyonic, @javierjulio and all the other contributors for a great gem and massive amounts of hard work.

I'm slightly confused on the versions and changelog.

- Currently, I am running ActiveAdmin **1.3.0**.
- [Rubygems](https://rubygems.org/gems/activeadmin/versions/0.6.6) says the latest version is **1.3.1**
- The [version file](https://github.com/activeadmin/activeadmin/blob/mast

[2018-10-26 11:21] deivid-rodriguez commented on #5539
Hi @seanfcarroll, all of your bullet points are correct. The only thing wrong is that we need to merge the changelog bits from 1.3.1 back to master. Is there anything else that's confusing you other than that?

For now the focus is to release in 1.4.0 with a few improvements. Then we'll get back to working on 2.0.0.

[2018-10-26 12:29] deivid-rodriguez commented on #5539
We have been struggling to decide how to proceed with the CSS overhaul, so my idea is to ship a much lighter 2.0 release just dropping support for old Rails and rubies and a few other minor breaking changes.

[2018-10-26 12:30] #5539 closed

[2018-10-26 14:31] JymsD commented on #2373
This can help https://medium.com/@acesubido/part-2-adding-two-factor-authentication-in-activeadmin-cc5eab67057c

[2018-10-30 15:23] shagabutdinov opened #5546 "ActiveAdmin.register_page "content" does not run when tested by rspec"
### Expected behavior

When I test `register_page`, `#content` should be executed and the result should be returned to rspec test.

### Actual behavior

`content` is not executed and the response body is "".

### How to reproduce

[code]

If I use `page_action :index` instead of `#content` everything works fine.

[2018-10-30 15:42] javierjulio commented on #5546
@shagabutdinov can you please share what routes are generated for that by running `rails routes | grep "test_page"`?

[2018-10-30 16:09] MikeRogers0 commented on #4171
Another thing you can do is:

[code]

[2018-10-30 18:50] shagabutdinov commented on #5546
Sure, here you go:

[code]

Also, I've found out a workaround: if `render_views` are specified in test then it works.

Probably, the issue can be closed but a note should be added to wiki in that case.

[2018-10-30 21:06] MikeRogers0 commented on #5316
Just something I noticed while trying to find a fix in https://github.com/MikeRogers0/ActiveAdminDefinedMethodDemo

If I add `puts "I'm being evaluated I think"` into `app/admin/projects.rb`, then run `RACK_ENV=production RAILS_ENV=production bx rails c`, I get the output:

[code]

I think perhaps `config.cache_classes = true` in `config/environments/production.rb` is causing the `app/admin/*` fol

[2018-11-01 04:44] Chucheen opened #5547 "Is there a way to avoid activeadmin startup when spinning the server up?"
I have several admin files that, in order to build scopes, do queries to other tables. The thing is that my rails server, rails console, rake task, etc, is taking too long to start. Plus, as active_admin depends on certain data from the database, and my server configuration (using Chef) hasn't created it, it raises an error. I don't understand why it loads all the files from the very beginning if

[2018-11-01 15:37] MikeRogers0 commented on #5547
You could load ActiveAdmin when an `ENV` is present, a bit like:

[code]

I'm not 100% if this will stop ActiveAdmin from loading the files, but it might reduce the routes building time.

[2018-11-01 19:52] MikeRogers0 commented on #5316
Good news, I found a way to fix this 😊

Move your folder `app/admin` to `lib/admin`, then in your `config/initializers/active_admin.rb` file add:

[code]

[2018-11-04 09:17] krthi opened #5549 "Displaying wrong entries count inside table"
I am trying to add pagination inside table, I added initializer as suggested in this issue as I am using will_paginate gem(https://github.com/activeadmin/activeadmin/issues/1833)

Here is the code for adding the pagination for the table,

[code]
It renders the records as the 'per' count in the pagination, But the links it displays wrong count as below,

![screen shot 2018-11-04 at 2 29 39 pm](http

[2018-11-06 18:32] bdezonia commented on #5316
MikeRogers0,

I get initialization errors during load if I do this. I am on rails 5.1.6.

[2018-11-07 10:08] MikeRogers0 commented on #5316
@bdezonia What initialization errors are you seeing?

[2018-11-07 22:02] bdezonia commented on #5316
@MikeRogers0

Here is the beginning of a stack trace:

DOM10300:reggie_rails bdezonia$ rails s
=> Booting Puma
=> Rails 5.1.6 application starting in development
=> Run `rails server -h` for more startup options
Exiting
/Users/bdezonia/.rvm/gems/ruby-2.3.8@reggie_rails/gems/activesupport-5.1.6/lib/active_support/dependencies.rb:512:in `load_missing_constant': Unable to autoload constant Admin::Con

[2018-11-08 07:47] chriso0710 opened #5551 "Rails 5.2 usage with webpack, without sprockets or coffeescript"
Hi all,

for a new project I am thinking about using Rails 5.2 with webpack and ES6 only. This would mean no standard rails asset pipeline, no sprockets and no coffeescript.

I was wondering, if this setup would be possible and compatible with AA? Can AA use webpack for assets? I would appreciate any tips, thanks.

Christian

[2018-11-08 13:57] varyonic commented on #5551
You can use webpack for your non-ActiveAdmin code and leave the asset pipeline for ActiveAdmin. If you search the issues and PRs, both open and closed for this project (sprockets, webpack, ES6, coffeescript, etc) you will find more background, eg. #5168, #4779.

[2018-11-08 15:32] chriso0710 commented on #5551
Thanks @varyonic, I read that and already suspected that running both technologies in parallel seems to be the only way ATM. It's a pity, that there is no cleaner approach. I would love to throw out sprockets and coffeescript for new projects.

IMHO it would be fantastic to have AA only use ES6 and webpack. Would you consider this important? Are there any plans or efforts going on?

[2018-11-08 15:41] javierjulio commented on #5551
@chriso0710 there are no plans that I know of but yes we would definitely consider something. I'd love to know more about what it would take and whether it is possible to make the sprockets optional for AA users. I think it will still remain the default though. From what I've seen on Rails, the asset pipeline is here to stay but I do know that several developers have gone all in with webpacker and

[2018-11-08 16:05] senid231 commented on #4779
I think now we can reopen it again
Now, when we only support Rails 5+

[2018-11-08 21:54] sgara opened #5553 "Batch action with turbolinks attaching click event twice"
Hi,
We'be been using activeadmin with turbolinks quite successfully for some time. While migrating to Turbolinks 5, I encountered an issue on batch actions : seems like both `ready` and `turbolinks:load` are trigger, which causes click handler to be attached twice.

I've recreated a simple project from scratch to check if that wasn't coming from our side and I do reproduce it. Basically just a bra

[2018-11-09 11:35] chriso0710 commented on #5551
Thanks. Yes, it looks like sprockets version 4 will made a good step forward, but I still have the strong feeling that the rails community moves away from sprockets to other tools like webpack. And coffeescript is dead IMHO.
I don't know how much effort it would take and if it's worth at all to migrate AA to webpack.
I will most likely run webpack and sprockets side by side in the meantime, should

[2018-11-12 12:48] amiuhle opened #5554 "destroy defined inside create for CommentsController"
https://github.com/activeadmin/activeadmin/blob/276d57f7027b89bd3f6a358e987b6687d093cbdc/lib/active_admin/orm/active_record/comments.rb#L75

[2018-11-12 16:14] soundnotation opened #5556 "Javascript toastr"
I want to show *toastr* notifications through *JavaScript* in my *ActiveAdmin*, possibly with translations. I put the following code in `app/assets/javascripts/active_admin.js.coffee`:

    #= require active_admin/base
    #= require activeadmin_addons/all
    #= require bootstrap-typeahead-rails
    #= require ./helpers/search
    #= require toastr/toastr
    #= require i18n
    #= require i18n/t

[2018-11-12 18:56] bramski commented on #2077
Now broken again...
activeadmin 2.0.0.alpha
rails 5.1.6
cancancan 2.3.0

[2018-11-12 20:10] varyonic commented on #5556
Cross post https://stackoverflow.com/questions/53265872/activeadmin-and-js-toastr

[2018-11-13 10:17] seanfcarroll opened #5558 "Road to Rails 6"
Rails 6 will [use Webpacker as the default](https://github.com/rails/rails/pull/33079). Supporting this can also be an opportunity to modernize ActiveAdmin assets, for distribution by Webpacker. This could also fall in line with the ActiveAdmin 2.0 release.

Some discussion on assets has been [made here](https://github.com/activeadmin/activeadmin/issues/3392)

My suggestion is that we move all ass

[2018-11-13 10:43] seanfcarroll opened #5559 "Open Collective"
I wonder if the key commiters of Active Admin would be interested in [Open Collective](https://opencollective.com/). It seems to have good traction for [larger projects](https://opencollective.com/discover) like Webpack and Babbel.

[2018-11-13 10:56] deivid-rodriguez commented on #5558
Hi @seanfcarroll, Rails 6 is indeed a great opportunity for doing things in more modern ways, but it's also a great challenge, I'm currently focusing on releasing what we now have in master, and I'll then try to give these challenges more thought.

[2018-11-13 10:58] deivid-rodriguez commented on #5559
I am, for sure. I actually started a discussion on the Tidelift forum about how the services could [work together](https://forum.tidelift.com/t/opencollective-tidelift/81/6).

[2018-11-13 11:03] seanfcarroll commented on #5559
I think these movements are a good idea. Maintaining open source takes a lot of work, and money should not be it's own reward, but a bit for key contributors is a good idea.

Another project is https://rubytogether.org/

[2018-11-13 11:49] deivid-rodriguez commented on #5559
Yes! Each of these projects is very unique but they share some common goals, and they are doing a great job on improving the overall situation of open source. :tada:

[2018-11-13 13:37] amaridev opened #5560 "AdminComment priority in menu ignored."
Hi,
I have AdminComments enabled and it shows up in the top menu bar. Thing is, ordering is completely ignored as it seems.

### Expected behavior

I have given all resources a priority, starting with 1 up to 11. I wish to have the Admin Comments at position 12.

In the config I set the following:
* config.comments_menu = { parent: 'Admin', priority: 20 }

### Actual behavior

No matter what prior

[2018-11-13 15:08] javierjulio commented on #5559
Yes, I agree, all these are great! I'm for it. 👍🏻

[2018-11-13 15:33] javierjulio commented on #5558
@seanfcarroll no, Rails 6 will not drop Sprockets. When you have time make sure to read all the comments in that PR. I'm very familiar with it as I had gone through it about a month or two ago when I worked with webpacker to see what it would be like. I was curious as to why support was there for both. After having tried it though I can see why.

That's what makes me wonder if perhaps for AA users

[2018-11-13 15:34] seanfcarroll commented on #5558
This would be a good stepping-stone.

[2018-11-13 21:00] notriddle commented on #5518
I bet @indirect would help set up bundlerbot for you. 😏

[2018-11-14 09:40] deivid-rodriguez commented on #5518
@notriddle Since I got you here, do you think the hosted version will work for us, or do you recommed that we set it up on heroku or somewhere else ourselves (I think this is what bundler does?)?

[2018-11-14 14:16] notriddle commented on #5518
There are basically three reasons that the hosted version wouldn't work:

* You are using private, or Enterprise, GitHub repositories
* You need better uptime and security guarantees than "a stranger on the internet runs it"
* You want custom patches

Most people who've asked me for help self-hosting work for companies that do proprietary software, so I'm guessing the first reason is the most popu

[2018-11-14 16:57] deivid-rodriguez commented on #5518
I see, thanks! So I think I would try out first the hosted version (since it involves zero setup), and if we're happy with it after a while move to a self-hosted version.

[2018-11-15 14:40] jcavalieri commented on #2217
This appears to still be a problem with `gem 'activeadmin', '~> 1.3', '>= 1.3.1'`.

Is there are workaround that I missed? If not I don't think this issue should be closed.

[2018-11-15 19:08] abrambailey commented on #3833
`redirect_to request.referer` works, thanks.

[2018-11-15 21:57] ashishprajapati commented on #3819
Thanks @arif362 :) It helped me :)

[2018-11-16 12:15] claudioduarte opened #5567 "ActiveAdmin is calling an uninitialized constant that has changed name"
I wanted to create a model called GalleryItemApprove but, by mistake I mispelled it, leaving it GalleryItemApprofe. I have already changed the model name and class to the correct name, however, ActiveAdmin still calls the mispelled model.

Error:

`ActionView::Template::Error (uninitialized constant UniversityApproval::GalleryItemApprofe):`
    `1: insert_tag renderer_for(:new)`
  `app/admin/unive

[2018-11-19 09:01] edennis opened #5575 "coffee-rails still listed as runtime dependency in gemspec for 1.4.0"
### Expected behavior

There should be no more dependency to coffee-rails.

### Actual behavior

The dependency is still listed in `activeadmin.gemspec`

### How to reproduce

Install activeadmin via bundler and inspect `Gemfile.lock` which lists coffee-rails as being a dependency of activeadmin.

![screen shot 2018-11-19 at 9 57 41 am](https://user-images.githubusercontent.com/47961/48696376-10b1

[2018-11-19 09:06] deivid-rodriguez commented on #5575
This is correct, we'll drop the `coffee-rails` dependency in 2.0. I'll release a first prerelease for 2.0 shortly.

[2018-11-20 10:03] knagode opened #5578 "conditional scopes output strange output in index page"
After we upgraded to 1.4.0 we see that conditional scopes are outputting some strange debug info in the place where scopes should be.
[code]

This outputs:
![screenshot 2018-11-20 11 02 00](https://user-images.githubusercontent.com/4473199/48766001-bbde2880-ecb3-11e8-9fa5-f692802f18b1.png)

[2018-11-20 10:13] deivid-rodriguez commented on #5578
Thanks for the report @knagode! Let me have a look at this and I'll get back to you!

[2018-11-20 15:53] wenderjean opened #5579 "Pundit adapter raise errors when using namespace"
I'm trying namespace capabilities for pundit policies on `master` branch where this feature is already available in `ActiveAdmin::PunditAdapter` but this change has broken a previous behavior regarding to collection scopes.

When I try to access my administrative panel the following error is raised:

`undefined method reorder for #<Array>`

It happens because `ActiveAdmin::DataAccess#apply_authori

[2018-11-20 18:00] xxEoD2242 commented on #919
So, I'm not sure if you have found a solution to this or still need a solution, but I solved a similar issue the following way:

From my understanding, CanCan is looking for particular resources to authorize when using that callback for every action. Therefore, in ActiveAdmin, it doesn't explicitly create model files for certain models.  I had one for a different app and simply created a model for

[2018-11-20 20:55] knagode commented on #804
Any progress here? Would love this feature as well ..

[2018-11-20 20:58] javierjulio commented on #804
@knagode what exactly is missing? You can disable scope count per scope and also disable the pagination total count.

[2018-11-20 21:01] knagode commented on #804
@javierjulio Nice. I see that `show_count ` option was actually merged into master.

[2018-11-20 22:49] gsum commented on #3682
add a form in your /app/admin/users.rb
`form do |f|
  f.inputs do
    f.input :name
    f.input :city
    f.input :rooms
    f.input :code
    f.input :fund
  end
  f.actions
end`

[2018-11-21 09:08] deivid-rodriguez commented on #5333
@seb-sykio Could you open a new issue with steps to reproduce it? Also, can you reproduce the issue against activeadmin's master?

[2018-11-21 12:44] danielricecodes commented on #5333
Downgrade to ActiveAdmin 1.3.1.  It works with my Rails 5.2.1 app.  I also have ransack locked to 2.1.0 in that app as well and there are no problems.

[2018-11-21 15:46] deivid-rodriguez commented on #5578
Hello again @knagode! I tried to reproduce this in both master and 1.4.0 but I couldn't so I'm going to need you to create a sample application that reproduces the error. Thanks!

[2018-11-21 18:48] one-more-alex commented on #188
Thanks to @stnguyen  I found this convenient way.

Helpers in file
app/helpers/active_admin/scheduling_helper.rb
[code]

Then in app/admin/schedule.rb
[code]

Sometimes use of byebug + pry is very handy.

[2018-11-21 21:53] jedrekdomanski opened #5582 "Links are not working when registering page with as: '...' option"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior
Links are working
What do you think should happen?

###

[2018-11-21 22:39] jedrekdomanski commented on #5582
I actually figured it out. Thanks to one post on StackOverflow I jumped into the console and did `Rails.application.routes.url_helpers.generate_csv_admin_event_path` and got `NoMethodError: undefined method 'generate_csv_admin_event_path' for #<Module:0x00007fe55ddd58e8>
Did you mean?  generate_csv_admin_my_site_path` which explains how ActiveAdmin generates routes. Pretty awesome, however I will

[2018-11-21 22:39] #5582 closed

[2018-11-23 15:51] buren commented on #1714
At least since v1.4 this is how you add a custom footer:

[code]

[2018-11-23 17:56] deivid-rodriguez commented on #5554
:open_mouth:

So... is removing comments broken?

[2018-11-23 17:57] amiuhle commented on #5554
I don't think so, I suppose it's just somehow handled correctly in `super`?

[2018-11-23 17:59] amiuhle commented on #5554
Anyways, I can have a more detailed look at it, I just wanted to know whether I should adress this in #5555 or open another PR?

[2018-11-23 18:01] deivid-rodriguez commented on #5554
I think a separate PR is better :+1:

[2018-11-27 02:45] PhungGroup opened #5594 "activeadmin/activeadmin"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

What do you think should happen?

### Actual behavior

[2018-12-01 09:56] ndbroadbent commented on #188
I'm still struggling to figure out how to include a global helper method for all of my active admin pages. I want to add a `guid_column` method that I can call from my `index` block, as well as `id_column`.

I just re-opened and monkeypatched the `IndexAsTable` class in my own app, at `lib/active_admin/views/index_as_table.rb`:

[code]

And I have this at the top of `config/initializers/active_adm

[2018-12-01 13:00] ar4420 commented on #4102
@gsum, what version of active admin are you using? I'm still facing the same issue even after stopping spring, and using ` bundle exec rails g active_admin:install `.

Tried starting in a fresh shell as well.  Everything seems to hang on the `generate  active_admin:assets` step.

[2018-12-03 12:56] ezino9 commented on #2490
This is caused by destroying active admin resource but the model is still used in application.
Do db:rollback and then destroy the model

[2018-12-03 15:14] javierjulio commented on #188
@ndbroadbent perhaps another way you could do this is to create a new class that inherits from `IndexAsTable` and use the following to implement that new column method?

[2018-12-03 15:14] javierjulio commented on #188
@ndbroadbent perhaps another way you could do this is to create a new class that inherits from `IndexAsTable` and [use a custom index](https://github.com/activeadmin/activeadmin/blob/master/docs/3-index-pages.md#custom-index) to implement that new column method?

[2018-12-03 15:40] Origa7jeffrey commented on #5377
#5377 Keeps filiter input_html as an online database

[2018-12-03 16:40] deivid-rodriguez commented on #5377
@Origa7jeffrey Can you elaborate a bit? What do you mean?

[2018-12-03 19:19] colinrubbert opened #5618 "Why jQuery?"
I've been looking into using ActiveAdmin for one of my applications that I'm working on but what I can't understand is exactly why jQuery is being used?

What purpose does it serve?

Why not just use Vanilla JS and have people use jQuery IF they need it? I can't see anything other than datetime translation to a more human readable form. I can't see any other jQuery usage in the gem/app.

Could som

[2018-12-03 19:22] colinrubbert opened #5619 "--no-assets option at install"
Has there been discussion about having a **--no-assets** option for the initial install phase so that we can provide our own custom styling to be inline with the design assets of our application?

Something like this:
` rails g active_admin:install --no-assets`

I think it would be a beneficial addition to the application to remove the necessity of the included stylesheets and jquery.

[2018-12-03 19:31] javierjulio commented on #5618
@colinrubbert if you consider when ActiveAdmin was created, it will make a lot more sense why jQuery is used. As far as actual code, jQuery is used in most if not all our javascript files.

[2018-12-03 19:32] javierjulio commented on #5619
This can't be supported because that would also exclude javascript files which are essential for various components in ActiveAdmin.

[2018-12-03 19:38] colinrubbert commented on #5618
@javierjulio I understand the ecosystem when ActiveAdmin was created, however, we shouldn't lock ourselves into that ecosystem just because of "that's how things were back then" attitude.

I would think modernization and support would be an excellent way to advancing the gem and allowing more design freedom for people who want to use it.

There's no doubt that there would be some re-writing of the

[2018-12-03 19:40] colinrubbert commented on #5619
We could re-write those components with vanilla JS, eliminating a dependency.

Is there no way to have alt files for jQuery and vanilla js or no js?

I'm new at the whole gem building aspect of Ruby/Rails, enlightenment would be helpful.

[2018-12-03 20:03] javierjulio commented on #5618
We do because we need to maintain this. To rewrite without jQuery would be a huge effort. We would have to replicate key functionality ourselves or introduce some smaller libraries that do specific things like event handling. While it is doable some tasks are quite challenging. You're more than welcome to give it a try! It wouldn't hurt. We have test cases so you can see what you can tackle, fail

[2018-12-04 11:57] MikeRogers0 commented on #5316
@bdezonia What is defined in `lib/admin/contact.rb`?

[2018-12-04 21:43] bdezonia commented on #5316
Filters, batch actions, collection_actions, controller methods, and a form. Over 350 lines; I don't really want to post it.

[2018-12-05 15:57] #5463 closed

[2018-12-05 19:16] bdezonia commented on #5316
It's like this:

`ActiveAdmin.register Contact do
`

I have shared the code with you privately.

[2018-12-06 10:59] deivid-rodriguez commented on #5316
Thanks so much @MikeRogers0 for helping out here!

It'd be great if we could somehow get a platform independent reproduction via `docker`. I tried your reproduction application and I couldn't reproduce it... :disappointed:.

[2018-12-06 20:57] deivid-rodriguez commented on #5316
Not really :rofl:, that explains everything. I'll have a look again!

[2018-12-07 16:51] buren commented on #1714
@martinstreicher `config.footer` accepts a string or a proc, see [ib/active_admin/namespace_settings.rb#L21](https://github.com/activeadmin/activeadmin/blob/9a33a081c99d9aa19045d46155ffe5f51ea76710/lib/active_admin/namespace_settings.rb#L21).

[code]

[2018-12-07 17:04] martinstreicher commented on #1714
Thank you!

[2018-12-08 23:57] chevinbrown commented on #5618
I’m not super familiar, but I browsed through the assets and it appears the largest reliance is upon either jQuery ui or various plugins?
Would it be worth making an initiative to move away from jQuery? That is, a slow progressive move away? Or is that level of effort just not worth it?

[2018-12-09 00:05] javierjulio commented on #5618
@chevinbrown I don't think it's worth the effort at the moment. Personally, I think it would be more worthwhile to do 2 major things: use a CSS framework such as Bootstrap and replace Formtastic with SimpleForm (or something else). Of course using something like Bootstrap would still use jQuery but there could be another option that does not. I don't think jQuery is the problem here. It helps othe

[2018-12-09 02:13] javierjulio commented on #5618
@chevinbrown you aren't digressing. It's really all linked/related so its good to discuss. The reason is that we have to support the DSL we have now for outputting not just form controls, but their HTML wrappers and such for layout. That's why I suggest SimpleForm since it does this already. We'd have to create our own if not. There could be other libraries but I'm not aware of any.

I like Tailwi

[2018-12-09 16:01] deivid-rodriguez commented on #5170
Hei, so... This is essentially the only thing bothering me about releasing 2.0.0. Is our official solution to this problem recommending this external gem, or are we planning to provide something built-in to customize the layout?

My proposal for now is to revert this deprecation, release what we have in master, and then see what we do about this for ActiveAdmin 3.

Thoughts?

[2018-12-11 15:54] varyonic commented on #5170
I studied activeadmin_custom_layout and I can't recommend it. I did start on [changing ActiveAdmin to use Rails layouts](https://github.com/varyonic/activeadmin/commits/layout-refactor) but it's no longer a priority for me.

[2018-12-11 17:22] panasyuk commented on #5484
Working on specs for the PR i did small investigation and found that no one could use non-ascii symbols in tab IDs because jQuery UI Tabs simply would not work correctly with the IDs causing incorrect tab appearance and throwing errors. I've tried all jQuery and jQuery UI versions and none of them showed correct behavior.
Here's the experiment:
https://jsfiddle.net/panasyuk/jtL6rhcy/21/

This mean

[2018-12-12 16:05] emcoding opened #5643 "Trix editor"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

I like to use the Trix editor (part of Rails 6), but th

[2018-12-12 23:52] ch000 commented on #5643
`f.rich_text_area :something` is working for me.

[2018-12-13 21:15] varyonic commented on #5618
See #5048

[2018-12-13 22:00] panasyuk commented on #5484
@deivid-rodriguez @omitter what do you think?

[2018-12-14 03:10] omitter commented on #5484
I can't check it right now, but this seems to be a good solution. My main concern was getting no error message and looking for hours, that is properly addressed now. Using the hash is convenient if we don't care to specify an id as it hopefully *just works*.

[2018-12-14 11:00] deivid-rodriguez commented on #5170
Thanks @varyonic for your input, and also for sharing your initial work on this. :+1:

I think this could be a good move, but we need better alternatives to propose to users. Since my focus is to release all the frontend improvements we have in master, I plan to revert this for the time being to unblock the rest of the improvements, unless another @activeadmin/maintainers have different opinions.

[2018-12-14 11:37] deivid-rodriguez commented on #5484
@panasyuk Yeah, it looks like a good idea to me too. Ideally the test we add should catch that the previous alternative didn't work.

Thanks for researching and finding about this!

[2018-12-14 13:52] deivid-rodriguez commented on #5559
I registered with opencollective, and I'm hoping to find some time to start playing around with it!

[2018-12-14 19:59] nsuchy commented on #5558
There was some mention of removing jQuery entirely. What is jQuery currently being used for? As Javascript has evolved over the years it’s become less and less necessary for projects. How difficult would it be to phase out entirely?

[2018-12-18 04:32] panasyuk commented on #5484
Added another PR that addresses the issue.
https://github.com/activeadmin/activeadmin/pull/5650

[2018-12-18 10:55] rystraum commented on #5048
I would like to help out on this. For now, we need a list on where jQuery is used, yes?

[2018-12-18 11:06] deivid-rodriguez commented on #5048
I assume all of the jquery-ui components we currently vendorize use jquery under the hood. So we would need to replace each of these components with a standalone solution that does not depend on jquery. It's an ambitious task.

[2018-12-18 11:11] rystraum commented on #5048
How open are you to replacing them with React-based components? That would require adding webpacker as a dependency. Just want to set the boundaries on what we can replace the vendorized libraries with.

[2018-12-18 11:15] deivid-rodriguez commented on #5048
I'm pretty opened to replacing our assets with more modern solutions, not sure about others. Perhaps the task could be subdivided in two subtasks:

* Raplace `sprockets` based assets with `webpacker` based assets, while keeping the current implementation.
* Once we have `webpacker` in place, it should be way easier to replace the current components with more modern implementations, I think.

Word

[2018-12-18 16:32] #5559 closed

[2018-12-18 16:51] djalmaaraujo commented on #5258
@priegler is that all you had to do? run the migration? comments works for me unless when I customize the show page. It says this empty error

[2018-12-18 16:51] djalmaaraujo commented on #5258
But now all other models are having the empty issue, except the customized one. lol

[2018-12-18 19:57] martinstreicher commented on #1714
@buren May I ask: What should `YourFooter` inherit from? An Arbre component?

[2018-12-19 00:03] martinstreicher commented on #1714
I tried many permutations to set `config.footer` to a proc. None of my attempts worked. I am using the arctic admin theme -- I am wonder if it is messing with my final page result.

[2018-12-19 00:05] martinstreicher commented on #1714
I got it to work in another project without issue. I am still curious what `YourFooter` should inherit from. `ActiveAdmin::Component`?

[2018-12-19 08:53] #5484 closed

[2018-12-19 13:23] pockata-kt commented on #5291
Why has this never been included in a release?

[2018-12-20 17:03] AlexVentura commented on #5410
@deivid-rodriguez unfortunately I can share since it is a private project and I've tried to reproduce in another project but I haven't had any luck! :(

[2018-12-21 02:54] martinstreicher commented on #1714
I wound up making a class derived from the controller

[code]

I can then call `Utilities::Footer.render(template: ...)`

[2018-12-22 23:06] deivid-rodriguez commented on #5410
Same as you @AlexVentura. I got interested in this issue, because I run into this myself at some point, but I forgot to isolate a reproduction at the time and then I never saw it again... :/

[2018-12-25 12:03] buren commented on #1714
@martinstreicher to be clear the call to `render` was just an example – as long as the method returns a string you're all good.

[code]

I've updated my earlier https://github.com/activeadmin/activeadmin/issues/1714#issuecomment-445294136 to be clearer about that.

Here is a custom footer that I'm running in production:

- [active_admin_footer.rb](https://github.com/justarrived/just_match_api/blob

[2018-12-25 14:39] martinstreicher commented on #1714
Thank you. I dug through the code and came to the same conclusion.

I made this...

[code]

which lets me do things like this...

[code]

[2018-12-27 10:03] labolado opened #5654 "How to add an ajax button?"
I want to add an approve buttons to resource items. when user click a "Approve" button, the resource item's status will be changed to  approved, and the button's text will be change to  "Cancel".

[2018-12-27 12:05] lautarocastillo commented on #2263
Is there any way to perform Fragment caching with AA?? I couldn't make it work yet!

[2018-12-28 09:12] labolado commented on #5654
It's ok now. I added javascript with
[code]

[2018-12-31 19:49] varyonic commented on #5497
Has been released in 1.4.

[2019-01-01 11:39] deivid-rodriguez commented on #5497
Indeed, thanks!

[2019-01-01 11:39] #5497 closed

[2019-01-01 20:05] AlexVentura commented on #5410
@deivid-rodriguez Yeah, that's so bad but I hope I can isolate it in the future because I still working with this gem. Thanks for your support!

[2019-01-07 07:57] prerakd commented on #4379
Can this issue be reopened again? I don't think it is completely resolved yet.

[2019-01-07 09:03] deivid-rodriguez commented on #5226
@odegroot Can you check whether #5504 fixes your problem when importing css files?

[2019-01-09 11:45] odegroot commented on #5226
@deivid-rodriguez Not really, no, sorry.
I've moved on from rails / active admin and don't have a devenv lying around anymore.

There are Steps to Reproduce in the description; perhaps someone else could test this?

[2019-01-09 15:55] deivid-rodriguez commented on #5226
No problem, thanks for letting me know!

[2019-01-15 19:00] PragTob commented on #5170
I think rolling it back is the most pragmatic thing to do

[2019-01-17 16:09] F4Ke opened #5664 "Can't log to active admin after migrating from heroku to AWS ECS"
After using heroku for a long time, I've migrated my Rails App to a docker and pushed to **AWS ECS**.

Everything is working as before, except that I **can't login to ActiveAdmin**

However,

I can see the `POST /login` returning a `302`, but the page refresh it-self instead of login me on.

( It seems that the first request is missing a `Set-Cookie` header, maybe the session cookie header ?)

Any

[2019-01-17 21:32] mcpenchel opened #5665 "Font Awesome upgrade from 4 -> 5 "breaking" active admin"
Hey guys, so..

Basically, after upgrading the font-awesome-sass gem (from 4 to 5), everything from font awesome stopped working on active admin (for example: ActionController::RoutingError (No route matches [GET] "/fonts/font-awesome/fa-brands-400.ttf")..

Any ideas?

[2019-01-20 11:52] richpeck commented on #5664
Maybe it's something to do with how the HTTP server software is set up?

[2019-01-22 18:54] taralbass commented on #5056
I observed this issue as well and spent some time digging into it. It occurs because the CSV downloads are streamed (except in development) by default, and the `around_action` actually completes and reverts the timezone after the stream is set up but before it is complete. Notably, the timezone reverts before the database query is constructed, as this happens within the `Enumerable` that is set up

[2019-01-23 14:47] Quintasan opened #5668 "Index table too wide"
### Expected behavior

Index table and filter section should fit on screen

### Actual behavior

Filters section gets pushed out of screen

![screenshot_20190123_154713](https://user-images.githubusercontent.com/6539261/51614554-2e72bb00-1f26-11e9-9526-220d3e425460.png)

Note the scrollbar and the bottom

### How to reproduce

I created a Rails 5 application mostly according to https://blog.heroku

[2019-01-23 15:04] jshow opened #5669 "feature request: ajaxed pagination"
paginated_collection does not pass the remote: option to Kaminari

PR ⬇️

[2019-01-23 16:18] #5209 closed

[2019-01-23 16:59] deivid-rodriguez commented on #5668
What should we do instead? Reserve a specific width percentage for the filters and deal with horizontal spacing issues inside the index table instead (horizontal scrolling? content wrapping?)? I'm really not sure. @javierjulio?

[2019-01-24 15:41] javierjulio commented on #5668
We could do various things here which is why I don't consider it a bug. It's simply a default but we can change that if we want. I haven't looked at this for a long time but I know when I last did, I came to the conclusion its fine as a default because it depends on what we want to do not just for the table but for the page as a whole. For example, they don't have to be side by side, the filters c

[2019-02-01 13:09] mabdelfattah opened #5674 "site_title not working on login page with dynamic namespaces"
For some reason `active_admin_application.site_title(self)` returns empty string in login page.

### Expected behavior

`active_admin_application.site_title(self)` returns the correct title.

### Actual behavior

`active_admin_application.site_title(self)` returns empty string.

### How to reproduce
[code]

[2019-02-05 09:52] Quintasan commented on #5668
@Fivell Thanks, this kind of alleviates the problem since the filters are visible no matter how many columns I have :D

@javierjulio I think `rails_admin` opted for the horizontal scrolling and I think it looks quite self-explanatory

![image](https://user-images.githubusercontent.com/6539261/52265308-0f1b5b00-2934-11e9-8b64-cc6f2b6ba81b.png)

[2019-02-05 13:48] florianroesler opened #5675 "default_actions still referenced in documentation"
On https://activeadmin.info/index.html in the code snippet the already obsolete method `default_actions` is still referenced. I think as this first snippet might be an entrypoint for many users, it should be updated to display `actions` instead.

The following line is the culprit: https://github.com/activeadmin/activeadmin/blob/9a33a081c99d9aa19045d46155ffe5f51ea76710/docs/index.html#L105

It also

[2019-02-05 17:09] deivid-rodriguez commented on #5675
Closed by #5676. Thanks @florianroesler!

[2019-02-05 17:09] #5675 closed

[2019-02-06 21:29] seanfcarroll commented on #2443
For people with JSONB columns, [try this](https://github.com/udacity/activeadmin_json_editor)

[2019-02-08 18:33] nbalsamo commented on #5374
@kamille-c  how did you do this with a before action?

[2019-02-10 02:51] Oxwee commented on #5239
I am a little late here, but for those who keep getting the same error, here is another solution:

[code]

[2019-02-11 13:23] giovannibenussi commented on #1792
In case someones miss it, when using internationalization, you also need to include your current language at the begginning of the translations file (in this case 'es'):

[code]

[2019-02-11 20:04] CelsoDeSa commented on #2514
## Solution for Rails 5.2.2

In **application.css**

Add:
`*= stub "active_admin"`

Bellow:
`*= require_self`

[2019-02-13 11:59] salmagomaa opened #5679 "Why is "active_admin/datepicker/datepicker-input-icon.png" no longer existent?"
I am upgrading from activeadmin 1.0.0 to 1.4.3 but unfortunately, I can't found the date-picker images folder, why it has been removed?

[2019-02-13 21:30] danielricecodes commented on #3682
Why can't ActiveAdmin just include this by default?  It seems almost too easy of a win here.

[2019-02-13 22:23] danielricecodes commented on #4178
@oxfist - its because Formtastic tries to map certain attribute types to Input Classes.  There's no mapping for `inet` (an IP Address field type that exists in postgresql) to a class in Formtastic.

Perhaps the real fix here is to fork Formtastic and map an Inet type field to the String input.  That would actually solve the problem for everybody with an inet field type in their database, not just

[2019-02-15 19:36] danielricecodes commented on #3682
I went ahead fixed this in my own fork of Formtastic.  I have an open PR, but in the meantime just use my fork and branch.

[code]

Hopefully my PR will get accepted and this issue can be put to rest once and for all.

[2019-02-18 06:57] RyunosukeKoyama opened #5680 "Error loading the 'sqlite3' Active Record adapter."
### Expected behavior

Following files are generated without errors.
[code]

### Actual behavior

An error occurred.
[code]

### How to reproduce

1. mkdir ~/tmp
1. cd ~/tmp
1. gem install rails
1. rails new first
1. cd first
1. Add these gems to Gemfile (refer to: https://activeadmin.info/0-installation.html)
[code]
1. bundle install
1. bundle exec rails g active_admin:install

#### Environment
*

[2019-02-18 17:10] SirRawlins commented on #4171
@Fivell's approach worked really well, although expanding to multiple resources might lead to duplicate code.

I agree that distinct shouldn't be the default behaviour, but perhaps a way to declare it through the DSL might be nice. `filter :distinct` or something similar? Would be less verbose than overwriting apply_filtering all the time.

[2019-02-18 17:43] ancaciascaiu commented on #753
`rake db:drop && rake db:create && rake db:migrate` worked for me

[2019-02-21 21:24] eaconway opened #5687 "cdn"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

What do you think should happen?

### Actual behavior

[2019-02-21 21:24] #5687 closed

[2019-02-22 00:16] atsushi-zto opened #5688 "Devise deprecation warnings"
Hi,

I am running activeadmin with devise 4.6.1.
When I access activeadmin, I get the followings deprecation warnings.

[code]
`devise_error_messages!` will be removed in the next major version.
https://github.com/plataformatec/devise/blob/5be5220e5a65094f09d01b3c55cfb3061d8bce27/CHANGELOG.md#460---2019-02-07

So, actveadmin need to refactor these sources.
https://github.com/activeadmin/activeadmi

[2019-02-22 07:37] edohartono commented on #4127
Thanks a lot. Still work in 2019

[2019-02-25 09:48] sechix opened #5689 "Performace in activeadmin"
Hi, We have activeadmin installed but we have some memory problems in staging heroku retrieving data from models , so we are worry about this could affect to users platform performance in production when we are using the admin.

[2019-02-26 20:49] futuretap commented on #4496
Would love how to do this, too. @luctus did you find a solution in the meantime?

[2019-02-28 02:15] gsar opened #5692 "`Page` model issue with v1.4.3"
### Actual behavior

I have a `Page` model for which I have an activeadmin page. The show route for for this contains a panel that shows some related records.  This used to work fine in v1.3.1 but fails in v1.4.3 with:

![image](https://user-images.githubusercontent.com/6981812/53536254-7b642700-3aba-11e9-8ed6-5c590353ab0f.png)

The relevant code looks like this:

[code]

The reference to `page` i

[2019-02-28 12:29] mvz opened #5693 "Result of guessed display name not escaped"
### Expected behavior

I have a User model that has a method `#full_name` and no method `#display_name`. Since `#full_name` is mostly a concatenation of user-supplied first and last name fields, it may contain adversarial HTML code. The result is also not `html_safe`.

I expect the result of `#full_name` to be used automatically as the title the show page, and to be automatically escaped, as happe

[2019-03-04 19:16] varyonic commented on #5680
See https://github.com/rails/rails/issues/35153#issuecomment-460455573

[2019-03-05 14:19] kelynch opened #5701 "Add custom content to CSV downloads?"
Is it possible to add custom text to CSVs for download?  I need to add a line of boilerplate explanatory text as the first row of each CSV file downloaded from our ActiveAdmin app.  Is there a logical place to extend this functionality in our app from the ActiveAdmin code base, or some config options I'm overlooking?

[2019-03-05 18:14] varyonic commented on #5701
You have reviewed [the docs on this](https://activeadmin.info/4-csv-format.html), yes?

[2019-03-05 18:47] kelynch commented on #5701
Yes, prior to posting this issue.  I also looked at the code and couldn't find a method to take action on a row, nor to reference content that isn't in the data source.  Is there something in the docs that I'm missing?

[2019-03-08 05:34] fidenz-kaushiks commented on #3675
f.input :country, priority_countries: [], only: ["GB", "US", "CA"]
keep 'priority_countries' as empty if no need priorities.

[2019-03-08 10:08] Loschcode opened #5704 "ActiveAdmin crash with belongs_to"
### Expected behavior

I should display a page

### Actual behavior

It crashes

### How to reproduce

I've got an `Account` model with the following relationship

[code]

When I try to edit / display a specific entry, with or without `utils_zone` being involved it crashes like so

[code]

When I remove the `belongs_to`it doesn't crash anymore. What should I do ?

[2019-03-08 10:20] Loschcode commented on #5704
I had forgotten to set the primary key in the table involved

[code]

I hope it helps anyone facing the same crash.

[2019-03-08 10:20] #5704 closed

[2019-03-08 20:45] yagudaev commented on #5558
Any updates on this? The rails 6 betas are all out and it will likely be released at Rails Conf at the end of April

[2019-03-12 07:21] DaniG2k commented on #2064
I'm encountering the same issue in a project that uses ActiveAdmin 1.0.0.pre4. I've explained my issue in further details in [this SO thread](https://stackoverflow.com/questions/55060600/rails-4-activeadmin-clears-out-an-array-field-upon-update).

Has this been resolved in more recent versions of ActiveAdmin?

[2019-03-12 17:12] GBH opened #5708 "Looping content inside `row` outputs actual enumerable"
### Expected behavior

Assuming I have this:
[code]
I expect output of that to be something like `bar bar bar bar bar`

### Actual behavior

Instead, I get `bar bar bar bar bar [#, #, #, #, #]`

Documentation over here: https://activeadmin.info/12-arbre-components.html states that I should be able to loop things.

To me it looks like enumerable is being dumped into content. It's like doing `= foo.

[2019-03-13 09:38] mvoropaiev commented on #697
@glebtv not sure if this is the right issue to report, but i am experiencing the same issue with AA 1.4.3, rails 5.2.2.
Forced to re-start rails app after a few changes while developing admin part of application or otherwise it becomes unusable.
Is there something that can be done to address it? Thanks.

[2019-03-13 09:48] deivid-rodriguez commented on #697
No news here, but I've seen several development environment memory leaks fixed in Rails recently, so maybe Rails 6 brings new hope here.

In particular, there's https://github.com/rails/rails/issues/32892 and a related open PR. It'd be good if some hitting this problem could try that patch!

[2019-03-13 11:53] josefarrugia opened #5709 "Custom Menu for only one user role"
Hi there,

Is there anyway to hide a custom menu from other user roles in the initialiser for activeadmin? I have tried `current_user.super_user?` and `current_user.try(:super_user?)`, however, obviously `current_user` hasn't been initialised yet.

Any thoughts how can we get around this?

[2019-03-13 11:53] chrisgeek commented on #344
I followed the sample code and the invitation is sent and delivered via email, but this is only half the task, how then do i customize the  accept_invitation_path in active admin too

[2019-03-14 15:16] isterin commented on #5558
Any updates?  Numerous folks already using rails 6 in prod.

[2019-03-14 15:31] javierjulio commented on #5558
@yagudaev @isterin #5702

[2019-03-14 16:39] #5558 closed

[2019-03-15 11:13] cristi commented on #3359
+1 for this feature

Meanwhile, in newer versions  of Ruby, I'm using
[code]
but would still like to see consistency here

[2019-03-20 16:37] JayNewstrom commented on #5688
Can this be closed now that #5694 is merged?

[2019-03-20 16:39] #5688 closed

[2019-03-21 08:50] lucev opened #5712 "Child menu item ends up as top menu item"
Hi, I'm having an issue with nested menu items in some rare occasions.

Instead of having just top menu item which is defined in initializer and corresponding child items defined in resources I end up having resource items both as child and top menu items.

<img width="1440" alt="Screenshot 2019-03-21 at 01 11 17" src="https://user-images.githubusercontent.com/326749/54740283-29935600-4bbb-11e9-92

[2019-03-21 12:03] deepakmahakale commented on #2377
In case anyone stumbles upon the same issue

[code]

[code]

Routes
[code]

[2019-03-22 14:10] nbaki opened #5714 "Custom Utility Navigation Menu Content"
I want to create a custom node component in the utility navigation menu. I had this working when I was at AA v1.2, but now since I upgraded to 1.4 it no longer works. What I was doing before was overriding the way the menu items were built with a class patch.

[code]

In my active_admin.rb initializer, I was registering the class like:
`config.view_factory.register utility_navigation: CustomUtilit

[2019-03-22 17:37] kelynch commented on #5701
Hoping for an update here -- is there a way built into this gem that allows one to add a row at the top of each CSV file before it's exported?

[2019-03-23 13:27] victorlcampos commented on #5182
Same here

[2019-03-26 14:07] mvoropaiev commented on #697
Trying a patch from merged PR https://github.com/rails/rails/pull/31442/files indeed increased reload speed of application, but now activeadmin does not reloads in dev env on files (`app/admin/*`) change, changes respected only after server restart, any idea where to dig regards this?
Thanks!

[2019-03-28 05:41] abhi121 commented on #5079
any update on this without moving validation to model?

[2019-03-29 14:45] chevinbrown commented on #5689
This is more likely an issue with the way queries are written than AA itself.

Can you provide specifics around the actual metrics, data size, and queries you're running?

[2019-03-30 02:16] marclerodrigues commented on #5390
Hey guys! I've created a PR implementing this feature. Please, take a look.

[2019-03-31 16:23] marclerodrigues commented on #5225
Is this still an issue? I've tried to reproduce but the behavior now is that the resource gets deleted and the associated records have the resource related foreign_key nullified. In you example:
The `User` would be deleted and the posts `author_id` would become empty.

[2019-03-31 16:48] marclerodrigues commented on #5709
Hey @josefarrugia, have you tried following these steps https://activeadmin.info/13-authorization-adapter.html#setting-up-your-own-authorizationadapter ?

I believe something like (after setting up your custom authorization adapter as described in the docs):
[code]

would do the job.

[2019-04-01 12:25] zywx commented on #4047
good idea but it won’t work since u.admin? is not a function.
I guess u.present? should be enough though.

[2019-04-01 12:59] sechix commented on #5689
thanks it is solved!

[2019-04-01 12:59] #5689 closed

[2019-04-01 21:38] danielricecodes commented on #5618
:100:

Most of my apps have SimpleForm and Formtastic in the bundle...and I only have Formtastic b/c its an ActiveAdmin dependency.

[2019-04-01 23:26] tylerlu94 commented on #5549
Running into this too

[2019-04-02 15:39] jdugarte commented on #5549
@tylerlu94 This is what I did in my app to solve the issue:

[code]

according to the documentation [here](https://github.com/activeadmin/activeadmin/blob/master/docs/0-installation.md#will_paginate).

[2019-04-03 15:12] ghilead commented on #3662
@ryanflach I managed to get this working by using `:not_cont` and adding the translation for `not_cont`

[2019-04-03 16:28] texpert commented on #4783
I found an ugly way :)

For a page, defined like `ActiveAdmin.register_page 'User Changes'`, have to search for its instance in the ActiveAdmin::Namespace::Store:

[code]

Would be good to have something like this as a method of ActiveAdmin::Namespace::Store.

[2019-04-04 00:40] sherbo commented on #1515
Any update on this?

[2019-04-04 13:01] Kuassari opened #5725 "Exporting two different csv in index page"
### The Problem

I tried to follow the solution by the user varunlalan for this issue: https://github.com/activeadmin/activeadmin/issues/4172 and I did everything the same, but got an error when I tried to run the server

### Expected behavior

I expected to have two downloadable files for csv in index page and that everything will work good

### Actual behavior

I got this error when I tried to r

[2019-04-06 13:46] namiwang commented on #3673
@timoschilling

Hi! Do you think this would be magically resolved with zeitwerk loader introduced by rails 6?

[2019-04-09 07:26] EtienneDepaulis commented on #5578
Had the same bug. It happens when all provided scopes have a `false` condition.
We monkey-patched this way :

[code]
(map + compact)
Not sure where the bug is to be honest. I'm happy to create a PR if this approach can work :)

[2019-04-10 08:55] liurui12w opened #5729 "How to Activate in Two Stages"
### How to Activate in Two Stages

I have a School and a teacher 's model.I want to choose a drop-down school. The teacher's second-level lower-level Larry shows that it belongs to the higher-level school.
###  How do?

[2019-04-11 02:51] liurui12w commented on #281
@okliv Hello, I would like to ask you a question about how to use activeadmin to do cascade drop-down menu. thank

[2019-04-11 15:30] yjukaku commented on #5404
You must add `belongs_to` to your *ActiveAdmin* resource as well. That should solve any problems with filtering/scoping.

[2019-04-11 21:07] dkniffin opened #5734 "cannot load such file -- coffee_script on 2.0.0.rc1"
I just tried to bump one of my app's AA versions to `2.0.0.rc1` (because I'm working on a new PR that should be incoming shortly). But when I started up the app, I got this error: `cannot load such file -- coffee_script`. I've searched my whole codebase and there's no reference to `coffee` anywhere in it, nor are there any `.coffee` files.

Here's the full stacktrace:
[code]

Rails version: 5.1.3

[2019-04-11 21:10] javierjulio commented on #5734
@dkniffin details on how to fix that are in the [changelog for that release](https://github.com/activeadmin/activeadmin/blob/master/CHANGELOG.md#removals).

[2019-04-11 21:10] #5734 closed

[2019-04-11 21:12] djalmaaraujo opened #5735 "Active admin is creating 2 submit buttons"
![image](https://user-images.githubusercontent.com/3402/55993308-230d7100-5c85-11e9-98ea-f92def5ed8f3.png)

### Expected behavior

It should have only one button rendered

### Actual behavior

For some reason, 2 buttons are being displayed

### How to reproduce

[code]

Active admin version:

[code]

[2019-04-11 21:12] dkniffin commented on #5734
@javierjulio yes, I read that, but as far as I can tell, my application does _not_ use coffeescript. I will see if I can replicate this on a new rails repo.

[2019-04-11 21:13] deivid-rodriguez commented on #5734
Can you post your Gemfile? Maybe one of your dependencies uses coffe-script but was relying on activeadmin to provide the dependency.

[2019-04-11 21:15] deivid-rodriguez commented on #5735
This is most likely https://github.com/activeadmin/arbre/issues/119. Are you using arbre 1.2.0, does it get fixed if you downgrade to 1.1.1?

[2019-04-11 21:17] djalmaaraujo commented on #5735
Thanks I will close this.

[2019-04-11 21:17] #5735 closed

[2019-04-11 21:27] dkniffin commented on #5734
Here's my `Gemfile.lock`:

[code]

[2019-04-11 21:32] dkniffin commented on #5734
I was not able to reproduce this with a brand new rails 5.2.2 app. Next I'm going to try 5.1

[2019-04-11 21:32] deivid-rodriguez commented on #5734
Try installing your Gemfile on a local path `bundle install --path vendor/bundle`, and then look for ".coffee" files in there. Something must be triggering the sprockets autoload.

[2019-04-11 21:35] deivid-rodriguez commented on #5734
Also, maybe try clearing your cache? `bin/rake tmp:cache:clear` I think

[2019-04-11 21:47] dkniffin commented on #5734
Clearing the cache worked 💯Thank you! I'll have a PR coming your way for a new config option soon :)

[2019-04-12 11:08] srghma opened #5737 "throws error on rails assets:precompile -> PG::ConnectionBad: could not translate host name "postgres" to address: Name or service not known"
### How to reproduce

with

[code]

on

[code]

### Expected behavior

should not try to connect to postgres

### Actual behavior

it throws error

[code]

### Temporary fix

[code]

[code]

### Probable cause

when I remove model file to make it throw error

[code]

shows that error occurs somewhere at /lib/active_admin/application.rb:124

[2019-04-12 20:38] sherbo commented on #5279
We need this too. Any update?

[2019-04-13 10:23] jscheid opened #5739 "Reloads application twice"
### Expected behavior

When `Rails.application.reloader.reload!` is invoked, for example because Rails or Spring detected that files have changed, `ActiveAdmin.application.load!` should only be called once because multiple invocations incur unnecessary overhead.

### Actual behavior

`ActiveAdmin.application.load!` is called twice.

### How to reproduce

I became aware of this when running `RubyPr

[2019-04-13 10:35] deivid-rodriguez commented on #5739
Thanks @jscheid, sounds great!

Is this related to https://github.com/activeadmin/activeadmin/pull/4558? We were about to get that one in but never actually got to get in properly tested or reproduce the double loading.

[2019-04-13 11:27] jscheid commented on #5739
@deivid-rodriguez ah, I was looking but for some reason missed that one.

I can't tell, it might be related? But I believe it's a separate issue. For one thing, the issue I'm trying to fix gets triggered even when no routes or any ActiveAdmin files are changed.

[2019-04-15 02:17] liurui12w commented on #5701
Maybe you need it.

csv do
  column "title" do |o|
    o.user_id && o.user && o.user.username #belong_to or (model def)
  end
end

[2019-04-15 02:21] liurui12w opened #5742 "Why there is no secondary action menu for custom forms"
Why there is no secondary action menu for custom forms

cascading menu

Similar to cities and regions, cities are first-level drop-down and second-level districts. Select first-level and second-level districts to screen specific values.

![image](https://user-images.githubusercontent.com/19525490/56135090-946d5c80-5fc2-11e9-9fbc-3027f602193b.png)

[2019-04-15 13:51] oicitrapdraz opened #5743 "Customize devise mails' content"
I would love if I could customize the mailer messages, specially since I'm developing an app in another language.

I tried editing `app/views/active_admin/devise/mailer/reset_password_instructions.html.erb`, but the mail still has the same content as always.

[2019-04-15 19:38] manubete opened #5744 "`action_item :only` broken in version `2.0.0.rc1`"
### Expected behavior

When I upgraded activeadmin from `1.4.2` to `2.0.0.rc1`, I expected our code to be backwards compatible and not error out on previously used functions and methods.

### Actual behavior

Before I upgraded activeadmin, our calls to certain `action_item`'s were only being called on the show page of a particular resource (say resource.id = 3). Below is a code snippet as an examp

[2019-04-15 20:07] manubete opened #5745 "version upgrade broke `action_item` argument behavior"
### Expected behavior

When I upgraded activeadmin to version `2.0.0.rc1`, I expected our code to be backwards compatible and not error out on previously used functions and methods.

### Actual behavior

Before I upgraded activeadmin to `2.0.0.rc1`, our calls to `action_item` did not require any arguments before starting the `do ... end` block. Below is an example snippet:

[code]

After the upgra

[2019-04-16 08:17] tillcarlos commented on #2990
I can't believe this was it. 3 months of pain is finally resolved. Thanks so much @dmastylo !!

My model was inside a module, and it seems that AA is not distinguishing between the folders, so my folders also looked like:

`module_name/module_name_classname.rb `

This did the trick. Thanks a lot!

[2019-04-18 03:26] msroot opened #5746 "article name conflicts in show"
### Expected behavior

So when you registering an `Article` resource there is an confing in the in the `show do`
When i try to access the `article` object i get and HTML `article` class

```undefined method `column_names' for Arbre::HTML::Article:Class```

[code]

### How to reproduce

[code]

[2019-04-18 10:02] Furqanameen commented on #4945
@Fivell not downloading as like your given answer......

[2019-04-18 21:11] msroot commented on #5746
i am closing this. I found a solution

[code]

but still its is a problem

[2019-04-18 21:11] #5746 closed

[2019-04-22 18:05] varyonic commented on #5737
Are you sure this is ActiveAdmin specific? See https://stackoverflow.com/questions/8997226/rake-assetsprecompile-attempting-to-connect-to-database and http://blog.zeit.io/use-a-fake-db-adapter-to-play-nice-with-rails-assets-precompilation/

[2019-04-22 18:19] srghma commented on #5737
@varyonic

1. `config.assets.initialize_on_precompile = false` doesnt help
2. I think the activerecord-nulldb-adapter normally should not be used, this gem is more like last resort
3. as I said when I disable active_admin the error disappears

[2019-04-23 11:22] deivid-rodriguez commented on #5744
Hi @manubete, thanks for reporting this. Can you try 2.0.0.rc2 and see if it fixes it? Thanks!

[2019-04-23 11:22] deivid-rodriguez commented on #5745
Hi @manubete, thanks for reporting this. Can you try 2.0.0.rc2 and see if it fixes it? Thanks!

[2019-04-23 21:50] lrbz commented on #5279
Any update on this issue please . thanks

[2019-04-24 04:17] deivid-rodriguez commented on #5744
This sounds like a duplicate of #5745: you need to pass a name argument to `action_item`. Let me know if this is not the case and this issue is actually different.

[2019-04-24 04:17] #5744 closed

[2019-04-24 04:22] deivid-rodriguez commented on #5745
Hi @manubete, so I had a closer look at this.

This seems intentional. `action_item` without a name was deprecated in https://github.com/activeadmin/activeadmin/commit/a73ed3637e6a50e28c33c5b70db0d61d936d94d2#diff-529baad25097a0794f167b102b5afc43, which has been out there since 1.0.0.pre1, and indeed removed in https://github.com/activeadmin/activeadmin/commit/4014a37f0035197fd70c376d3b9e7be7b8c2c

[2019-04-24 04:32] deivid-rodriguez commented on #5745
These deprecations should be displayed on 1.x releases, but in any case I also documented this in the change log in https://github.com/activeadmin/activeadmin/pull/5747/commits/3bf2c6ce105eb5545960e828597332665c732ab0.

[2019-04-24 09:08] deivid-rodriguez commented on #5745
I double checked that this deprecation is correctly generated on activeadmin 1.x, so closing.

[2019-04-24 09:08] #5745 closed

[2019-04-24 14:28] stephenh commented on #5745
@deivid-rodriguez thanks for looking into this and adding the changelog entry; we just wanted to sanity check this was on purpose, so will go fix all of our `action_items`. Thanks!

[2019-04-24 14:30] stephenh commented on #5744
@deivid-rodriguez yep, we came to the same diagnosis yesterday; apologies for not updating the ticket sooner. Thanks again!

[2019-04-24 14:48] deivid-rodriguez commented on #5744
No problem, thanks for following up! :+1:

[2019-04-25 08:38] yoelblum opened #5750 "Resource named Tab gets bad styling"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

If you have a model named tab, I expect the activeadmin

[2019-04-25 23:34] #5739 closed

[2019-04-26 10:12] nleo opened #5752 "ActiveAdmin eats all my memory and freeze the computer"
1. Install of AA 2.0.0 on rails 5.1.6.1
2. Download production DB
3. Generate  `rails generate active_admin:resource` for resouce with 152559 records
4. Try to open it in browser
5. I can see ruby2.5 process eats 4.8GiB in SystemMonitor before it stop responding
6. Hard reset

I have 7.7 GiB RAM and 7.9GiB Swap

[2019-04-26 11:58] Fivell commented on #5752
@nleo maybe related to #2738 ?

[2019-04-26 11:59] Fivell commented on #5742
duplicate of #2440

[2019-04-26 12:00] Fivell commented on #5729
duplicate of #2440

[2019-04-26 16:03] nleo commented on #5752
@Fivell maybe. If u give me simple steps to check it, I can do it.

For my self I decide to not use AA in my projects. So I will not do complex investigations

[2019-04-28 11:48] liurui12w commented on #5742
thanks

[2019-04-28 12:13] #5729 closed

[2019-04-28 12:14] #5742 closed

[2019-04-29 16:19] bdeterling commented on #5752
Adding this information because this issue is so recent and it's the first result that shows up when I search for my particular issue. With ActiveAdmin installed (1.3 or 2.0), simply calling reload! in rails console, takes an increasing amount of time:

[code]

That was all done without actually changing any code. Without ActiveAdmin, the times are consistently under 1 second. I would expect it to

[2019-04-29 16:28] deivid-rodriguez commented on #5752
I believe this is a development only memory leak that was fixed in rails. Can you try to reproduce with Rails 6.0.0.rc1?

[2019-04-29 17:36] bdeterling commented on #5752
I can't get my project updated due to various dependency issues, but I will test it as soon as I can and report back. Do you have link to the issue for the Rails fix?

[2019-04-29 19:07] deivid-rodriguez commented on #5752
I was thinking of [this issue](https://github.com/rails/rails/issues/32892), but it sounds like it has no resolution yeat, and it might not be the same thing anyways.

There's other PRs that have been merged and could maybe help, like https://github.com/rails/rails/pull/31442 or https://github.com/rails/rails/pull/35201.

[2019-04-29 22:45] bdeterling commented on #5752
Using the patched DescendantsTracker from https://github.com/rails/rails/issues/32892#issuecomment-476254992, seems to fix the reload issue. I haven't tested thoroughly enough to say it's the one true fix, but it does seem likely that my issue is not caused by ActiveAdmin. However, I have another app that doesn't use AA and doesn't exhibit the problem so AA may be doing something that triggers the

[2019-04-30 06:49] deivid-rodriguez commented on #5752
That's great news, and it kind of makes sense since that patch fixes a memory leak with anonymous classes, and activeadmin makes heavy use of those.

I'm closing this, then!

[2019-05-02 00:05] alaarab opened #5754 "error thrown when customizing controller action: undefined local variable or method `active_admin_authorization' for " <div class=\"comments\"></div>\n":ActiveAdmin::Comments::Views::Comments Did you mean? active_admin_form_for"
### Expected behavior

I should be able to extend my show controller and have comments on an admin show page at the same time. However, doing so results in a failure.

### Actual behavior

[code]
![image](https://user-images.githubusercontent.com/1730921/57050758-01275e80-6c33-11e9-91b1-4c7e936dd290.png)

### How to reproduce

I have no authorization adapter set in my config file.
I attempt to ext

[2019-05-02 23:02] deivid-rodriguez commented on #5754
Thanks for the report. I'll have a look!

[2019-05-03 02:17] longkt90 commented on #5737
I have a same problem with latest version of active admin, but it doesn't break assets precompile though, I can confirm that remove  `ActiveAdmin.routes(self)` in routes files make the error disappear.

@srghma  `initialize_on_precompile` is no longer an option from rails 4. Rails by default don't connect to the database when precompiling assets but if your application load any code that does it w

[2019-05-03 18:26] neidiom opened #5755 "status_tag - undefined method `delete' for :red:Symbol"
I upgraded to ActiveAdmin 2.0.0 and now I am getting this error

[code]

This is the problematic code that used to work

[code]

[2019-05-03 18:28] neidiom commented on #5755
Figured it out

[code]

[2019-05-03 18:39] javierjulio commented on #5755
This change was [deprecated in v1.1.0 with a warning](https://github.com/activeadmin/activeadmin/blob/master/CHANGELOG.md#110-).

[2019-05-03 18:39] #5755 closed

[2019-05-03 21:41] deivid-rodriguez commented on #5754
I'll try to find a reproduction for this in any case but if you can share a minimal sample app that reproduces this it'd be great.

[2019-05-04 08:45] thibaudgg commented on #5754
@deivid-rodriguez if this can help I got the same issue using the `active_admin_comments` on [this file](https://github.com/ragedevert/acp-admin/commit/d3b511dad959511bc590f0cb0129351fb5b8a546), weirdly my app also used `active_admin_comments` in other places without any problem.

[2019-05-06 12:37] holyketzer commented on #1743
Also it you need filter by only one type from all polymorphs you can use it:

[code]

[2019-05-06 17:59] alaarab commented on #5754
@deivid-rodriguez https://github.com/alaarab/aa5754

check out /admin, create a post, and visit the admin show page.

[2019-05-06 22:37] mkalygin commented on #4643
@julieushpa @Fivell @timoschilling I know it's super old, but I've found that a possible reason here is that you set instance variable in you base controller, so that this method always returns the same record: https://github.com/activeadmin/inherited_resources/blob/master/lib/inherited_resources/base_helpers.rb#L216.

[2019-05-07 07:51] Znow opened #5757 "Cannot do column calculation"
### Expected behavior
Calculation of 2 integer fields on object

[code]
Should output some calculated amount, but always and only returns "0"

### Actual behavior

The above logic always returns 0 or "0" in the column. No calculations, neither done with "raw" or anything else works.

Both "field_a" and "field_b" has a integer value

[2019-05-07 13:08] deivid-rodriguez commented on #5754
Thanks for the nice repro, #5754 should fix this!

[2019-05-07 14:04] #5754 closed

[2019-05-08 11:18] keymastervn commented on #5443
I have a problem with CanCanCan authorization in which I cannot set up access properly on both Class and member instance.

[code]
After debugging module **Authorization** at [lib/active_admin/base_controller/authorization.rb](https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/base_controller/authorization.rb), I can see the `subject` on `#authorize!` scope is the `SomethingDec

[2019-05-08 11:28] nleo commented on #5752
@deivid-rodriguez  Rails 6.0.0.rc1 same memory leak

[2019-05-09 01:17] yagudaev commented on #3662
@ghilead and @ryanflach thanks guys it works like a charm. It would be nice to add these across the board for any string.

This should really be a PR, such a great feature.

[2019-05-15 08:13] Znow commented on #5757
bump

[2019-05-20 02:59] agbodike commented on #5282
For anybody else encountering this problem, I believe the simplest solution is to use a `before_build` block. For example, given the original sample code, I believe the following would resolve the issue:

[code]

[2019-05-20 06:53] pragun16 commented on #5354
This thread is the only place I found my exact problem discussed but sadly upgrading was not a solution in my case. I opted generating the nested attribute form like this which worked.
[code]

[2019-05-20 13:48] cdesch commented on #5558
Is there a workaround for this?

[2019-05-20 14:49] mvz commented on #5757
@Znow have you tried the calculation outside of ActiveAdmin? If both fields are integers you get rounding effects. E.g.:

[code]

[2019-05-22 13:13] danielricecodes commented on #1792
Wow.  This is so simple.  Gotta love I18n.

[2019-05-23 10:48] Kris-LIBIS commented on #3647
Hi Any chance on this fix making it into a release? I got bitten by exactly the same issue.

[2019-05-23 15:49] Kris-LIBIS commented on #3647
I forked myself and patched with @ndbroadbent 's fix, but alas it does not work 100%. It fixes the case

    ActiveAdmin.register User
    ActiveAdmin.register Blog::Post, as: 'Post' do
      belongs_to :user, optional: true
    end

But it still generates the wrong path in this case:

    ActiveAdmin.register Blog::User, as: 'User'
    ActiveAdmin.register Post do
      belongs_to :user, parent_c

[2019-05-24 13:06] yagudaev commented on #5558
@cdesch it should all work for on Rails 6 we have been using it in our app for a while now. You still have to use the asset-pipeline instead of webpacker

[2019-05-28 08:57] Calamari commented on #5502
Hey guys.

Just wanted to ask what the status of this issue is. Is there a plan to switch to `sassc` or something? Would be nice to get rid of the warning and an unmaintained dependency.

[2019-05-28 11:29] #5226 closed

[2019-05-28 11:29] #5502 closed

[2019-05-28 20:41] Loschcode commented on #4102
My rails app is an API but I re-activated what's needed from ActiveAdmin to make it work. When I used the command it doesn't work and hangs like everyone else in this issue.

[code]

[2019-05-31 17:26] thucnh commented on #2529
add the UrlHelper to ApplicationController makes it work

class ApplicationController < ActionController::Base
  include ActionView::Helpers::UrlHelper
end

[2019-06-03 11:54] pulkit005 opened #5763 "pass additional field to form"
form do |f|
    f.inputs 'TableauEmbeddedCode' do
      f.input :embedded_code
      f.input :report_name, required: false
      f.input :xyz
      # end
    end
    f.actions do
      f.submit 'Submit'
    end
  end

xyz is not a column in my TableauEmbeddedCode table , so when form is submitted it says xyz is not defined field. how to pass xyz without getting this error.

[2019-06-04 19:03] zocoi opened #5765 "Release new version of activeadmin 2.0.1"
Hi @deivid-rodriguez the current master no longer uses `sass` and instead requires `sassc` which makes compiling assets faster. Could you release a new version of the gem soon?

[2019-06-05 10:59] salzig opened #5766 "Feature: support arbre methods in custom action"
### Expected behavior

While defining a `collection_action` or `member_action` i would like to use Arbre, like i'm used to in `index` or `show`

### Actual behavior

Right now i'm able to call `render text: 'some'`, or render a template file.

### How to reproduce

For any registered Object, define a custom action and try to use Arbre methods.

[code]

[2019-06-05 12:34] noctivityinc commented on #376
Is this considered an ActiveAdmin bug or an inherited_resources issue?

[2019-06-05 14:01] deivid-rodriguez commented on #5765
Hi @zocoi! Yes, I expect to cut a new release from master in the next few days. I'll call it 2.1.0 though.

[2019-06-06 14:53] rafalwojcik commented on #5752
Any updates? I also have the same problem :/

[2019-06-06 15:00] javierjulio commented on #5752
@nleo @rafalwojcik are either of you relying on default filters that may be loading large associations as to what @Fivell linked to as a possible related issue?

[2019-06-06 16:04] Fivell commented on #5752
@nleo  mentioned this

in initializer we have this

[code]
@javierjulio  however https://activeadmin.info/1-general-configuration.html is not covering this case.

[2019-06-06 18:17] javierjulio commented on #5752
@Fivell good catch, yes we should have that covered in the docs. At Jackpocket we don't rely on default filters anywhere specifically for that issue.

[2019-06-07 09:38] steookk commented on #221
+1

[2019-06-10 16:10] denisahearn opened #5768 "Including comments on a "Show" page via the active_admin_comments helper broke in 2.0.0"
After upgrading to ActiveAdmin 2.0.0 from 1.4.3, we noticed that all our "Show" pages started returning a 404 page. Also, all our rspec specs that tested the behavior of our "Show" pages also broke once we upgraded the gem.

We tracked the problem down to the use of the `active_admin_comments` helper. If we remove the call to this helper, then the "Show" pages worked again.

Digging a bit further,

[2019-06-10 16:28] deivid-rodriguez commented on #5768
This should be fixed in activeadmin 2.1.0, can you give it a try?

[2019-06-10 16:29] deivid-rodriguez commented on #5765
ActiveAdmin 2.1.0 has been released :+1:

[2019-06-10 16:29] #5765 closed

[2019-06-10 16:43] denisahearn commented on #5768
Wow, that was fast. Yes, activeadmin 2.1.0 does indeed fix the issue. I'll remove our workaround. Thanks!

[2019-06-10 16:46] deivid-rodriguez commented on #5768
No problem, closing!

[2019-06-10 16:46] #5768 closed

[2019-06-11 07:42] #2573 closed

[2019-06-11 08:58] liurui12w commented on #2440
Hide second drop down based on the first drop down.
How do?

[2019-06-11 09:07] liurui12w opened #5770 "Hide second drop down based on the first drop down. How do?"
Display different inputs by type

[2019-06-12 17:14] ryanwood opened #5772 "Zeitwerk autoloading deprecation on Rails 6.0.0.pre1"
### Expected behavior

Upon upgrading a Rails 5.2.3 app to Rails 6.0.0.pre1 and regenerating the ActiveAdmin initializer, I expect to see no deprecation warnings.

### Actual behavior

When running `rspec` (v3.8) on Rails 6.0.0.pre1 and Ruby 2.5.5 I get the following deprecation warning from [Zeitwerk](https://github.com/fxn/zeitwerk) the new default autoloader in Rails 6:

[code]
When I comment o

[2019-06-13 11:03] Kris-LIBIS commented on #3647
OK, I have rewritten the fix to make it more generic and fix the path name for any known resource in the path chain. I also managed to update the tests to test the use case above and they now pass.

The only thing I'm not sure about is how I look up the renamed resource name. There may be a more efficient way to do that, but I am not so familiar with the details and internals of Rails and ActiveAd

[2019-06-14 03:28] itkin commented on #2263
+1

[2019-06-14 11:34] gururuby commented on #5763
@pulkit005, Hi, you should add attr_accessor to your model, like
`attr_accessor :xyz`, and add this field to permitted_attributes

[2019-06-14 15:44] andrewdang17 opened #5776 "2.0.0 doesn't pick up active_admin.js file"
I'm trying to upgrade from 1.4.3 to 2.0.0 and got this error:

[code]

If I add an empty `jquery3.es6` file in my `assets/javascripts` then it works but it's not actually including the JS which makes me think that `active_admin.js` isn't actually being read. Here's what I have in `active_admin.js`
[code]

[2019-06-14 18:36] chrisgeek opened #5778 "Unpermitted Parameter"
I have two related models, Participant has_many Assessment(which belongs_to Participant). From the show page of a particular Participant (in Active Admin), I want to create a link to make a related Assessment. I've tried a few different ways, I get this error message
`unpermited_parameter :participant` even though it works when visiting the new assessment page without added params
here is my url
`

[2019-06-15 00:23] nicolassrod commented on #4102
`$ bundle exec spring stop`

[2019-06-17 15:59] andrewdang17 commented on #5776
Nevermind I figured it out. It had to do with this config in `application.rb` so I just removed it.

[code]

[2019-06-17 15:59] #5776 closed

[2019-06-17 17:06] TrishaPatel commented on #5012
Is anybody able to solve this problem?
TypeError: $(...).aaDropdownMenu is not a function[Learn More] dropdown-menu.self-5794b6ca26364ce522cb47a8ef050870fda0b886cfeef69ec27ef116900f1984.js:121:32
TypeError: elems.sortable is not a function[Learn More] has_many.self-ece319debdc01ca5096ae8ac6c130ffc0decab382543b4b94e18591375d3d3bb.js:42:5
TypeError: $(...).perPage is not a function[Learn More] per_p

[2019-06-17 17:36] Znow commented on #5757
@mvz Thanks - got it working, .to_f was the issue here.

Besides this - now when I have my custom column with rows, showing data like 0.12, 0.33 and so on, how can I apply sorting on this custom column?

[2019-06-17 17:41] #5757 closed

[2019-06-17 17:57] Znow commented on #5757
@javierjulio Why are you closing it?

[2019-06-17 18:41] GBH commented on #221
🎉 Happy 8 year anniversary 🎉

I was really hoping i was doing something wrong. Sadly I discovered that it's a bug and/or missing functionality.

[2019-06-18 08:55] McAlexVrn commented on #5770
Hello! You can use this thing https://github.com/blocknotes/activeadmin_dynamic_fields

[2019-06-18 09:00] liurui12w commented on #5770
Thanks for your help. I'll check it out.

[2019-06-18 09:06] deivid-rodriguez commented on #5757
@Znow Your previous message sounded like you got it working and the problem was not inside activeadmin, right?

[2019-06-18 10:25] Znow commented on #5757
@deivid-rodriguez Yes certainly - But I still have a question regarding custom column sorting - I can create a new issue for this, since I cannot find any documentation or help regarding this

[2019-06-18 12:37] liurui12w commented on #5770
Thank you again. This I need.

[2019-06-18 12:37] #5770 closed

[2019-06-18 13:27] Znow opened #5781 "Custom column sorting"
Hi,

I have a custom column as defined below, which does some plain calculation

[code]

How can I apply sorting on this column? Since it is not applied by default for custom columns.

I have searched alot through previous issues, stackoverflow, google etc., and cannot seem to find anything that solves my issue.

Thanks in advance

[2019-06-18 21:43] bennyzr opened #5782 "Logout link not rendering data-method attribute"
The method add_logout_button_to_menu should render
  `<a data-method="delete" href="/users/sign_out">Log Out</a>`
when setting config.logout_link_method = :delete

However what actually gets rendered is:
  `<a method="delete" href="/users/sign_out">Logout</a>`
which cases a routing error: No route matches [GET] "/users/sign_out"

It seems changing line 151 in lib/active_admin/namespace.rb to
 `htm

[2019-06-19 13:59] deivid-rodriguez commented on #5772
Hello @ryanwood! :wave:

I've actually been reported the same thing privately, but I thought it was only happening against Rails master (6.1.0.alpha). Does this also happen with `rails 6.0.0.rc1` and `ruby 2.6.3`? Can you share a sample application that reproduces this?

Thank you!

[2019-06-20 15:17] juggleross commented on #5365
You need to use `direct_upload: true` inside the `input_html` attribute:
`f.input :image, as: :file, input_html: { direct_upload: true }`

[2019-06-20 15:27] koenhandekyn opened #5787 "reloading much slower after 2.1 upgrade in development mode for a larger code base and about 25 active admin entities"
### Expected behavior

We were hoping the release 2 would bring some reload performance improvements in development mode.

### Actual behavior

Reload performance (after touching some class in development mode) has become extremely slow. Strange enough enough, initial load is still about the same speed.

## Context

- rails 5.2.x
- ruby 2.6.x
- tested on 2 mac's : i5 / 16gb ram

## analysis

from

[2019-06-20 15:31] deivid-rodriguez commented on #5787
I'm guessing it's because of https://github.com/activeadmin/activeadmin/pull/5740, because it's the only change that could be related, although the intention of that change was the complete opposite... :sweat_smile:.

Can you confirm that the culprit is that PR and also provide a sample application with reproduction steps?

Thanks!

[2019-06-20 21:16] koenhandekyn commented on #5787
looks like it might be related indeed :) !
[ something like on every reload an extra reload hook get's added ]

i'll try to see if i can provide a fix in a PR early july (leaving for holidays tomorrow) :)

[2019-06-21 06:50] Mgitim commented on #5643
@ch000 This is working for you in Active admin or in a regular .html.erb file?

[2019-06-24 04:42] goy80 commented on #5674
active_admin_application.site_title -> returns empty.
active_admin_application.namespace(:admin).site_title_call -> returns corret value. (workaround)

[2019-06-28 13:39] Uelb opened #5793 "Add a form option to action items"
Hi,

There is a form option for batch actions that works great, and I would like to be able to have the same behavior using action items. It seems like it would not take too much time to implement so I'm going to try to do a pull request about it.

Something like :
`action_item :do_something, only: :show, form: { my_param: :text }`

[2019-07-03 17:25] msjonker commented on #5712
We ran into this issue, too. It seems it's because the menus are being lazy loaded and stored globally during requests in non-thread-safe code. If they were loaded during `ActiveAdmin.application.load!`, I don't think this would be an issue. Loading them in the `after_load` callback seems to be a workaround that has worked for us:
[code]
I'm not terribly familiar with the ActiveAdmin code, but I d

[2019-07-03 17:48] macfanatic commented on #5766
In the `index` and `show` actions you mention, you're rendering a view via arbre in the DSL itself.  The actual fetching of the collection or individual resource is handled for you as the only real prep work to render the view.

For other controller actions (ie, forms, destroy etc) you are writing the actual controller action implementation.  Your `collection_action` for instance might not render

[2019-07-03 18:53] salzig commented on #5766
And i would love to render using arbre within the DSL method `collection_action` :)

[2019-07-03 20:15] macfanatic commented on #5766
But this would be a massive breaking change; there isn't a clear DSL change here that would be a graceful addition.

As you mention uou can render arbre, either using an explicit `render`, or implicit rendering based upon view paths, just not inline.  If you want to render here, you'd need to instantiate an arbre context, convert to html, and render the response as a string via rails.

Ie,

[code]

[2019-07-03 20:19] salzig commented on #5766
Something i would like to see it maybe a DSL addition like `respond(&block)` which handles the creation of the context in a way it is done for the "normal" actions, eg.
[code]

Had planned to show up with a mergerequest, but didn't had much time and haven't fully understand how you do the setup.

[2019-07-04 03:45] DaniilVas1 commented on #2449
@stereoscott Thanks for your implementing. but I have some questions.
I had built the Activeadmin with rails and I have 20k records. I hope to download this with CSV. But this happens the timeout error. I deployed this on Heroku. How can I fix this?
Please help me.
Thanks.

[2019-07-04 13:34] macfanatic commented on #5766
I think the following works today with minimal project-specific setup, but haven't tested this.

[code]

[2019-07-04 18:03] christopherdbull opened #5795 "RSpec failing controller test due to constant loading bug in docker-compose on google cloud-build."
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#4-did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

RSpec should run my test in google cloud build docker c

[2019-07-05 08:38] #5778 closed

[2019-07-05 08:48] te-chris commented on #5795
Managed to resolve it with an explicit `require File.join(Rails.root, 'app', 'admin', 'referrer_option')`. This definitely feels like a bug in the way AA is requiring files for tests though.

I'm using ver 1.3.1

[2019-07-05 17:02] debreczeni commented on #1907
@adamthedeveloper Here is a quick hacky monkey-patchy way to solve it: (I am sure there is a better way than that... something like unregister? :))

[code]

[2019-07-07 12:22] mcfoton opened #5796 "paginated_collection breaks with query that uses 'group'"
When collection passed to pagination is using 'group' (thus being a hash) — this line
[code]
will produce an error `Hash can't be coerced into Integer` instead of rendering the index view.

### How to reproduce
Use any scope that uses 'group', i.e.
[code]

I wonder if that is a AA issue, or that should be a fix in ActiveRecord's `count` method.

[2019-07-08 05:54] h-haraguchi commented on #5427
I feel like your log is apache log not rails log.

http://httpd.apache.org/docs/2.4/mod/mod_log_config.html#logformat

[2019-07-08 18:18] HappyKadaver opened #5799 "CSV Export not using global humanize_name correctly"
### Expected behavior

Set `config.csv_options = { humanize_name: false }` in the initializer.
Expected all CSV exports to use actual column names.

### Actual behavior

Column names still used humanized names.

### How to reproduce

Set `config.csv_options = { humanize_name: false }` in the initializer and download any CSV file.

[2019-07-09 09:30] gingerlime commented on #5787
I think I also bumped into this.

In my case, the puma processes got pegged at around 100% cpu when reloading the page (even without going into admin) when switching to another branch with model / admin changes.

I'm trying to zero-in on what precise changes trigger this, but I can reproduce this fairly consistently. Restarting rails resolves the issue, but it can happen frequently that I switch b

[2019-07-09 09:31] koenhandekyn commented on #5787
i also have observed this but only in development mode ... in production context it doesn't seem to occur ....

[2019-07-09 09:32] gingerlime commented on #5787
Thanks @koenhandekyn. I would imagine it won't affect production, because it loads only once normally. Still makes development extremely inconvenient in some cases.

[2019-07-09 09:36] deivid-rodriguez commented on #5787
@jscheid Have you noticed anything? It seems that your changes were counterproductive for performance in development after all? :grimacing: Do you have any ideas?

@koenhandekyn Did you manage to spend some time on this?

[2019-07-09 11:34] gingerlime commented on #5787
Managed to reproduce with:

* start rails app in development and latest ActiveAdmin 2.1.0
* load any page, refresh (everything works fine and things are fast)
* make a small update to the admin class (in my case, I simply added a single field as input to the form)
* refresh the page ... from this point on, everything is super-slow and puma processes are "working hard"

Even if I undo the change an

[2019-07-09 15:28] oskarpearson commented on #5787
@gedzubo and I have experienced the same issues in the development environment (production is fine).

The problem seems to be the way that the Rails EventedFileUpdateChecker interacts with the code in active_admin/application.rb and the reloader.

From what we can tell after a brief investigation, the `@updated` variable at https://github.com/rails/rails/blob/c81af6ae723ccfcd601032167d7b7f57c5449c

[2019-07-09 19:41] rchezrutt88 commented on #4160
Four years later and today I find myself wishing for this very feature.

[2019-07-10 07:54] deivid-rodriguez commented on #5787
Thanks everyone for digging into this, and sorry for the hassle.

I _think_ I run the same profiling code you posted and got the same results, yeah, but I'm not sure.

It looks like the consensus is to rollback the change for now, until we know more and better investigate this double loading issue. So I'll be doing that and cutting a new version now.

[2019-07-10 08:47] bolshakov commented on #4160
@rchezrutt88 you can use Reform with ActiveAdmin https://github.com/bolshakov/activeadmin-reform or use your own decorator. All the required extension points were added here https://github.com/activeadmin/activeadmin/pull/4166

[2019-07-10 11:44] AdColvin commented on #977
@fro We just came across the same issue. Given your example, if you wanted to nest the steps resource inside another resource as well as knowledges, how would you do that? `nested_belongs_to` works well for a single case, but adding an additional `belongs_to` above or below it breaks the routing.

[2019-07-11 04:19] HienNguyenAsnet opened #5804 "CDN for ActiveAdmin 2"
### Expected behavior

I want to use CDN link for some javascript lib and CSS. But `register_javascript` and `register_stylesheet` removed out from ActiveAdmin 2. Another way to do that?

[2019-07-11 09:06] #5693 closed

[2019-07-11 09:34] mvz commented on #5693
Thanks, @deivid-rodriguez.

[2019-07-11 09:37] deivid-rodriguez commented on #5693
No problem, thanks to you for the neat report! :+1:

[2019-07-11 16:31] deivid-rodriguez commented on #5787
I tried to reproduce this, but I couldn't. I thought our test application was unlikely to reproduce since it doesn't use `listen` and the `EventedFileUpdateChecker`, but still couldn't reproduce after adding those.

I recall something about `listen` performing better on Linux because the underlying notification library being more efficient, maybe it's related to that?

Anyways, I plan to revert th

[2019-07-11 16:34] deivid-rodriguez commented on #5787
Also, is someone that can reproduce this able to try if it still reproduces on Rails 6?

[2019-07-11 16:38] mackermedia commented on #5326
Just found something interesting:
When I was using the following style, I was getting duplicates in the form:
[code]

When I changed it to not outputting via ERB the duplicates went away:
[code]

[2019-07-11 17:49] mvz commented on #5787
@deivid-rodriguez I just tried and I can reproduce this on Rails 6.

[2019-07-11 20:38] fringlesinthestreet commented on #748
Hello there ✋

I resolved it by adding

[code]

At the end of the `html.erb` file.

PS: I came some years late :P, hope it helps someone!

[2019-07-11 21:25] daveclay commented on #4245
I've got the same situation; several activeadmin pages that correspond to a particular `scope` on some `ActiveRecord` class:

[code]

[code]

And an `Ability` to configure access to those pages based on roles:

[code]

Unfortunately, activeadmin only uses the `active_admin_config.resource_class` when calling `authorize!`:

https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/res

[2019-07-12 14:53] #5787 closed

[2019-07-16 09:32] mikekosulin opened #5807 "Scope uses wrong locale"
### Expected behavior
Expected to get scope name in current locale

### Actual behavior
Got scope name in default locale, and other content in current.

### How to reproduce
1. Use other than default locale at ActiveAdmin
2. Add scope like this:
`scope I18n.t('backoffice.statuses.accepted'), :accepted, group: :state`

ActiveAdmin 2.1.0

[2019-07-16 10:16] #5807 closed

[2019-07-16 17:31] longkt90 commented on #5579
did you manage to find a fix for the issue?

[2019-07-17 04:33] DanielHeath commented on #5752
https://github.com/activeadmin/activeadmin/pull/5548 will fix that by not rendering large select boxes by default.

[2019-07-19 18:49] Sprachprofi opened #5809 "Resource-level authorisation?"
Am I missing something obvious?? I am using ActiveAdmin to control different things in my NGO: members, staff, donations and so on, each defined as an ActiveAdmin Resource (i.e. tab with different views, actions and so on). However, I don't seem to be able to implement proper authorization, because ActiveAdmin does not allow Resource to be a feature in its custom AuthorizationAdapters. That is, th

[2019-07-20 13:54] g13ydson opened #5810 "start index page with zero record"
How can I start index page with zero record?
I've tried the following, my collection of users starts empty, but the filters do not work

[code]

I want users to only appear after filtering

[2019-07-24 23:43] disambiguator commented on #5316
Hi! Any update on this issue? I am also seeing this error whenever using `member_action` or `collection_action` on an AA model.

[2019-07-25 16:22] #5799 closed

[2019-07-25 17:39] deivid-rodriguez commented on #5810
Maybe something like

[code]

[2019-07-25 18:14] deivid-rodriguez commented on #5809
Can you show an example? I think you could do what you want by actually defining `Staff` and `Member` models.

[code]

And then defining separate standard admin resources for each.

I guess you're defining the pages using `:as`, like:

[code]

[2019-07-25 18:17] deivid-rodriguez commented on #5804
Hei @HienNguyenAsnet. We ended up not removing nor deprecating those for ActiveAdmin 2. Perhaps you're using an old 1.x version where we planned to deprecate those for ActiveAdmin 2?

[2019-07-25 20:12] bonafernando commented on #3278
I'm still having this error on the following code:
[code]
Because of `imageable_id`. If I take it off it works nice. Looks like it's related to the file `activeadmin-1.0.0.pre5/app/views/active_admin/resource/index.html.arb`
[code]

I'm using version:
[code]
Because I'm upgrading rails from 3 to 4, so I need a version compatible with both.

[2019-07-25 21:28] bonafernando commented on #1224
In my case it happened because I had a polymorphic association with a lower case on the `type` field. Then, when linking, it thew this exception.

[2019-07-26 01:53] HienNguyenAsnet commented on #5804
Thank for the information. I have plan upgrade activeadmin gem from 1.0 to 2.0 but when upgrade from 1.0 to 1.1. I saw the message and stop upgrading.

One more thing, Are we have a guideline for upgrade from 1.0 to 2.0; necessary change and any issue?

[2019-07-26 03:35] g13ydson commented on #5810
thanks @deivid-rodriguez , this worked perfect.

[2019-07-26 03:35] #5810 closed

[2019-07-26 06:48] deivid-rodriguez commented on #5804
There's only minimal incompatibility between 1.0 and 2.0, so we don't have a specific upgrade guide. The CHANGELOG is the best resource to check the main changes being introduced.

Regarding the `register_{javascript,stylesheet}` deprecation, they were undeprecated in 2.0.0.rc1, so you'll get the same message in all intermediate versions (1.1-1.4), but don't worry, they didn't go away in the end.

[2019-07-26 06:48] #5804 closed

[2019-07-26 10:39] deivid-rodriguez commented on #5795
Can you try this in a more recent version of ActiveAdmin and see if it still happens?

[2019-07-26 11:08] deivid-rodriguez commented on #5793
@Uelb I think the benefit of `action_item` is to get things done in one click. If you need a for, why not using the "edit" page?

[2019-07-26 18:48] cristianogregnanin opened #5820 "Rails 5.2, Active Admin add links to index page"
Using Rails 5.2.3, ActiveAdmin 2.1.0 and aasm 5.0.5 I want to create links for the permitted events for a resource managed by aasm.
I want to show the links for the status change in the index page, it works with this code:

[code]

In the picture I show the result: the links are created but is printed the entire array.

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/yO87

[2019-07-27 19:27] cdesch opened #5821 "Rails 6.0.0.RC2 - wrong number of arguments (given 3, expected 4)"
Rails 6.0.0.RC2 has breaking change which makes rendering the index for a resource throw an error. I backed out Rails RC2 for RC1 and it resolves the issue.

### Expected behavior

Render index page of the resource. e.g. `/admin/transactions`

### Actual behavior

Receive error below for this initializer:

[def initialize(base, table, associations, join_type)](https://github.com/rails/rails/blob/2

[2019-07-28 03:18] digitalidentity4d commented on #5820
Digital identity of issud ssn selfe me

[2019-07-28 11:10] mjbamford commented on #5821
Looks to be fixed on master b5495dd

[2019-07-29 08:20] Sprachprofi commented on #5809
Thank you. Yes, I'm using `as:` for the pages.

I solved the problem by figuring out how to have before_filters in ActiveAdmin Resources, and then using the same access-control that I have in mixed public/private sections of the site:

[code]

So you can mark this issue as solved. I think it would be good to add to the ActiveAdmin tutorial section on authorisation though ("if you already have an a

[2019-07-29 18:20] rickychilcott commented on #5821
I'm running into this as well -- upgrading to master doesn't actually fix the issue.  I've confirmed I am using the latest Ransack (2.1.1) which also claims to be Rails 6.0.0.rc2 compatible https://github.com/activerecord-hackery/ransack/commit/2c9da3a1139d536fdbc28414c4c913560ba7798b

Based on the backtrace it does seem to be a Ransack issue, but I'm not sure.

[2019-07-29 20:26] rickychilcott commented on #5821
Thanks @mjbamford.

You can work around this issue for now by adding the following to your Gemfile.

`gem "ransack", github: "activerecord-hackery/ransack", ref: "aada8"`

then run `bundle update ransack`

[2019-07-31 16:40] deivid-rodriguez commented on #5821
Yes!

You can fix the issue for now by pointing to ransack master. Or even better, to a specific sha reference where the issue is fixed as @rickychilcott suggested :smile:.

I [requested a ransack release](https://github.com/activerecord-hackery/ransack/issues/1032#issuecomment-516373642) that supports rails 6.0.0.rc2, but I'm not sure whether that will happen or not.

I'll leave this opened for v

[2019-08-03 22:08] puskuruk commented on #5821
First, I made @rickychilcott 's suggestion on my own computer after that I need work with my girlfriend's laptop and in my girlfriend's computer I still get the error 'wrong number of arguments (given 4, expected 3)' which was solved on my own computer.

Our project use Rails 6.0.0.RC2 too...

[2019-08-07 15:09] vivipoit commented on #1025
True for me, too.
Reading @firedev's thing about `application_controller` pointed me in the right direction.
My `application_controller` had a `before_action` thing that was creating and setting a variable that by coincidence had the same name as something `ActiveAdmin` does. Changing the variable name made all things run smoothly again.
Thank you!

[2019-08-09 08:08] Ecco opened #5825 "display_name_methods is not such a great idea"
Imagine you create a link to an Article object, for example with this:

[code]

Active Admin will automagically pick up a text to display for the Article object, by trying to call `Article#display_name`, `Article#name`, etc… following what is set in `config.display_name_methods`.

The problem : this breaks MVC! Figuring out a *display* name for an object is some *view* code, definitely not some *m

[2019-08-09 13:53] MarcoBomfim commented on #5821
Seeing this yesterday as well from a brand new project. The only way I was actually able to get pass this, was by including @rickychilcott 's gem, before running `bundle install` on the new project. The 'hacked' ransack was then installed, and it worked properly.

I work on another project that is using Rails 6 RC1, and this does not happen in there. Is it really fixed on master, as @mjbamford men

[2019-08-09 14:42] rickychilcott commented on #5821
To clarify, this isn't my gem, just a sha that includes the patch from ransack. Yes, Ransack master does have it fixed, but I would suggest pinning it at a specific sha so that it doesn't inadvertantly break if Ransack master gets new API changes that break ActiveAdmin in other ways.

@deivid-rodriguez isn't getting a positive reception with cutting a prerelease version of the Ransack gem, so for

[2019-08-12 18:16] waclock commented on #376
@rzhw works perfectly

[2019-08-13 21:28] DimaSamodurov commented on #3023
What about Idea of https://github.com/bys-control/activeadmin_custom_layout ? Would AA benefit from having page components API public and make it possible to define custom layout?
E.g. it would allow rendering AA features like index_as_table with filtering within default application layout.

[2019-08-14 07:21] Fivell commented on #5825
@Ecco ,  we are using  decorators for it.

[2019-08-14 07:48] Ecco commented on #5825
Oh… I hadn't seen this part in the Active Admin doc! Thank you so much for the pointer!

Now, even though you've 100% solved my issue, it might still be an interesting discussion. Maybe `display_name_methods` should be deprecated? Feel free to close this issue if you think everything's great as-is though 😄

[2019-08-14 07:53] Fivell commented on #5825
@Ecco IMO it depends , sometimes I need to setup AA with 10-20 pages in very limited time frame , in such cases display_name methods can be very helpful. When we are talking about large projects and very custom logic for displaying labels/names for records - this is another story 😄

[2019-08-14 07:59] Ecco commented on #5825
Yeah, I see, `display_name_methods` is a handy quick-and-dirty shortcut. Thanks!

[2019-08-14 07:59] #5825 closed

[2019-08-15 12:42] ScOut3R opened #5828 "Help with filter on nested association"
As an hobbyist rails wanna-be I would like to ask the community's help with an issue I can't get my head around.

I have the following, probably over-complicated relation across the models in question (irrelevant associations excluded):
[code]

I have the following index page defined for Job
[code]

Filtering on `customer`, `address` or `due` alone works fine. When I try to filter on `customer` an

[2019-08-17 03:40] namiwang opened #5829 "feature request for config.register_javascript_pack"
# Background

Rails is migrating to webpacker.

# Expected behavior

use `config.register_javascript_pack 'admin'` to inject a `text_node(javascript_include_tag(pack))` in the layout

https://github.com/activeadmin/activeadmin/blob/9b774893f6fd2d0060a25d0000695e91cf580ead/lib/active_admin/views/pages/base.rb#L25-L49

[2019-08-17 03:41] namiwang commented on #5829
BTW here's a current hacky dirty workaround

[code]

[2019-08-18 13:16] deivid-rodriguez commented on #4702
@mrstif and @achiinto. Can you check #5826, I think it should fix the issue you're having.

[2019-08-19 12:29] juampi commented on #5821
[Ransack v2.30 has been released](https://github.com/activerecord-hackery/ransack/releases/tag/v2.3.0), which includes a fix for this issue.

[2019-08-19 12:29] juampi commented on #5821
[Ransack v2.3.0 has been released](https://github.com/activerecord-hackery/ransack/releases/tag/v2.3.0), which includes a fix for this issue.

[2019-08-19 14:50] durcak commented on #5304
HI, after updating to version 2.2.0 with rails 6.0.0 and ruby 2.6.2 I am getting similar error

from: `.rbenv/versions/2.6.2/lib/ruby/gems/2.6.0/gems/activeadmin-2.2.0/app/views/active_admin/resource/index.html.arb where line #2 raised:
Can't be in the context of nil. [, <!DOCTYPE html><html lang="en">`

Can anyone please help?

[2019-08-19 20:11] #3647 closed

[2019-08-20 00:23] rickychilcott commented on #5821
This is fixed on master now without the need to manually managing ransack's version in the project. Thanks @javierjulio and @deivid-rodriguez!

You should be able to close this issue.

[2019-08-20 19:23] pomartel commented on #5772
I'm also having this issue. After some debugging, I see it happens only if I add a `before_filter` in the config file:
[code]

I tried including this as a module instead like this:
[code]

But this too triggers the deprecation warning. Not sure if this important, everything works fine but I guess it could cause some issues along the way with the next versions of Rails.

[2019-08-20 20:16] naveed-ahmad commented on #5820
try this

[code]

[2019-08-20 22:03] javierjulio commented on #5821
Thanks!

[2019-08-20 22:03] #5821 closed

[2019-08-21 20:41] pathouse commented on #5173
the `undefined method klass` error is raised when you type the singular association name for a has_many association

e.g.

model: `has_many :things`
form: `f.has_many :thing`

another error that may be raised here is `undefined method new_record? for nil`
this is the error that zimski's fix applies to

[2019-08-22 16:12] cristianogregnanin commented on #5820
same problem

[2019-08-24 11:15] DanielHeath opened #5835 "Sassc 2.1.0 does not compile _shadows.scss"
Steps to reproduce:

 * Create a dummy activeadmin app
 * Upgrade to sassc 2.1.0
 * Try to load any admin page

![image](https://user-images.githubusercontent.com/47430/63636559-48d76780-c6b4-11e9-9e43-d2b6db04c4e0.png)

Issue appears to be in https://github.com/activeadmin/activeadmin/blob/master/app/assets/stylesheets/active_admin/mixins/_shadows.scss#L1 but I don't know sass that well.

[2019-08-25 18:56] Lukom commented on #5772
@pomartel you can move logic of your `before_action` to `config.authentication_method` method, eg.

Before:
[code]
After:
[code]
It'll work in the same way because authentication_method is called ad the beginning of each request anyway.
Of course, it's not perfect solution, it'd be great for ActiveAdmin gem to fix the issue, though it fixes the warning for now.

[2019-08-26 13:45] pomartel commented on #5772
@Lukom Thanks, that does the trick! 🙏

[2019-08-29 18:26] gbirchmeier commented on #5097
I wish you'd specified what other code was causing the problem, because I'm running into this very same issue.

[2019-08-29 18:30] gbirchmeier commented on #5097
I ran into this same issue.

In my case, seems the problem was caused by having `rails server` running in the background.  I killed the server, then reverted the generator's output, and then ran the generator again and it worked.

[2019-08-31 18:15] rakethostph commented on #1812
I got it working by adding
`config.skip_before_action :authenticate_user!`
to the
`# config/initializers/active_admin.rb`

[2019-09-02 07:50] thodg commented on #2329
Same bug with ActiveAdmin 2.2.0

[2019-09-03 02:19] baash05 commented on #4826
Can you pop your solution? I'm hitting the same issue. Semantic errors are blank when override the update so it redirects back to the edit screen.

[2019-09-03 13:23] rafaeldalpra commented on #3017
Same solution on 6.0.0

[2019-09-04 21:06] sasharevzin commented on #5579
@longkt90 I tried to update the version but the error is still there :(

[2019-09-05 03:48] raphox commented on #5197
https://github.com/activerecord-hackery/ransack/issues/1063

[2019-09-05 08:23] nitsujri commented on #5820
@cristianogregnanin

[code]

[2019-09-05 12:31] pessi-v commented on #2408
Has anyone found a solution to this?

[2019-09-10 10:32] ethicalhack3r opened #5849 "ArgumentError (Invalid route name: '����Q�Vin_scans'):"
### Expected behavior

My project should boot without errors.

### Actual behavior

I get the following error from stdout:

[code]

### How to reproduce

These are the lines in question in my routes.rb file:

[code]

Versions in use:

ActiveAdmin version: 2.2.0
Rails version: 6.0.0
Ruby version: ruby 2.6.4p104 (2019-08-28 revision 67798) [x86_64-darwin18]

[2019-09-10 10:35] deivid-rodriguez commented on #5849
Yes, sorry about that. This is a _ruby_ regression in ruby 2.6.4. It will be fixed in ruby 2.6.5, but for now the easiest way to get rid of this is to downgrade to 2.6.3.

See https://bugs.ruby-lang.org/issues/16136 for more information.

[2019-09-10 10:41] ethicalhack3r commented on #5849
Wow, thanks for the quick response!

I'm glad it's not just me!

I'll downgrade to Ruby 2.6.3 for now.

[2019-09-11 12:36] megatux opened #5852 "Feature request: Ability to customize pages <title>s"
Looking at lib/active_admin/views/pages/base.rb I see that the HTML TITLE format is fixed ( "title | site_name" )

[code]
I would like to be able to redefine it, to match other _custom_ format.  Thx!

[2019-09-11 21:16] #5553 closed

[2019-09-13 09:02] deivid-rodriguez commented on #4244
Ok.

[2019-09-13 15:16] sigmaray opened #5857 "How to render nested forms as table?"
Hi. I'm unable to render nested forms as table.

I wrote this code:
[code]
[code]
And got this UI:

![image](https://user-images.githubusercontent.com/1594701/64872997-e3dab600-d650-11e9-84bb-a8432314f3a8.png)

(there are redundant inputs above table)

Then I wrote weird and ugly monkey patches:
[code]
[code]
Now it looks fine:
![image](https://user-images.githubusercontent.com/1594701/64873307-72

[2019-09-13 15:22] javierjulio commented on #5857
Wow, impressive. Not that I know of. Formtastic is the issue as its opinionated about its HTML output without a supported way to customize it other than patching as you've done.

[2019-09-13 17:15] sigmaray commented on #5857
@javierjulio Thanks for replying me!

It's an issue only when I need to replace `<li>` with `<td>`. So `input_wrapping` has to be patched anyway (to add `wrapper_html: { tag: ... }` option).

But Formtastic is not a reason of duplication.
When I do
[code]
input is rendered two times. ActiveAdmin does something weird under the hood.

[2019-09-13 17:18] sigmaray commented on #5857
@javierjulio I.e. when `input` is not being called inside `inputs` block, for example if input is rendered inside `td` block or inside `content_tag`, input is being rendered two times

[2019-09-13 17:21] javierjulio commented on #5857
Not just with `<li>` but the parent `<ol>/<ul>` as well. So the issue isn't rendering a table and the monkey patches but duplicate inputs instead? The issue should be updated to reflect that as it doesn't now.

[2019-09-13 17:33] sigmaray commented on #5857
@javierjulio

I had three questions.
1) Generally how it's better to render table form in ActiveAdmin?
2) Is it necessary two monkey patch Formtastic's `input_wrapping`. You answered that monkey patching is necessary (thank you for answering!).
3) The third question is about duplicating. If to write `td(class: 'form-table__col') do r.input :rate, label: false end`, input will be rendered two times

[2019-09-13 19:00] sigmaray commented on #5857
I found a few solutions to my problem.
1)
[code]
[code]
`<%` should be used instead of `<%=` because `active_admin_form_for` is not designed for using in partials (it is destined for using in Ruby blocks).

2) A better solution:
[code]

[2019-09-18 03:48] oicitrapdraz opened #5862 "Use Pagy or Will Paginate instead of Kaminari"
AA uses `kaminari`, but this gem is quite inefficient, both `Will Paginate` and `Pagy` gems are much faster and CPU/RAM efficient as shown [here](https://ddnexus.github.io/pagination-comparison/gems.html), also they are more active than `kaminari`, just compare the date of the latest versions of each gem: [Will Paginate](https://rubygems.org/gems/will_paginate/versions), [Pagy](https://rubygems.or

[2019-09-20 12:42] mirelon opened #5864 "Custom input_html for DateRangeInput"
I want to provide custom html option (autocomplete: :off) for DateRangeInput.
I use this filter:

    filter :created_at, as: :date_range, input_html: {autocomplete: :off}

### Expected behavior

HTML element with attribute `autocomplete="off"`

### Actual behavior

HTML element is without that attribute.

DateRangeInput https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/input

[2019-09-22 12:03] Znow commented on #5781
Any updates on this?

[2019-09-23 16:14] bennyzr opened #5866 "custom page page_action code not executing"
Ruby 2.3.1
Rails 5.0.6
Active Admin 2.0

Using the example code at https://activeadmin.info/10-custom-pages.html#add-a-page-action

[code]
The code in the page_action block should execute after clicking the "Add Event" button and redirect displaying a notice.

Instead when clicking on the action_item in the example you get a blank page at http://0.0.0.0:3000/admin/calendar/add_event without any no

[2019-09-23 17:20] deivid-rodriguez commented on #5864
Hi @mirelon, thanks for noticing this!

What you say makes sense, it seems to me that `input_html` should be merged like with other input types. Fancy opening a PR? :)

[2019-09-24 20:50] #5866 closed

[2019-09-25 15:29] ammaar-buzz commented on #4599
can someone please share any facts how ActiveAdmin::CanCanAdapter authorize! method  works actually.

[2019-09-26 07:01] Kutala-Abhiram commented on #1739
If i want to display the multiple errors, how can i do

[2019-09-26 09:38] mirelon commented on #2450
It is fragile. In ActiveAdmin 2 you need to do this:
[code]

[2019-09-30 17:24] #5781 closed

[2019-09-30 17:35] JWesorick opened #5869 "NameError error was raised: undefined local variable or method 'parent' for..."
### Expected behavior

Can redirect to route generated from array with symbols.

### Actual behavior

`NameError error was raised: undefined local variable or method 'parent' for #<Admin::PostsController:0x00005651fc262588`

### How to reproduce

Try doing `redirect_to [:admin, post]` in a active admin controller.

[2019-10-01 05:28] rafaltrojanowski commented on #3682
Thanks @danielricecodes! What's the status of your PR by the way?

[2019-10-01 15:04] deivid-rodriguez commented on #5781
@Znow I'm sorry for the lack of response here.

As the following spec illustrates

https://github.com/activeadmin/activeadmin/blob/5a7db303904260f14aa653cc8280b91c56f92fa6/spec/unit/views/components/table_for_spec.rb#L394-L399

`active_admin` is not able to apply sorting if your column contains a virtual attribute, only if it's a database column.

You can probably do your calculation using SQL, sa

[2019-10-02 18:33] rdj commented on #5170
In case anybody else finds this like I do, trying to work around the deprecation warning on an older version, in lieu of the "freedom patch" recommended above, consider just silencing the deprecation:
[code]

[2019-10-03 01:25] layerssss commented on #5849
@ethicalhack3r Ruby 2.6.5 is out. And upgrading 2.6.4 => 2.6.5 fixed the issue for me.

[2019-10-03 08:11] deivid-rodriguez commented on #5849
Thanks, I'll close this one now!

[2019-10-03 08:11] #5849 closed

[2019-10-03 15:43] kh0m opened #5878 "Associated Sort Not Working"
### Expected behavior

While clicking the column header to perform an associated sort using the documented syntax, the index table should sort on a column that is not on the resource model but on a model related to it via `belongs_to`

### Actual behavior

The generated sql query looks for the column passed to the `sortable:` option on the resource model, not the related model.

### How to reprodu

[2019-10-08 16:32] jasonperrone opened #5880 "Nested form mix-matching file inputs with wrong child records"
### Expected behavior

I have a simple ActiveRecord model called Advertiser. It has many Advertisements.

``
class Advertiser < ApplicationRecord
  has_many :advertisements, inverse_of: :advertiser, dependent: :destroy
end
``

An Advertisement has a name attribute, URL, type, and an image attribute.

I have an Active Admin form for Advertiser with nested Advertisement like so:

``
form do |f|

[2019-10-08 19:12] jasonperrone commented on #5880
Now I can't reproduce it. Maybe it was a fluke.

[2019-10-09 14:14] Insidexa opened #5881 "Active admin not configure prefix to all urls"
### Expected behavior

I deploy rails app to `site.com/admin`
On this domain works many other apps.
For example:
`site.com/backend`
`site.com/app1`
`site.com/app2`

Active Admin works on prefix `/admin`
If I deploy rails app with active admin to `site.com/admin` i got url to login `site.com/admin/admin/login`

But action in form generated is `action="/admin/login"`

if I configured `config.default

[2019-10-12 07:59] sikandartariq1 commented on #5862
+1 for pagy

[2019-10-12 14:00] deivid-rodriguez commented on #5862
ActiveAdmin has been using `kaminari` from the very beginning, back to when the `pagy` alternative didn't exist.

Ideally I would make the pagination engine being used under the hood configurable, but it sounds like a bit of work.

[2019-10-12 14:25] oicitrapdraz commented on #5862
The truth is, the more I read about the different pagination gems, the more I realize that `Pagy` is the only one worth using. It's by far the fastest one, the one that uses less memory and [the most recommend from Rails gurus](https://medium.com/@daniellempesis/speeding-up-your-ruby-on-rails-app-4c37ec71b126)

Why make it configurable and not simply change to `Pagy`?

[2019-10-12 14:41] deivid-rodriguez commented on #5862
We've had issues in the past where people using `will_paginate` in their frontend will have issues with activeadmin's pagination (because of the way these gems hook into activerecord associations). I figure if people could configure `activeadmin` to use the same pagination gem they're already using in their application, that would simplify people's life.

That said, it sounds like `pagy` is superi

[2019-10-13 18:44] ko-lem opened #5885 "Filter label not being used when condition has a predicate"
[Here](https://stackoverflow.com/questions/58326989/active-admin-search-status-current-filters-panel-not-using-filter-label) is my original StackOverflow question that got me started on this bug.

### Expected behavior

When supplying a filter label, it should be used in the "Search status" panel.

### Actual behavior

The first attribute's name of the filter condition is used instead.

### How to

[2019-10-14 20:35] #5885 closed

[2019-10-15 20:01] #5869 closed

[2019-10-17 20:51] filipkis commented on #5199
I've stumbled upon this issue as well and I think @ivanyv solution should go into a PR, though I would slightly modify it to not raise and rescue the error right away:

[code]

@ivanyv I don't know if you've created a PR or not. But your suggestion (  to change to use `object.class` implies changing Pundit it self. Which I guess is out of scope for this discussion.

[2019-10-18 13:42] dvkch opened #5890 "Conflict between meta_tags config and Tag model"
First of all, thanks for this amazing gem. I'm new to Rails and this has been invaluable for me.

Now about that bug : when I visit `/admin/tags/:id` I can see a Tag object address printed out in the web page. See first line before header in the attached screenshot.

<img width="414" alt="Screenshot 2019-10-18 at 15 36 57" src="https://user-images.githubusercontent.com/1838148/67098825-285ff100-f1

[2019-10-20 22:21] gsar opened #5891 "Content-Security-Policy nonce support?"
### Expected behavior

Rails 5.2 and later support a `Content-Security-Policy` configuration out of the box which allows enabling CSP nonces via an option.

I expect activeadmin to transparently support this option when it is enabled by passing the `nonce: true` option for all helpers like `javascript_tag` and `javascript_*_tag`.

### Actual behavior

No nonce value is included and loading scripts

[2019-10-22 19:21] micred commented on #5890
We create a PR to (hopefully) fix the bug during an Italian Hacktoberfest event :-)
Hope it helps.

[2019-10-24 14:14] dvkch commented on #5890
Thanks you for your quick answer, I can confirm `http://localhost:3000/admin/tags`this PR solved the issue on my end!

[2019-10-24 15:38] deivid-rodriguez commented on #5890
Did you try #5895 or #5892?

[2019-10-24 15:40] dvkch commented on #5890
Hadn't seen there were two of them. I pulled using `meta_tags_and_tag_conflict` branch name, so i'd say #5895

[2019-10-24 15:50] deivid-rodriguez commented on #5890
Great, that's the right one, thanks for confirming :+1:.

[2019-10-24 18:46] #5890 closed

[2019-10-25 10:27] WangZhenhuaFirst commented on #4334
@1269 I have the same problem . What do you mean of a name method on all models? How to do? Thank you

[2019-10-25 14:41] #5864 closed

[2019-10-29 11:09] ndbroadbent opened #5921 "ActiveAdmin is causing a segmentation fault with sassc on Ruby 2.5.5"
Hello,

I'm getting a consistent segmentation fault after I upgraded some gem dependencies, including sassc and activeadmin: https://github.com/sass/sassc-ruby/issues/167

This is happening when I visit the admin pages in production (not during the assets precompile task, which is fine.)

I'm not 100% sure about what started causing this segmentation fault (it's very hard to narrow it down, becaus

[2019-10-29 18:32] ndbroadbent commented on #5921
Sorry, this wasn't related to ActiveAdmin! I just some had inline SCSS that I was rendering in my ActiveAdmin view, which was causing the sassc crash.

[2019-10-29 18:32] #5921 closed

[2019-10-30 22:18] victorbstan commented on #5643
Is there any news on this? I'd like to enable `rich_text_area` in admin inputs as well

[2019-10-31 16:38] victorbstan commented on #5643
OK cool, that seems pretty standard.

I think I've moved the stylesheets and JS for active admin in the `vendors` folders because it was clashing with the rest of the app styling, and I have to figure out how to get the trix styling and JS files to be available for active admin again.

[2019-10-31 17:47] lauramosher opened #5922 "Download Links showing up with paginated collection despite having download links disabled globally"
[Please follow the guidelines for creating a bug report](https://github.com/activeadmin/activeadmin/blob/master/CONTRIBUTING.md#did-you-find-a-bug).

The issue tracker is only for bugs and feature requests. If you need general
help please post to
[StackOverflow](http://stackoverflow.com/questions/tagged/activeadmin).

### Expected behavior

What do you think should happen?

When the following is s

[2019-10-31 18:47] Mgitim commented on #5643
@victorbstan hmmmm, if you are using active admin, you wouldn't have to move anything in to 'vendors'. Your stylesheet would go in to app/assets/stylesheets/active_admin.scss and your js would go under app/assets/javascript/active_admin.js. Unless you import those files into your application.js or application.scss, you shouldn't have any clashing. To get trix styling in your active admin css file

[2019-10-31 19:18] victorbstan commented on #5643
By default rails seems to load the all the assets from the asset folder together. I did not change the default Rails 6 behaviour.

This is default rails application.css

[code]

If active admin stylesheet was in the stylesheets folder, would it not interfere with the other styles?

Cheers,
Victor Stan

[2019-11-01 11:10] gobijan commented on #4394
If you are worried about interfering css you can simply alter the default application.css like this:

[code]

[2019-11-05 08:51] kevr commented on #3017
So.. this gem cannot be used in a rails-api project, without an absurd amount of customization -- perhaps another command should exist for injecting the required deps in that case?

[2019-11-05 15:08] woto commented on #3910
It could be offtop. But i've also searched way to use calendar in custom sidebar, here is the snippet:

[code]

[code]

[2019-11-06 15:10] mirelon commented on #5279
I have submitted a MR: https://github.com/activeadmin/activeadmin/pull/5929, because the overlapping change https://github.com/varyonic/activeadmin/commits/layout-refactor seems to be inactive for a long time.

@theterminalguy I dont understand the `join(' ')` in your proposal. Do you mean you provide a HTML in the message? Or just a link? If you could provide some example input and output in orde

[2019-11-07 10:24] derrick12 opened #5930 "How can i fix ActiveAdmin 'Edit' action route that doesn't seem to work"
I've just created the active admin dashboard and everything seemed to work but when creating a new admin user I've received an URLGeneration error, though the user is created on going back to the dashboard. The same error occurs when I try to 'View' the user I've just created or any user including the default admin user. The same goes as I click to the 'Id' of the admin users.

(The Error)

[2019-11-07 16:51] thephw commented on #2803
If anyone else is using the model of timestamp or null for states, heres any easy filter for nulls

[code]

[2019-11-11 11:34] Altons commented on #740
rails 5.2  and activeadmin 2.3 is `skip_before_action`

[2019-11-11 16:38] Altons commented on #3359
Just want to highlight that this trick does not work for `attributes_table_for`

[2019-11-11 16:39] hkleow opened #5933 "SassC::SyntaxError: Error: Undefined variable: "$primary-color""
Got this error when deploying via capistrano, so i ran locally with RAILS_ENV=production bundle exec rake assets:precompile, any idea how to solve this?

[code]

[2019-11-19 10:36] thisismydesign commented on #5772
Any trick for when I want to do `skip_before_action`?

[2019-11-19 10:52] afuno opened #5939 "uninitialized constant Formtastic::I18n::SCOPES"
Rails 6.0.1, Puma 4.3.0, Devise 4.7.1, ActiveAdmin 2.4.0, Formtastic 3.1.5

---

Once again I am creating a Rails application. Created the foundation. A couple of models. Made a simple front-end for them. Next install Devise, ActiveAdmin.

In general, nothing unusual. Locally everything works fine.

But on the server, some kind of nonsense began to happen with ActiveAdmin.

In general, the applica

[2019-11-19 11:38] afuno commented on #5939
I added this line to all files:

[code]

But this is an exclusively temporary solution. Filters are needed in fact. I don't understand why this problem arose only in this project. If necessary, I can invite an ActiveAdmin team member to my project repository.

[2019-11-19 11:42] afuno commented on #5939
I added this line to all files:

[code]

And this partially solved the problem. Now I can see the `index` page. But I can't add anything:

[code]

25 to 32 lines:

[code]

If necessary, I can invite an ActiveAdmin team member to my project repository.

[2019-11-19 11:55] afuno commented on #5939
If I delete this code:

[code]

I still can't add anything.

Now in the logs it will be:

[code]

Log in full: https://pastebin.com/raw/pMucjedh

[2019-11-19 12:44] afuno commented on #5939
In the console on the server. In the container of the running application.

[code]

[2019-11-19 16:13] afuno commented on #5939
Can someone explain to me what it was?

I added these puts:

[code]

That is, initially the controller was like this:

[code]

And there is no more problem! What the hell is this? :D
I didn't do anything. Just added puts with the output of the constant `SCOPES`.

**In the next deployment I deleted these puts. And the error reappears!**

[2019-11-19 21:20] jzisser9 commented on #5457
I was just looking for support for `i_cont` as well. AA doesn't seem to support it yet. I might take a crack at adding support for it.

[2019-11-20 06:29] AdminDev826 opened #5940 "bundle error -- An error occurred while installing sassc (2.2.1), and Bundler cannot continue."
I would like to install `activeadmin` by adding `gem 'activeadmin'` in the Gemfile.
But I am getting the bundler error related with `sacssc`.
ruby -v 2.4
rails -v 5.1.6
[code]
`gem install sassc -v '2.2.1' --source 'https://rubygems.org/'` is not working for me..

[2019-11-20 15:50] deivid-rodriguez commented on #5940
Hi @AdminDev826!

This is the relevant part of the log you posted:

[code]

The `sassc` gem includes a native extension, so `bundler` needs `gcc` to be able to compile it. So, install `gcc` and you should be fine.

Hope that helps!

Closing since this is not an activeadmin issue in any case!

[2019-11-20 15:50] #5940 closed

[2019-11-21 11:01] railslauncher commented on #5333
This worked for me. I have explicitly specified the ransack version to `~> 1.8.4`  in Gemfile to fix the issue.

[2019-11-21 18:57] kewubenduben commented on #5457
Check out my PR#5465

It wasn't merge though due to not having a spec.

I'm currently using it at the moment

[2019-11-26 01:58] awh-tokyo commented on #3143
It would be lovely to open this again now that ActiveAdmin is maintaining Inherited Resources.  I find it ridiculous to have all these conditionals in my ApplicationController because I can't have an AdminController that ActiveAdmin controllers inherit from instead.

[2019-11-29 03:45] jadamdipak opened #5951 "Active Admin not taking precompile assets on production"
active admin not taking the precompile assets on production even it's present in public assets folder but it's taking different activeadmin.js and activeadmin.css file

[2019-11-29 10:47] deivid-rodriguez commented on #5951
This might be due to recent changes but we need more information. Did this happen after upgrading to activeadmin 2.5.0?

[2019-11-29 10:57] jadamdipak commented on #5951
Thanks for reply
I am using activeadmin 1.4.3

[2019-11-29 10:59] jadamdipak commented on #5951
The weird thing is, It is working fine when I deploy my code via docker with the jenkins but when I deploy directly via mina deploy I face this problem

[2019-11-29 11:01] deivid-rodriguez commented on #5951
Ah, I see. I'm going to close this, then. If you can still reproduce this issue using the most recent version of activeadmin, please reopen the ticket and we'll try to help!

[2019-11-29 11:01] #5951 closed

[2019-11-29 13:47] #5279 closed

[2019-11-29 22:36] Mgitim opened #5952 "Rails 6 Rich Text image parameter"
When editing or creating a richtext in rails 6 and uploading an image, the image is not saved even though the permitted parameters include the rich content. The text saves but the images. dont.

[2019-12-02 14:32] shootingfly commented on #301
How stupid it is!
Why not make `config.comments_registration_name = 'AdminComment' ` as default?

[2019-12-02 15:32] kernow opened #5953 "Customer JS calling ActiveAdmin.modal_dialog no longer working after upgrade"
Hi,

I can't see any docs on how to use `ActiveAdmin.modal_dialog` in custom JS after the upgrading from 2.3.1 to 2.5.0. Looking through the commits I can see the JS has undergone significant changes which would explain the breakage but can't see the new way to use the `modal_dialog` function.

We have a `app/assets/javascripts/active_admin.js` file which is calling `ActiveAdmin.modal_dialog`, thi

[2019-12-02 16:07] thisismydesign opened #5954 "Custom index code not covered by simplecov"
### Expected behavior

When using `simplecov` I expect tested admin code to marked as covered.

### Actual behavior

Anything inside 'Index as a Table' block is not covered even though the code is verifiably hit. Other customizations such as `show` and `form` work well.

### How to reproduce

`app/admin/users.rb`
[code]

`spec/controllers/admin/users_controller.rb`
[code]

- notice prints of `NOTI

[2019-12-02 17:47] kivanio opened #5955 "Date Range fields broken after 2.5.0 release"
### Expected behavior

Date Range fields broken after 2.5.0 release.
I believe that is related to https://github.com/activeadmin/activeadmin/pull/5867

If you configure:
<pre>
filter :month, as: :date_range
</pre>

Before 2.5.0 it creates the following html:
`<div class="date_range input optional stringish filter_form_field filter_date_range" id="q_month_input"><label class="label">Mês</label>
<in

[2019-12-02 20:09] deivid-rodriguez commented on #5955
Thanks for reporting this, I'll have a look at this ASAP.

[2019-12-02 20:10] deivid-rodriguez commented on #5954
Thanks for the report @thisismydesign, I'll try to figure out what's going on here.

[2019-12-02 20:10] deivid-rodriguez commented on #5955
Pinging @mirelon just in case you have any ideas.

[2019-12-02 20:13] deivid-rodriguez commented on #5953
Thanks for reporting this, it does sound related to the JS refactor in preparation for webpacker support.

I'll have a look myself but pinging @sgara in case you have any ideas.

[2019-12-02 21:38] rosendi commented on #5643
Rails (6) fails with:

[code]

[code]

Any thoughts?

[2019-12-02 22:40] sgara commented on #5953
I’m pretty sure components are exported at all as I didn’t expect those to be used in client code, sorry about that @kernow.
Webpacker compatible package is not that far from being ready though we would still need to add `export` statements to make this work.
I’ll check what can be done to mitigate this meanwhile

[2019-12-02 23:17] dmitry commented on #5643
@rosendi what was an error?

[2019-12-02 23:36] rosendi commented on #5643
@dmitry

[code]

Looks like the `rich_text_area` method uses `rich_text_area_tag` internally, but it's undefined in the ActiveAdmin scope. However in my Rails app (not admin scope) everything works fine.

[2019-12-03 10:02] mirelon commented on #5955
The problem is that #5867 calls input_html_options which uses `Formtastic::Inputs::Base` methods to generate option keys (id, placeholder, maxlength, size, required, autofocus, readonly).
The result is the duplication of id for both inputs (and other wrong options).
DateRangeInput is special, because for one input it generates two separate inputs (is there any other input, which consists of multip

[2019-12-03 12:18] dvkch opened #5959 "Default actions in `table_for` for associated resources"
Hi there and first of all thank you for this amazing tool!

I would like to know how you would suggest adding default actions (view, edit, delete) in `table_for` for an associated collection of resources ? In my case I am displaying a list of `Track`s associated to an `Album`.

I have found a way to do so by adding a `builder_method` to `IndexTableFor` and mostly everything is okay :
- `id_column`

[2019-12-04 02:17] rosendi commented on #5643
No idea?

[2019-12-05 17:32] BuonOmo commented on #855
@jpemberthy you did not respond here, any new on this one?

[2019-12-07 11:32] dmitry commented on #5643
@rosendi I suggest you to use debugger to find out where it is trying to be called. Check if `rich_text_area` is called from the https://github.com/rails/rails/blob/530f7805ed5790af1d472a041bc74089dc183f47/actiontext/app/helpers/action_text/tag_helper.rb#L21.

[2019-12-07 11:42] rosendi commented on #5643
I think the issue is with Zeitwerk. Still investigating. The temporary fix is to include actiontext's helpers in ApplicationController:

[code]

Technically it should be automatically included through `application.rb`:

[code]

[2019-12-07 14:11] victorbstan commented on #5643
Thanks, if it’s supposed to work I’ll figure out why it doesn’t, it might be a few weeks before I get back on that project. I just wanted to know if it’s supported at least.

Cheers,
Victor Stan

[2019-12-07 23:32] Y0hy0h opened #5963 "Update issue template"
Opening the [issue template file](https://github.com/activeadmin/activeadmin/blob/master/.github/ISSUE_TEMPLATE.md) reveals a warning that it uses a legacy format.

GitHub now offers a settings page wizard for creating issue templates (which are stored in a folder, not in a single Markdown file as currently). See the instructions for [configuring issue templates](https://help.github.com/en/github/

[2019-12-08 13:33] dmitry commented on #5643
Means this initializer is not running?

https://github.com/rails/rails/blob/530f7805ed5790af1d472a041bc74089dc183f47/actiontext/lib/action_text/engine.rb#L35

[2019-12-08 20:45] seanfcarroll commented on #5316
I can confirm that this causes a warning

[code]

While this does not

[code]
[code]

[2019-12-10 15:06] #5955 closed

[2019-12-10 16:39] deivid-rodriguez commented on #5963
This will actually be fixed by #5968.

[2019-12-11 01:15] kaneru opened #5969 "Label of date_select input is missing"
### Expected behavior

Label of `date_select` input should be presented in new and edit views.

### Actual behavior

Label of `date_select` input is missing.

### How to reproduce

Create a model with a field of `date` type, e.g. `Equipment`:

[code]

Register a model by running:

[code]

[code]

Then I go to `<site_name>/admin/equipment/new` page and see that label of the `date_select` input is m

[2019-12-11 14:26] #5963 closed

[2019-12-11 14:36] #5953 closed

[2019-12-12 19:48] poloka opened #5971 "Migration Guide from 1.x to a 2.x"
I wanted to ask if a migration guide was created for going from a 1.4.3 version to a 2.x version?  If there is no migration guide, what non-passive changes were introduced that caused the 2.x version bump?

[2019-12-13 10:13] deivid-rodriguez commented on #5971
Hi @poloka, thanks for your question.

ActiveAdmin 2.0 should be essentially 100% compatible with ActiveAdmin 1.0. We took a very conservative approach when bumping the major version because we dropped the `coffeescript` dependency and found that in real life, some applications were using `coffeescript` but actually depending on it through the (indirect) dependency provided by ActiveAdmin. So, eve

[2019-12-13 11:08] thisismydesign commented on #432
There should be a complete working example in the docs imo.

[2019-12-13 13:05] MathieuDerelle opened #5973 "how to activate sidebar in member_action"
content is written directly into a
`#active_admin_content.without_sidebar #main_content_wrapper .main_content`
but sidebar is a totally sibling of `#main_content_wrapper`
(and requires no CSS class `.without_sidebar` on `#active_admin_content`

using `sidebar` as shown https://activeadmin.info/7-sidebars.html in `member_action` does not work
[code]

it raises
``NoMethodError (undefined method `sid

[2019-12-15 17:57] aximuseng commented on #1690
Can any shed light on how to track this down?  I have the same issue - it's just a single Resource that this fails on.  It's one of my odd ball ones so it will be hard to find.

[2019-12-15 18:29] aximuseng opened #5976 "undefined local variable or method `collection_before_scope' / Collection is not a paginated scope errors"
This seems related to

https://github.com/activeadmin/activeadmin/issues/1690

and also:

https://stackoverflow.com/questions/31501232/collection-is-not-a-paginated-scope-set-collection-pageparamspage-per10

The issues seems to be a single model in my app.  This appeared after enabling Pundit.  All my other models work and this one worked before enabling Pundit in AA.  From the referenced links it

[2019-12-15 23:03] boniattirodrigo commented on #5969
Hey @kaneru. I reproduced your error in my machine and it worked as expected I can see the label `Purchase year` beside the date select input.

[2019-12-16 00:58] kaneru commented on #5969
Hello, @boniattirodrigo! Thank you for responding. I am using `ruby 2.6.1p33 (2019-01-30 revision 66950) [x86_64-darwin19]` and `Rails 6.0.0`.

[2019-12-16 16:17] aximuseng commented on #5976
I had a @enrollments variable set in an application controller before action.  Changing that fixed it.

[2019-12-16 16:17] #5976 closed

[2019-12-18 03:37] kaneru commented on #697
Hello, everyone! Facing this issue in my project. Really need to DRY my code in some AA views with helpers. Is there any temporary hack for this issue? This hack seems not to work for me:

[2019-12-22 11:12] ntloi95 commented on #5318
Force using as: :boolean is worked.

[2019-12-23 09:50] #5930 closed

[2019-12-23 09:57] derrick12 commented on #5930
Deleted helpers in the file (helpers/application_helper.rb)

def resource_name
    :user
  end

  def resource
    @resource ||= User.new
  end

  def devise_mapping
    @devise_mapping ||= Devise.mappings[:user]
  end
end

[2019-12-25 04:52] gingerlime opened #5991 "You are not authorized to perform this action. (after upgrade to 2.6.0?)"
### Did you find a bug?

We notice occasional flash messages: "You are not authorized to perform this action". Things seem to work as expected, but the message appears. I'm still not entirely clear how to reproduce it. It seems intermittent.

![Screenshot 2019-12-25 at 11 52 25](https://user-images.githubusercontent.com/524274/71432554-0dee4a80-270d-11ea-9b1d-f47fcd018979.png)

We recently upgrade

[2019-12-25 06:08] kaneru commented on #5969
Looks like that is Safari's fault. Works as expected in Google Chrome and Firefox. But label and `date_select` are positioned on different lines.

<img width="684" alt="Снимок экрана 2019-12-25 в 14 59 03" src="https://user-images.githubusercontent.com/17761708/71434534-5109e700-2728-11ea-86ee-4f8bf2e0dd28.png">

[2019-12-26 14:24] Raj-Kumar-P opened #5993 "Dynamic model Loading"
I have a Field and Post models. The Field model has the post attributes. Like post has post_data (JSON column). where we have dynamically load attributes. like,

[code]
We are trying to load post new form,  after creating a new field in production mode. like,
[code]

This will raise an error like

[code]

If I have done anything wrong. Please find and let us know.

[2019-12-27 08:11] gingerlime commented on #5772
@deivid-rodriguez any plans to look into this? it still happens with latest rails 6.0.2.1 when there are `before_action` or `skip_before_action` used... I'm seeing similar deprecation warnings for devise as reported initially.

[2019-12-31 13:50] awaismbajwa opened #5995 "Resources in custom load paths are not getting loaded"
# Expected behaviour

Active admin should load resources defined in the specified custom load paths.
`ActiveAdmin.setup do |config|`
`  config.load_paths.unshift('gems/ruby-2.4.5/bundler/gems/<some-gem>/admins')`
`end`

### Actual behaviour

Resources specified in the custom load path are not loaded. When those resources are accessed
error is raised

[2020-01-02 09:34] gingerlime commented on #3673
@namiwang thank you. Can you give a bit more details on how you structured your concerns with ActiveAdmin and Rails 6?

[2020-01-03 11:33] tf commented on #5995
To me it looks like [this commit](https://github.com/activeadmin/activeadmin/commit/2459474c6868aaab9b417fb14bd73345f6714f3d) added an initializer which sets the load path. Later, [this commit](https://github.com/activeadmin/activeadmin/commit/017bc8098db3d7e18b88a49f732ce57268bec41a) simplified this initializer to call `ActiveAdmin::Application.setting :load_paths` directly. In our case this init

[2020-01-03 18:57] cristian-rivera commented on #5787
Is this still an issue in 2.6? I'm running Rails 5.2 with ActiveAdmin 2.6 and this exact behavior is occurring. Boot up ad refreshes are fast, one small change and the app grinds to a halt ☹️

[2020-01-04 01:39] gingerlime commented on #5787
I tested it again with rails 5.2 and ActiveAdmin 2.6 and don't have this issue. You mentioned switching back to 2.0 and still experiencing it, so maybe it's something else on your system @cristian-rivera ?

[2020-01-06 15:02] vcsjones opened #5999 "Deprecated syntax warnings with ruby 2.7"
### Expected behavior

ActiveAdmin code does not cause deprecation warnings in Ruby 2.7.

### Actual behavior

There are a number of syntax warnings that can occur.

1. `naming.rb` causes a deprecation warning in Ruby 2.7 due to the [separation of positional and keyword arguments][1] change in Ruby 2.7.

2. /code/work/activeadmin/lib/active_admin/csv_builder.rb:84: warning: Using the last argument

[2020-01-06 15:20] iduuck opened #6001 "Wrong URL generated by ActiveAdmin for redirect after record creation"
### Did you find a bug?

I am currently experiencing the following issue with the latest 3 ActiveAdmin versions:

[code]

### Expected behavior

I expect the URL to be correctly generated and that `admin_products_url` is used here.

### Actual behavior

I am seeing that ActiveAdmin is using the `product_url` which isn't namespaced with `admin`.

### How to reproduce

I am not able to give out the

[2020-01-06 15:35] iDuuck commented on #6001
One more observation was, that this is only happening with the "Product" model.

[2020-01-07 06:05] akshar21 commented on #2375
@jasper-lyons Thanks for the help. its working for me. But there is one change.
instance_exec(resource_class.ransack(params[:q]).pluck(:id), options, &block)
this line won't work. In rails 5 instead of above line we have to use below line for ransack.
instance_exec(resource_class.ransack(params[:q]).**result**.pluck(:id), options, &block)

[2020-01-08 00:17] AFlowOfCode commented on #5969
I am also having this issue, with both ```date_select``` as well as ```date_field```. On my end the formatting is broken, the input shows up on the left where the missing label should be. Firefox & Chrome look identical.

```date_select```:

![date_select](https://user-images.githubusercontent.com/14116237/71939532-e022f000-3167-11ea-8669-927a7f68553f.png)

```date_field```:

![date_field](https:/

[2020-01-08 00:33] AFlowOfCode commented on #5969
I solved this doing the following:
[code]
And in ```assets/stylesheets/active_admin.scss```
[code]

[2020-01-08 13:03] davitapajos-cm42 commented on #5969
Hey! This would solve problem to safari of hidden label using "f.input"

[code]

[2020-01-10 23:10] carltonsmith opened #6006 "Formtastic is no longer being updated and throws copious deprecation warnings in Ruby 2.7"
**Expected behavior**
ActiveAdmin would not depend on gems that are no longer in use or updated, or would fork them to someplace where they can be updated

**Actual behavior**
ActiveAdmin depends on Formtastic, which hasn't been updated since 2017 and for which numerous issues exist.

**What actually happens?**
Currently, in Ruby 2.7.0 formtastic is throwing hundreds, if not thousands of deprecati

[2020-01-10 23:46] manhhung741 commented on #2334
I found out the issue was that `InheritedResources::Base` were not reloaded. Although ActiveAdmin did all the reloading correctly(*), the base class it used wasn't refreshed and still pointed to out-dated ApplicationController.

It looks like we need to add mechanism to InheritedResources gem (also owned by ActiveAdmin) to do reloading correctly.
[code]
ActiveAdmin reloaded the classes correctly i

[2020-01-12 20:58] Andrew-Max opened #6007 "On install : the asset "active_admin.css" is not present in the asset pipeline."
### Did you find a bug?
On a fresh install with rails 6 and rails-sass no assets get installed and going to '/admin' results in an error: The asset "active_admin.css" is not present in the asset pipeline.

### Expected behavior
Should go to a login screen

### Actual behavior
An error is thrown

### How to reproduce
Fresh install according to the guide's 'Installation' section

[our bug report tem

[2020-01-12 22:01] Andrew-Max commented on #6007
It looks like this is solved by `rails generate active_admin:assets` but it is worth noting that the documentation does not instruct the user to ever run this command on a fresh install.

[2020-01-12 22:10] Andrew-Max opened #6008 "Dealing with name spaced models?"
I have a model which is part of an STI scheme and is namespaced under a base class: `Action::VirusInjection`

When I try to save this model from an edit form I get the error:
`param is missing or the value is empty: action_virus_injection

Any idea on how I can allow this form to save a namespaced model? Sorry for the beginner question.

[2020-01-13 04:19] #6008 closed

[2020-01-13 04:35] Andrew-Max commented on #2323
This would be incredibly helpful :+1:

[2020-01-13 04:39] Andrew-Max commented on #5852
:+1:

[2020-01-13 11:04] nicolas-brousse opened #6009 "Can't load active admin after switching to sprocket 4"
### Did you find a bug?

We migrate a Rails application that use `activeadmin`, from Rails 5.2 to 6.0 last week.
We notice that we was not able to load the administration anymore.

### Expected behavior

Having `activeadmin` load correctly.

### Actual behavior

We cannot load our administration anymore, after having migration to Rails 6.0 (sprocket 4).
The weird part was that no exception was sho

[2020-01-13 12:09] swiknaba commented on #5643
adding this gem: https://rubygems.org/gems/active_admin_trix
and following its documentation: https://www.rubydoc.info/gems/active_admin_trix/0.0.3
solved the issue for me.

The steps are:
- routes.rb: `gem 'active_admin_trix', '~> 0.0.3'`
- initializers/active_admin.rb:
[code]

- in your app/admin/my_models.rb:
[code]

[2020-01-13 15:06] rosendi commented on #5643
@swiknaba you don't need an additional gem. Trix works with ActiveAdmin out of the box.

[2020-01-13 15:08] rosendi commented on #5643
There is still a weird issue with Zeitwerk, but it affects only a certain environments with specific conditions.

[2020-01-13 15:09] rosendi commented on #5643
yep, looks so

[2020-01-13 15:35] swiknaba commented on #5643
Thanks for the reply @rosendi . At least locally, it did not work out of the box for me, I haven't tested it in `production` environment yet just `development`. I tried to include that mentioned helper via

[code]

without success. Of course, possibly, I have other errors in my codebase causing the trouble.

[2020-01-14 07:23] AFlowOfCode opened #6014 "Extra array / enumerable object output in rows and columns"
### Did you find a bug?

When enumerating an object for display in a row or column, the entire object itself then shows up in the display.

### Expected behavior

The display behavior done during the enumeration should be the only visible result.

### Actual behavior

Instead of showing eg the specified values enumerated from an array, you get the values as you intended and then also the entire ar

[2020-01-20 17:35] awaismbajwa commented on #5995
From my understanding I think it is caused by a bit complicated architecture of [ActiveAdmin::Application](https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/application.rb), [ActiveAdmin::ApplicationSettings](https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/application_settings.rb) and [ActiveAdmin::SettingsNode](https://github.com/activeadmin/activeadm

[2020-01-20 19:10] agrberg commented on #5258
Has there been any update on this? Unfortunately you cannot cleanly get around this without changing the relationship when it is initially defined in the gem. The best workaround I came up with was after looking at how [`skip_callback`](https://github.com/rails/rails/blob/v6.0.2.1/activesupport/lib/active_support/callbacks.rb#L700) works in Rails. I put the following in my initializer:

[code]

[2020-01-20 19:48] djalmaaraujo commented on #5258
@agrberg I just tried your code in active_admin.rb, added a comment to my model, but did not work. I am using uuid btw.

[code]

[2020-01-20 19:53] agrberg commented on #5258
@djalmaaraujo Are you using ActiveAdmin w/ User models? From your output it looks like that is the type of your `author` but there is no id.

I'm using Active Admin w/o Users but HTTP Basic Auth instead and looking to save comments w/o triggering the validation on the `author` relationship.

[2020-01-20 19:55] djalmaaraujo commented on #5258
@agrberg I do. I use User model + devise. I added the comment to another Model. I also tried to User model, but I am getting the empty text problem.

[2020-01-21 01:50] purplejacket commented on #4100
@jayshepherd Did you ever resolve the problem of the ISBN list looking wrong after the form is submitted?

[2020-01-21 17:58] agrberg commented on #5258
Sorry @djalmaaraujo I'm not sure what's going on. This is the first time I've touched ActiveAdmin in years so I'm a little rusty. What I'd recommend is opening the local gem `bundle open activeadmin` and putting in a break point `binding.pry` if using `pry-byebug` where the `ActiveAdmin::Comment` model is saved so you can see the associated errors. If after this setup you're getting one for the `a

[2020-01-22 11:19] awaismbajwa commented on #5995
But still assigning custom load_path through setter is not solving problem completely.
The issue could arise because this [line of code](https://github.com/activeadmin/activeadmin/blob/9da88933d40ec29eaef3091054ef71ecb760c15f/lib/active_admin/engine.rb#L5) in ActiveAdmin::Engine is getting ignored.
This causes issue for example when working with the dummy app in test environment in that case resou

[2020-01-22 20:34] a-morales opened #6022 "batch_action not working if "create" member_action is defined"
If there's a `batch_action` defined along with the create `member_action` defined on a resource. If you try to do a batch action then the request will be handled by the create handler instead of the batch_action handler. I was able to duplicate this issue by doing the following in the [demo repo](https://github.com/activeadmin/demo.activeadmin.info)

[code]

If I execute the batch action, then I g

[2020-01-24 12:59] Goran1708 commented on #3712
assdresses, it's called underwear ? :D

[2020-01-27 09:11] HanyMoh commented on #642
this worked with me

 controller do
    def scoped_collection
      resource_class.current_venodor_products(current_admin)
    end
  end

current_venodor_products is a scope show only records owned by the current vendor

[2020-01-29 09:45] vfonic commented on #5048
Ping @rystraum! In case you missed it, I just found this PR that you might be interested in having a look/try: #5855.

[2020-01-29 10:28] vfonic commented on #3916
For anyone coming here, `active_admin_form_for` seems to be working for ERB partials, if you use a single `<%= %>` tag, across the whole form, like this:

[code]

Please also note the `[:admin, resource]`.

[2020-01-29 10:45] rystraum commented on #5048
Thanks for the ping @vfonic. I was sort of stuck with this because I was following this thread https://github.com/rails/webpacker/issues/348. It didn't cross my mind that we can just write all the files to `app/javascript/activeadmin` upon running `rails g active_admin:install` instead. I'll try to move forward with this again.