[2020-01-29 12:08] vfonic commented on #5048
I'd love to help. I'm not sure about the time available that I'll have, but let's see. Is there any repo where I can have a look? Maybe we could split some work?

[2020-01-30 13:00] AvinashGupta-Sharecare opened #6057 "An ActionView::Template::Error occurred in sessions#new: activeadmin couldn't find file 'active_admin/nested_menu_arrow.gif'"
After updgrading from Rails 5.0.1 to 5.2.0, there was an upgrade in active admin (from 1.0.0.pre5 to 2.6.0)
Now I am getting
[code]

[2020-01-30 20:42] manhhung741 commented on #2334
When I dig into this further, it turns out that ActiveAdmin's own controllers are also not reloaded properly. It is this whole tree that need to be unload & reloaded. I've attempted to do that manually in my app without success.

ActiveAdmin::ResourceController < ActiveAdmin::BaseController < InheritedResources::Base

Still have to rely on the hack in this issue to work-around it.

[2020-02-02 10:55] dhurba87 commented on #3797
Any progress on this?

[2020-02-02 12:06] dmitry commented on #6006
Would be great if the new major version of activeadmin changes formtastic to https://github.com/heartcombo/simple_form.

[2020-02-03 09:55] tmlee commented on #5787
This is also a problem that i am facing. Not sure if its because of the number of Admin entities.
I have 48 of them, fairly large ones. One small code change and it takes a while to even make the first request. Seem to be working very hard with the code changes reload

[2020-02-03 19:16] JSRossiter opened #6079 "Datalist filters"
### Did you find a bug?

There doesn't seem to be any way to use a [datalist input](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist) as a filter and they would be perfectly suited for this. The error is

[code]

which comes from `raw_collection.map { |o| [send_or_call(label_method, o), send_or_call(value_method, o)] }` in https://github.com/justinfrench/formtastic/blob/f94423144

[2020-02-04 09:41] koenhandekyn commented on #5787
just confirming for the recent readers and posters that after doing all updates and being on ruby 2.6.5 and rails 6.0.1 with active admin 2.3.1 and addons 1.7.1 we don't have the issue anymore (as the original poster of the issue)

[2020-02-04 14:46] erikhSSI opened #6080 "On install:"
### Did you find a bug?

Yes. Lots of error messages on first time installation on local development environment that:

- already has an existing /admin/ path in routes used with a pre-existing codebase (none of which should be touched by ActiveAdmin).

- User model and Devise are already being used and working fine before activeadmin install

- Intending to install/use ActiveAdmin in path `/admin

[2020-02-04 15:06] erikhSSI commented on #6080
BTW, to be clear, when I said above that we already have /admin/ routes, I should add that:

- We do NOT have /app/admin/ in Rails
- But we DO have /app/views/admin/ and /app/controllers/admin/  and /app/helpers/admin/   in our Rails code  (and in /app/assets/ paths)

[2020-02-04 15:11] erikhSSI commented on #6080
I see that a file was created:

db/migrate/20200204141735_add_devise_to_users.rb

But we are already using devise with table users and want to use it.  So maybe I should have used

`rails g active_admin:install --skip-users`

or

`rails g active_admin:install User --skip-users`

???

[2020-02-04 15:51] erikhSSI commented on #6080
BTW, the error above

`/home/vagrant/OURAPP/app/controllers/application_controller.rb:2:in `alias_method': undefined method `current_recruit' for class `ApplicationController' (NameError)`

refers to this line:
[code]

Which I guess is/was a bug in OURAPP (that I just fixed), but FWIW doesn't cause an error in our normal running of rails s/rails c.

## Overall question ##

So what to do at this po

[2020-02-05 13:17] djalmaaraujo commented on #5258
@agrberg No problem. Thanks anyway. I will try what you suggested.

[2020-02-06 12:11] nfedyashev commented on #5201
Perhaps this might be useful for anyone who finds this old thread.

From what I see, this method doesn't seem to work in recent versions(at least in activeadmin 2.6.0).

[code]

[code]

`@head` & `@body` are nil in that `build_tracking_script` method.
* looking for an alternative solution

/cc @dhyegocalota

[2020-02-10 09:34] chibuezeayogu commented on #4415
Thanks man this was really helpful..

[2020-02-11 19:23] nfedyashev opened #6089 "Add custom callbacks/behaviour to ActiveAdmin::Comment"
I couldn't find any existing issue or PR for this use case.

In my current project I need to add mailer notifications to all new AA comments.
Basically just an after_create callback with some Mailer #deliver call.

What's the simplest way to achieve that? Patching the comment model? Trying to approach it on a controller/action level? If possible, I would like to stay away from forking the project.

[2020-02-12 04:27] amazing-jay commented on #5668
Can anyone here help me figure out the CSS required to make the table fit to screen (minus filter area) with horizontal scrollbar? I've tried all the following, but nothing is working. I've also included https://github.com/activeadmin-plugins/active_admin_sidebar for its collapsable features (but am not married to the gem). The reason I want fit to screen is because without it the new <resource> b

[2020-02-12 08:23] nfedyashev commented on #6089
This method seems to work:

[code]

[2020-02-13 02:12] rosendi commented on #5313
Same issue.  There is no way to conditionally set the navigation menu depending on the request.

@DuBistKomisch do you have any solutions?

[2020-02-13 02:18] DuBistKomisch commented on #5313
@rosendi sorry but I never found even a workaround for this, just kept our menu more basic. We've since retired our AA interface in favour of a React SPA anyway.

[2020-02-13 02:44] rosendi commented on #5313
@DuBistKomisch thank you for the quick answer.

[2020-02-19 06:57] jasper-lyons commented on #2375
Thanks @akshar21 . I'm surprised this never made it into a PR. Then you could have submitted it as a code change.

Is this actually still an open issue or is it just unattended but finished?

[2020-02-23 19:30] carlsmith-aob commented on #1754
@truongnmt What do you mean by the link markup?

[2020-02-24 23:24] rept commented on #5558
Is there a way of using Webpacker or is it needed to use the asset pipeline?

[2020-02-25 08:28] yopaz-giapnh opened #6106 "Action Text support on Rails 6.0"
`Action Text` is one of the most awesome feature that introduced in Rails 6.0. But I could not use the `Action Text` with `Active Admin`. Does `Active Admin` itself support it? If doesn't, please consider to support the function in the near feature.

[2020-02-26 21:38] khaledrepos opened #6107 "Unexpected behavior when setting menu_name option to :utility_navigation"
#### Steps to Reproduce
1. Set a menu on a page X, with the option `menu_name: :utility_navigation`
2. Go to Page X

#### Results
The main navigation is replaced with :utility_navigation. In other words, :utility_navigation appears twice

[2020-02-27 20:01] gromovadarya90 opened #6110 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-28 12:08] praveenrajt commented on #3085
How to I sort store Attribute Accessor

user.rb

[code]
admin/users.rb

[code]

[2020-02-28 16:17] mef79 commented on #5117
Found a workaround that prevents the apps from being generated that works for my purposes. It's not ideal, but I really wanted them gone.

[code]

Consider before using:
- future compatibility concerns - if any of the active admin code that this references changes and you update, this snippet might cause problems in your app
- It's at odds with the maintainers' stated intention of allowing comment

[2020-03-02 07:29] Bhalani commented on #1743
@holyketzer
I'm using `activeadmin (1.4.3)`.
And I have post model,
[code]
and I want to filter post by user name.

How I'll add filter for that?

[2020-03-02 09:00] holyketzer commented on #1743
@Bhalani

[code]

[2020-03-05 18:37] mirelon commented on #4845
[code]

[2020-03-09 21:36] amazing-jay commented on #5668
@javierjulio do you have any thoughts? The reason I want fit to screen is because without it the new button and logout button are not immediately available to the user under the default behavior.

[2020-03-09 23:23] javierjulio commented on #5668
@amazing-jay I don't see anyway to achieve that without significant work. You can only do so much before too much content will just not fit. The most I can offer is what I've done in #3862 where the header remains within the viewport, but the table/filters, if they have too much content, they scroll offscreen.

Since at work we use the #3862 fork, I don't have the original CSS but I fooled around

[2020-03-11 21:10] Andrew-Max opened #6130 "Sub sub menus don't work as listed in the documentation"
### Did you find a bug?
Yes

### Expected behavior
The docs give this example of how to  do sub nested menus:
[code]

Should produce a nested menu in a nested menu

### Actual behavior
This throws: `TypeError (Array isn't supported as a Menu ID):`
### How to reproduce

ruby '2.6.3'
gem 'rails', '~> 6.0.1'

Create an app and use the example provided above directly from the documentation.

[2020-03-12 10:56] deivid-rodriguez commented on #6130
Hi @Andrew-Max, this is a new feature and we haven't yet released it. Unfortunately the documentation site gets autodeployed with every push to master, so we get this "unsyncronized situations" once in a while.

You can try the feature by specifying `gem "activeadmin", github: "activeadmin/activeadmin"` in your `Gemfile`.

[2020-03-14 10:22] elassadi commented on #5201
Who ever it may  help
`module AdminPageLayoutOverride
  def build_page(*args)
    within super do
      render "layouts/environment"
    end
  end

  def build_active_admin_head
    within super do
      render "admin/custom_script_tags"
    end
  end
end

ActiveAdmin::Views::Pages::Base.send :prepend, AdminPageLayoutOverride`

This way you can include your tags

[2020-03-14 18:34] MishaHerscu commented on #2957
I am currently seeing this (or a similar) issue only in Chrome on localhost. I am not having the problem in other browsers or in production. I already cleared Chrome cache and cookies. Any ideas? Thank you!

https://stackoverflow.com/questions/60680271/active-admin-login-for-admin-users-redirects-back-to-the-login-page-with-correct

[2020-03-14 18:49] MishaHerscu commented on #4681
I am having a very similar problem, but only in Chrome on localhost. I posted about it on StackOverflow. I'd greatly appreciate any suggestions.

Note: my code does not have ```config.api_only = true``` in ```config/application.rb```

https://stackoverflow.com/questions/60680271/active-admin-login-for-admin-users-redirects-back-to-the-login-page-with-correct

[2020-03-16 19:50] ezeheinke commented on #5430
I am having the same problem, I am wondering if this was picked up on another issue maybe ?

[2020-03-17 17:50] Bastes opened #6144 "The `.policy(resource)` helper method uses the default policy adapter rather than the namespaces"
# Description

I have two ActiveAdmin namespaces:
[code]

This `OtherAdmin::PunditAdapter` is a custom-made adapter that takes policies specific to this namespace instead of the standard ones.

In the `index` view of one of my resources, I want to keep a field from view of users who can't access it:
[code]

The problem is that the `.policy(..)` helper method does not use the `other_admin` namespac

[2020-03-18 09:23] Bastes commented on #6144
Tried yesterday all evening: I can't seem to be able to reproduce in a new app (same relevant gem versions, same mechanic, different results). The stack does not seem able to access the `.policy(..)` method from pundit's `lib/pundit.rb` for some reason.

I will try to find what makes the difference when I can but I can't dig further just now.

[2020-03-18 13:07] Bastes commented on #6144
Ok, you can ignore this issue: it had to do with our app including the `Pundit` module an relying on it as if it was ActiveAdmin's adapters. Sorry for the noise.

[2020-03-18 13:07] #6144 closed

[2020-03-18 20:58] unionups commented on #4172
I'm use another way for this -  define custom format by patching activeadmin

in `config/initializers/active_admin.rb`
[code]
in `config/initializers/mime_types.rb`
[code]

in `app/admin/your_models.rb`
[code]
This add custom_csv  link in download section and there way for how to customize your csv with the standart activeadmin DSL.
Good luck)))

[2020-03-18 21:12] unionups commented on #5725
See my reply this is maybe solution for you [#4172 ](https://github.com/activeadmin/activeadmin/issues/4172#issuecomment-600855013)

[2020-03-20 00:35] Andrew-Max commented on #6130
@deivid-rodriguez gotcha, thanks. If there is anything I can do in terms of helping to get this merged I could try to give a hand. Code review? testing ?  Something else?

[2020-03-20 00:42] #6130 closed

[2020-03-20 03:50] Looooong commented on #5578
I can confirm this issue in 2.6.1.

[2020-03-20 12:30] deivid-rodriguez commented on #6130
It's merged, actually! You can test it by speciyfing

[code]

in your Gemfile, and running `bundle update activeadmin`.

I'll release a new version anyways very soon.

[2020-03-22 00:07] Andrew-Max opened #6156 "Create Form For model with `::` colon in name"
### Did you find a bug?

I'm using an STI setup so I have models like

[code]

[code]

I Cannot figure out any way to set the model to one of the sub type models in a custom form

So this works
[code]

But I can't figure out how to something like this:

[code]

Is anybody aware of a way to do this?

### Expected behavior

Honestly not sure, but maybe should be able to manually set the underlying m

[2020-03-24 18:31] #5578 closed

[2020-03-25 14:18] sveredyuk commented on #4681
I have this issue. my model is `AdminUser` with `uuid` as PK.

I log in with valid credentials and see flash message "Signed in successfully."

Debug shows that @current_admin_user exists on login but right after it nil. Like something set my @current_admin_user to `nil`

Very strange as 2 days ago everything worked fine

[2020-03-26 03:49] Looooong commented on #221
I have created #6115 for anyone looking forward to this feature enhancement.

[2020-03-27 08:40] knd opened #6168 "Could not display admin login page after install, migrate, seed"
### Did you find a bug?

I installed ActiveAdmin and Devise following this tutorial https://blog.heroku.com/a-rock-solid-modern-web-stack#step-2-getting-activeadmin-working but couldn't get admin page on, instead the log says `Completed 500 Internal Server Error in 13ms (ActiveRecord: 0.0ms | Allocations: 10546)`

### Expected behavior

Should display admin

![image](https://user-images.githubuser

[2020-03-28 16:37] sunny commented on #5772
Another trick to do allow both `before_action` and `skip_before_action` is to include them in your application controller, but with a condition:

[code]

[2020-03-28 16:39] deivid-rodriguez commented on #5772
Sorry @gingerlime that I never got to answer this. Not sure when I'll get to it, too much on my plate at the moment, sorry.

[2020-03-28 18:29] gingerlime commented on #5772
Thanks @deivid-rodriguez. No worries. We managed to work around it for now :)

[2020-03-30 03:13] amazing-jay commented on #5668
Thanks @javierjulio! Although you said it couldn't be done your code helped tremendously:) I needed the .index #wrapper directive to make things play normal. Here's what I ended up with. You're the best:
`.index #wrapper {
  display: block;
}

.paginated_collection_contents {
  overflow: scroll;
  width: 100%;
}`

[2020-03-31 02:20] knd commented on #6168
Figured it out:

Missing folder `images` under `app/asset/` because of using --skip-keeps when generating rails project.

[2020-03-31 02:20] #6168 closed

[2020-04-02 11:12] ptiforka commented on #2334
Prefixing all the constants in our ```ApplicationController``` is what fixed this for us as well.

[2020-04-03 04:00] arun1760 opened #6177 "Active admin page design issue"
Sometimes the text on the admin page is colored white and hard to read.

[2020-04-03 09:00] robertoboldi opened #6178 "Custom order/sorting with position in has_many to has_many polymorphic"
I have a polymorphic has_many to has_many association managed with Active Admin. There are two different models BlogArticle and MagazineArticles that have many Authors through Authoring table. The association is working correctly, but I have to create some kind of input in active admin that let the administrator specify the order of appearance of the Authors for any single Article.

So, the target

[2020-04-03 11:44] ptiforka commented on #257
[code]
rails 5
ruby 2.4

[2020-04-07 16:06] andriytyurnikov commented on #5197
any solutions?

[2020-04-07 16:15] raphox commented on #5197
hi @andriytyurnikov
I created the file `config/initializers/ransack/nodes_bindable.rb` with this content:
[code]

[2020-04-10 15:00] Bastes opened #6187 "Nested resources menu: how to get a link to the parent resource list?"
This is a question (that could get to be a feature request) about menu generation for nested resources (using `belongs_to`).

So, what I have is something along those lines:
[code]
The menu I get on the `ParentResource` index page:
[code]
(so far so good)
On the `ChildResource` index though I would like:
[code]
Though what I get is just:
[code]

I tried adding:
[code]
But that bugs on the ```Child

[2020-04-10 16:29] Halt commented on #4043
you can make all has_many form inputs inline just adding style for desired class:

`form.has_many :nested_resources, class: 'class_for_inline_has_many_form' do |f|`

active_admin.scss

`.class_for_inline_has_many_form {
  ol {
    li {
      display: inline-block;
    }
  }
}`

[2020-04-12 14:25] jco137 opened #6192 "Strange behaviour with nested STI resources"
### Did you find a bug?

I have theses models :

class Game < ApplicationRecord
	has_many :titles, :as => :titleable
	has_many :descriptions, :as => :textable
	has_many :reviews, :as => :textable
	accepts_nested_attributes_for :titles, allow_destroy: true
	accepts_nested_attributes_for :descriptions, allow_destroy: true
	accepts_nested_attributes_for :reviews, allow_destroy: true
end

class Text <

[2020-04-13 11:00] abdelrahmanabdelnabi opened #6194 "Support scopes with a dynamic label and a scope block"
Active admin scopes don't support scopes with a dynamic label (a proc) and a block for the scope at the same time. I can either have a scope with a dynamic label and a predefined scope on the model or a scope with a static label and block for the scope.

Example of what I tried to do:
[code]
However this results in:
`A string/symbol is required as the second argument if your label is a proc.`
whic

[2020-04-13 12:14] abdelrahmanabdelnabi commented on #6156
I think you should use the relation name not the class name in `f.has_many`. i.e if your` Experiment` model has a line that says `has_many :actions, class_name: 'Action::SomeAction'` Then you should use f.has_many like so: `f.has_many(:actions)`

[2020-04-15 07:53] jraedisch opened #6196 "Feature Request/Discussion: Easier/Broader support for `batch_action_form`"
Right now, JavaScript functionality for batch actions is scoped to `.paginated_collection`:

https://github.com/activeadmin/activeadmin/blob/master/app/javascript/active_admin/initializers/batch-actions.js#L41

Maybe this could be broadened, so it is easier to use in any `table_for`. Of course the workaround of adding `.paginated_collection` is small, but hard to find.

Maybe even the reliance on

[2020-04-17 20:27] Ecco commented on #783
Just got hit by this again. This should be reopened.

[2020-04-18 04:54] onetechlabs opened #6199 "ActiveAdmin got 404 Not Found in Nginx Ubuntu"
hello , my activeadmin in route /admin and other routes except / got error 404 how to fix it ? thanks for help .

[2020-04-18 18:12] Ecco commented on #783
Ok, I eventually found the culprit in my own case. I was defining a scope when a model class was being loaded, and this scope was actually hitting the database (moved to a lambda instead).

That being said, I don't really know if this is a problem on AA's side or not :)

I mean, trying to avoid hitting the db when a model class is loaded makes sense, but AFAIK it's not something that Rails enforce

[2020-04-18 18:33] deivid-rodriguez commented on #783
I haven't had a close look, but the error seems accurate: DB is being hit during load. The question is whether that's deadly for AA or if we can/should recover. I don't really have an opinion since I haven't studied the problem, but since quite a few people requested reopening, and I don't really mind this being closed or open, I reopened it :man_shrugging:.

[2020-04-20 15:01] ceberhardt commented on #5225
Yes, this is still an issue. You have to make the has_many relation with dependent: :restrict_with_error in order to generate the error in the model object.

`has_many :programs, inverse_of: :program_group, dependent: :restrict_with_error`

[2020-04-20 20:23] sjieg commented on #5551
To help with some ticket cleanup. This ticket is resolved with  #5855 and should be closed.

[2020-04-20 20:25] #5551 closed

[2020-04-21 02:37] rabinpoudyal commented on #2856
does it support now?

[2020-04-21 09:59] sjieg opened #6201 "Should the sprockets dependency be removed?"
**Background**

Hey guys, first of all let me say I appreciate all te amazing work on this gem! It's a great addition to the Rails toolset.
Recently, like many of us, I'm looking into moving over to Webpacker and with #5855 you guys now also support it. But when switching,  Sprockets is still installed due to the dependency in the Gemspec. It's not major, but when a Gem is not used, I'd rather not

[2020-04-21 10:47] deivid-rodriguez commented on #6201
Thanks for the kind words @sjieg :purple_heart:

I'm happy to explore removing the dependency in the future but note that [`rails` still depends on it](https://rubygems.org/gems/rails/versions/6.0.2.2/dependencies), you even if we removed it, you'll still get it installed and added to the lock file.

[2020-04-21 10:55] sjieg commented on #6201
Ah, fair point! Honestly I just didn't dig deep enough in my lock file to see the link from `rails-sprockets` to `sprockets`. 👎

In that case this ticket would even be lower priority. Still, it's probably not a bad idea to not have a dependency on something you're not necessarily dependent on :)

[2020-04-21 11:00] deivid-rodriguez commented on #6201
Yeah, I'll still leave it open for future evaluation. Thanks @sjieg!

[2020-04-23 12:54] hegedak opened #6203 "Extended menu (#5994) appears even it does not contain any child"
### Did you find a bug?

Created extended menu and the parent menu appears even the user has no child menu items underneath.

### Expected behavior

If the user has no access any of the child menu items, the parent menu should not be displayed.

### Actual behavior

Created extended menu and the parent menu appears even the user has no child menu items underneath.
![empty_menu](https://user-images

[2020-04-29 08:23] tbohr commented on #257
@

yes this is working / with conditions:

`before_action :skip_sidebar!, only: :index, if: proc{ current_admin_user.is_admin? }`

[2020-04-29 14:02] timnolte commented on #5182
I needed to upgrade the entire Ruby/Rails stack for a client site and I'm now running into the issue with nested `inputs` and the result is both duplicated form sections as well as completely missing fields. Our application uses heavily the [nested form image upload](https://github.com/activeadmin/activeadmin/wiki/Nested-model-form-image-upload) wiki example. This functionality seems to now be bro

[2020-04-29 20:57] Ecco opened #6206 "ActiveAdmin crashes on start if there's no app/assets directory"
### Problem

1. Create a new Rails 6 app using Webpacker. For instance, `rails new FooBar --skip-sprockets --webpack=vue`
2. Remove the `app/assets` directory
3. Run `rails server`. It works!
4. Add activeadmin to the Gemfile and run `bundle install`
5. (Optional) Edit `config/initializers/active_admin.rb` to use webpack
5. Run `rails server`. It crashes with an error.

### Expected behavior

It s

[2020-04-29 20:59] Ecco commented on #6206
This might be related to #6201.

[2020-04-29 21:18] Ecco commented on #6206
#### My investigation

1. This is due to unconditionally [requiring sassc-rails](https://github.com/activeadmin/activeadmin/blob/3756c83ab720b0474bb73c477317d55b7948c866/lib/active_admin.rb#L11), which in turn will [require `sprockets/railtie`](https://github.com/sass/sassc-rails/blob/8d0462d54b5b5dd84cb1df31823c3afaebb64534/lib/sassc/rails/railtie.rb#L4).
2. Even if this gem isn't loaded, the eng

[2020-04-30 00:27] Ecco commented on #5772
Got hit by this too. The workaround works! That being said, it seems a bit sub-optimal since every request will have to check if `active_admin?` is true. I think it'd be great to fix this at some point 😄

[2020-04-30 08:52] jeantristan commented on #5772
For the record, I was also hit by the problem.
The problem was tied to ActiveAdmin and FriendlyId.
Removing this portion of code did the job:
[code]

[2020-04-30 15:57] ShamoX commented on #2408
Still not resolved. I had to use just-datetime-picker.

You should re-open it.

[2020-05-01 10:33] sergewhite commented on #5558
@rept Yes, check your ActiveAdmin.config and set `config.use_webpacker = true`

[2020-05-01 12:59] rept commented on #5558
@sergewhite  Thanks I'll check it out!

[2020-05-03 12:09] afuno opened #6208 "The problem with nested forms"
Rails 6.0.2.2, ActiveAdmin 2.7.0

---

It seems that there is a problem when, for example, a triple nested form. More details are described here: https://stackoverflow.com/questions/61573577/why-the-new-data-are-not-saved-in-the-nested-form

You can immediately focus on the second addition.

[2020-05-04 21:09] NicholasHazen commented on #5326
@mackermedia Thanks! This fix worked for me. It was actually hard to find this solution.

[2020-05-04 21:20] markaschneider commented on #1540
@jpmckinney's solution worked for me, but I had to add " !important"...
` width: auto !important;`

[2020-05-07 12:15] kjeldahl opened #6216 "Index as table sort by column might fail when paging"
When sorting on a column having many records pr distinct value in that column going through all records using paging in the index page all records might not be shown.

This is because each page runs a new query in which it sorts by the column and uses offset and limit to find the page. If there are more records with the same value in the column being sorted by their order within the result is not

[2020-05-08 14:00] vfonic opened #6217 "When `belongs_to` record not set, record create/update fails silently"
I'm not sure about this one. :)

What I was building was:
A nested resource that should automatically be assigned to a parent (existing) record. (`has_many` => `belongs_to`)
I clicked on "New" (on child), filled out the form (that DOES NOT have parent in the form), clicked "Create" and...was redirected to the form, but there were no visible error messages.

This is "obvious", because I don't have

[2020-05-08 19:21] JagadeshRaj05 commented on #4800
Thanks @Fivell. But when I use the solution in rails v3.2.22.2 and active-admin v0.6.6, below error is coming. Kindly help with this one.

**uninitialized constant ActiveAdmin::Inputs::Filters (NameError)**

[2020-05-08 19:59] JagadeshRaj05 commented on #4800
After deep digging, I got the answer.

**For active-admin v0.6.6, it should be**
[code]
**Replacing Filters::StringInput to FilterStringInput will work**

[2020-05-08 20:03] vfonic commented on #6217
Here's what I found out.

I had my form defined like this:

[code]

This caused the silent failure, because the above should be changed to:

[code]

How can we prevent this from happening?

I guess there are two solutions:
We could check the number of arguments passed. If number is zero we can:
1) Raise error
2) Provide validation errors (I'd guess that `f` object would be able to access `f.object

[2020-05-08 21:30] vfonic commented on #3673
This seems to be the easiest solution for me, since you can simply copy-paste the same code from the admin page/resource:

[code]

[code]

[2020-05-08 23:31] franzejr commented on #5821
Is this in the latest release ?

[2020-05-09 20:53] Ecco opened #6222 "Make the sassc-rails dependency optional"
When using webpacker, the `sassc-rails` gem is pulled in even though it is never going to be used.

This is sort of similar to #6201, except that sassc-rails is *not* pulled by Rails already, so it's more visible.

[2020-05-11 21:00] tjohnell-handy opened #6223 "Distinguishing between calls to authorized? for UX purposes versus actual attempted actions"
### Did you find a bug?

Right now, all authorization checks funnel through the `authorized?` method whether it be to display a particular action as an option in a dropdown or to prevent a particular action from taking place.

I'm in the process of adding in some logging to our admin to track actions taking place (both authorized and unauthorized), so the `authorized?` method seemed like the perfe

[2020-05-12 18:03] afuno commented on #6208
@elia Can anyone answer me on this? I really don't understand how to build such a form in ActiveAdmin. This is not in the documentation.

[2020-05-14 16:26] alex-hall commented on #6222
Any interest in this @gregbell ? I created a fork of this repo and simply made the change:

`  s.add_dependency 'sassc-rails', '~> 2.1'` =>   `s.add_development_dependency 'sassc-rails', '~> 2.1'`

The same number of tests failed in the before and after case (not sure why there are tests failing on master, perhaps I missed something in the CONTRIBUTING.md doc).

Additionally, I was able to create

[2020-05-14 20:25] alex-hall commented on #6222
FYI I Have a PR open here with passing CI: #6225

[2020-05-14 20:26] alex-hall commented on #6222
CC: @deivid-rodriguez

[2020-05-14 21:13] alex-hall commented on #6222
Hmm.. on further inspection, it looks like sassc-rails IS a dependency rails pulls in. Here is the gemfile.lock from rails 6.0:

[code]

[2020-05-14 22:32] Ecco commented on #6222
@alex-hall Hmm, I beg to disagree :) `sassc-rails` is indeed a dependency of sass-rails, but AFAIK rails doesn't pull `sass-rails` in.

Would you mind sharing a bigger part of your Gemfile.lock maybe?

[2020-05-14 23:19] Ecco commented on #6222
FWIW, on rails 6.0.3, `rails new foobar -S` generates a `Gemfile.lock` w/o any mention of sass whatsoever.

[2020-05-14 23:23] elia commented on #6208
@afuno this doesn't look much like an error specific to ActiveAdmin, but rather a nested-attribute  edge case… have you tried looking for articles about nested attributes? I've found this one for example that tackle many complex cases https://www.sitepoint.com/complex-rails-forms-with-nested-attributes/.

I would suggest closing this issue and keeping the question on StackOverflow, which seems mor

[2020-05-14 23:59] afuno commented on #6208
@elia Thanks you. You made me read the documentation again. I will write a solution here, as well as duplicate it on StackOverflow.

The solution is simple - need to use `inverse_of`. [Documentation](https://api.rubyonrails.org/classes/ActiveRecord/NestedAttributes/ClassMethods.html#module-ActiveRecord::NestedAttributes::ClassMethods-label-Validating+the+presence+of+a+parent+model).

And everythin

[2020-05-14 23:59] #6208 closed

[2020-05-15 06:36] elia commented on #6208
That’s great! Thanks for sharing the solution! 👍

[2020-05-15 12:56] alex-hall commented on #6222
Gotcha @Ecco , I was referring to a vanilla rails install. The gemfile.lock I was referring to was the actual rails repo itself. I did notice beforehand that skipping sprockets leaves that dependency out of the resulting gemfile entry:

From Rails:
[code]

The hurdle in ActiveAdmin is going to be making [this require](https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin.rb#L11)

[2020-05-17 10:56] deepakmahakale commented on #4395
FYI: The above link points to incorrect line number now

https://github.com/activeadmin/activeadmin/blob/acfd8f33f219c0b6d9f47c5ad437f5509207639d/config/locales/en.yml#L97

[2020-05-18 10:06] ndbroadbent commented on #2738
This is my main problem with ActiveAdmin, so I would love to see a more sane default where the filters don't try to load every row from a table. This has caused problems at most of the companies I worked at over the last 10+ years, and also my current project. The default filters would lock up the entire application in production because it was trying to build a huge select list with every possibl

[2020-05-18 11:33] buffpojken opened #6233 "Route names get clobbered sometimes"
### Did you find a bug?

At perhaps 1 in 10 application starts, application loading fails with an error similar to:
[code]

or

[code]

ContactAgent and ItemGroup is a model, and registered resource with ActiveAdmin.

### Expected behavior

Application should start without issue.

### Actual behavior

Application fails to load.

### How to reproduce

I can't reliably reproduce, but the setup below

[2020-05-18 11:34] buffpojken commented on #6233
This is on activeadmin 2.6.1, Rails 6.0.2 and Ruby 2.6.4.

[2020-05-18 11:48] buffpojken commented on #5712
This seems to be related to our issue (see #6233) - will test your workaround.

[2020-05-18 12:32] buffpojken commented on #6233
So, having been reading through issues, I found #5316 and tried turning of eager_load for this environment, and with that turned off the issue could not be reproduced at all.

However, turning it off in production is not really an options for us, so I feel this is an issue somewhere within ActiveAdmin.

[2020-05-20 01:32] erotenberg1 opened #6242 "Can't access ActiveStorage image attached to a nested form in form"
### Bug Summary
This is about behavior In nested forms (f.has_many) when the nested resource has an attached image (or other) blob, and has a polymorphic relationship to the form's main resource.  In this case, `hint:` fails to access the attached image blob, and furthermore updating such resources fails to upload a replacement image.

### Expected behavior
When editing a resource with an attached

[2020-05-24 00:04] glv opened #6247 "RadioInput for filters"
There is at least one legitimate use case for supporting a radiobutton group as a filter.

We encountered a situation where we wanted two sets of scopes that would compose, rather than simply being used for visual grouping. That idea's just a poor fit for ActiveAdmin, but I was able to implement the subsidiary scope group as a filter. But it didn't feel right as a select; as another fixed, low-car

[2020-05-24 21:12] brunvez opened #6248 "Allow using PORO decorators"
## Motivation

We were removing Draper from our projects template in favor of PORO presenter since we were filling decorators were used in a none-optimal way, plus we wanted to have fewer dependencies and a lower learning curve for newcomers. During that process, we found out how often we used decorators on ActiveAdmin pages and how useful they could be.

We also found that ActiveAdmin has a hard

[2020-05-26 03:46] ChrisZou opened #6252 "Admin page styles got purged by purgecss"
I use ActiveAdmin and [purgecss](https://purgecss.com/) (because I use [tailwindcss](https://github.com/tailwindcss/tailwindcss)) in my project. And when deployed to production, all the styles on the admin pages are striped.
I tried to add the following rule to whitelist activeadmin styles according to the purgecss docs but didn't work.

[code]

Is there a way to make these two work together?

[2020-05-26 06:20] ChrisZou commented on #6252
The workaround I found, after some searching, is to use assets pipeline to manage ActiveAdmin's assets and move activeadmin.scss to `vender/assets/stylesheets`. Not sure how to use webpacker and purgecss to do that.

[2020-05-28 11:11] teekenl opened #6260 "Define custom routes on custom page."
Sorry if this question was asked before.
I was having custom page, named as `Status` but I cant find a way to define custom routes for my custom page, eg: `localhost:3000/admin/dashboard/status` instead of `localhost:3000/admin/status` (default).

My code snippet:
[code]

in my `config/routes`:
[code]

[2020-05-30 12:08] #5680 closed

[2020-05-30 12:44] hardbap opened #6263 "Upgrade Kaminari due to CVE-2020-11082"
### Did you find a bug?

Akira Matusada made an announcement to the Ruby Security mailing list regarding CVE-2020-11082:

[code]
### Expected behavior

The Kaminari gem should be upgraded to a non-vulnerable version.

### Actual behavior

The ActiveAdmin's Kaminari dependency is locked to a vulnerable version:

`kaminari (~> 1.0, >= 1.0.1)`

### How to reproduce

N/A

[our bug report template]: ht

[2020-05-30 20:10] erotenberg1 commented on #5549
solution of @jdugarte is not working for me, I still get the page numbering errors similar to the original post.

I'm initializing with:
[code]
and, according to [this link](https://github.com/activeadmin/activeadmin/issues/1833),
[code]
I am sure both methods are happening during initialization, but I still get the page number errors similar to the original post.

[2020-05-31 23:13] PulsarV commented on #827
I have the same issue with Active Admin 2.4.0 and Custom Collection Action. The problem exists only in production mode and when the "active_admin" layout is selected. The problem directly depends on the config.eager_load parameter (= true in production mode). Do you have any ideas on how to fix this issue without disabling config.eager_load?

[2020-05-31 23:28] PulsarV opened #6267 "Custom controller actions rendering error"
I have an issue with Active Admin 2.4.0 and custom collection action.
When I use 'active_admin' layout for a custom action, the rendering causes the following error:

undefined method `get' for nil: NilClass

The error comes from this call in layout.rb:
1: render view_factory.layout

The same issue was discussed [there](https://github.com/activeadmin/activeadmin/issues/827)

The issue exists only

[2020-06-03 03:26] erotenberg1 commented on #6247
+1

[2020-06-03 14:16] dbackeus commented on #5243
It also isn't possible to get a `<select multiple>...</select>` type input.

At the end of the day seems like you'll need to allow a deeper configuration hash for things to come together. Right now if an `Array` is supplied as a "type" that turns into a regular `<select>` field but what would be needed to support all types is likely something like:

[code]

Makes sense?

[2020-06-05 10:48] Sprachprofi opened #6272 "Export is no longer filtered"
Recently ActiveAdmin's CSV function has stopped behaving as expected, namely it now **ignores any filters and always gives a full export of the table**. Even more curiously, this only happens in my production environment; in my dev environment it still works normally.

There's another difference: **the production environment shows the currently active filters box underneath the list of filters, wh

[2020-06-06 18:54] wakgari commented on #1544
just actvate the coffee_script
it worked for me

[2020-06-09 15:26] #6263 closed

[2020-06-10 09:11] AlphaFayme commented on #4483
I think this was not the expected answer of the original question since i haven't been able to sort my table according to a column inside dashboard @kaka-ruto

[2020-06-16 03:41] williamcodes opened #6307 "Security issue: open redirect"
### Did you find a bug?

There is a security issue with ActiveAdmin.

The issue is what's known as an open redirect. It's caused because we rely on the Referrer header when using `redirect_back` without validating its contents. This means an attacker could redirect a user to a malicious website.

Here's an example exploit. An attacker modifies the Referrer header to point to a malicious website th

[2020-06-19 09:06] danielshongo opened #6316 "how can i required the user to fill all the fields form"
### Did you find a bug?

Describe your problem with a **clear title** sumarizing it, and a **clear
description** including as much relevant information as possible about it.

### Expected behavior

What do you think should happen?

### Actual behavior

What actually happens?

### How to reproduce

Your best chance of getting this bug looked at quickly is to provide a **code
sample** or an **execut

[2020-06-24 22:52] mrothenbuhler opened #6340 "Page limit ceiling for tables with lots of entries"
ActiveAdmin is not really supposed to have page limits, I think. I should be able to reach the page `/admin/accounts?order=id_desc&page=16958` if I like, but instead, I get a 500 response. Sometimes, I can't make it up to page 15838, other times, I can make it all the way up to 16003. To reproduce, just try a super high page number yourself.

Any workarounds?

[2020-06-29 15:46] sikandartariq1 commented on #5862
Do we have any progress on this?

[2020-07-01 15:07] cdalbergue commented on #6233
Hi @buffpojken I don't know if you found a way to fix the problem but I had it too, to the point that I could not start my application anymore (neither in local env or in production).

Upgrading to ruby 2.7, rails 6.0.3 and ActiveAdmin 2.7.0 seems to have fixed it for me.

[2020-07-01 23:26] djalmaaraujo commented on #6316
Add validations to your models

[2020-07-02 08:57] aki1221 commented on #3673
this also works
`
module UserActions
  module Actions

    def self.included(dsl)
        dsl.instnace_eval do
            # define method here ..... like member_action, collecton_action
        end
   end
end
end`

[2020-07-06 02:37] slucaskim opened #6354 "Return key doesn't submit modal dialog"
### Expected behavior

When pressing the return key within a modal dialog for a batch action, it should submit the form.

### Actual behavior

The modal closes and the page refreshes, and it seems like the form submitted, but it's just a refresh.

### How to reproduce

![image](https://user-images.githubusercontent.com/13230168/86550252-f4298d80-bf0f-11ea-8f47-bf48c69e4e3d.png)
Create a batch acti

[2020-07-07 19:55] jbirdjavi opened #6357 "Not loading jQuery-ui using webpacker"
I'm upgrading an app that uses ActiveAdmin to Rails 6 using Webpacker.  I followed the directions [here](https://github.com/activeadmin/activeadmin/blob/master/docs/0-installation.md#webpacker) to manually use Webpacker.  I'm getting a console error that seems to indicate that jQuery-ui hasn't been loaded.  I'm probably doing something wrong, but I can't seem to figure it out.

Console error:
[cod

[2020-07-08 22:02] #6248 closed

[2020-07-12 09:38] sunny commented on #5862
@sikandartariq1 would you be willing to have a try at the change?

[2020-07-12 09:48] sunny commented on #2738
This looks like a duplicate of #2692. Changes in #5548 should be able to help a lot with this.

[2020-07-12 09:59] sikandartariq1 commented on #5862
@sunny sure, let's do it.

[2020-07-13 05:25] yhk1038 commented on #5558
As follow @sergewhite,

Just toggling the comment in config file, It was not enough.

I found Docs [docs/0-installation.md#webpacker](https://github.com/activeadmin/activeadmin/blob/master/docs/0-installation.md#webpacker).

Finally, if you already install ActiveAdmin, You may need to:

[code]

[code]

At last, **move old assets to `app/javascript` in properly.**

As follow the answer above, It'll

[2020-07-13 22:23] javierjulio commented on #4279
This is something I think we should revisit. We've run into this issue by just implementing Draper decorators. Everything seems to work fine with that integration across many models but this is the one issue that comes up. The problem becomes we would now have to implement a custom display name across many decorators when all we want is the default behavior. I don't know how easy it would be to do

[2020-07-13 23:17] deivid-rodriguez commented on #4279
@javierjulio Did you try @faucct patches, specifically the last one?

[2020-07-13 23:39] javierjulio commented on #4279
Yes but the result isn't the same. For example, with a multi word named model I noticed the case was different after removing `:to_s` and with or without the patch.

To be clear, just only removing `:to_s` from the `config.display_name_methods` list, without any patch, does resolve the issue.

Regarding the patch though, I'm not familiar with the use of the `||` after the `if` statement. I wasn't

[2020-07-14 08:23] deivid-rodriguez commented on #4279
I see...

I'm not sure either :thinking:

I'll review this in more depth.

[2020-07-16 22:09] jches commented on #6357
I was having the same problem, and solved it by adding this to my `config/webpack/environment.js` file, loosely based on examples from webpacker docs here https://github.com/rails/webpacker/blob/master/docs/webpack.md:

[code]

[2020-07-20 17:12] JorgeLeites commented on #5079
I have a `before_create` callback to upload some files to S3.
I ended up fixing it by overriding the create method:
[code]

[2020-07-21 13:44] mshalaby opened #6367 "Typo in Arabic translation for login submit text"
There's a typo in Arabic translation for login submit button text here:

https://github.com/activeadmin/activeadmin/blob/5a6518f63615bcc8ad3df8068e91bc1111e67840/config/locales/ar.yml#L105

The correct translation is 'تسجيل'.

[2020-07-22 16:22] hcatlin commented on #6206
Yeah, this is affecting me! And hell, I'm a core-team member on sassc-rails, but gosh darnnet I'm using the node-sass version for this and don't need any of that sprockets business.

[2020-07-23 22:59] #6367 closed

[2020-07-24 15:47] omsoft opened #6376 "ActiveAdmin routes not working on production mode"
I have a perfectly running ActiveAdmin application with Rails 6 on the development machine.

But, as soon as I switch to **production mode** (with RAILS_ENV=production rails s) and visit **/admin**, Rails doesn't seem to recognize ActiveAdmin routes anymore and leaves me with a standard 404 error page: "The page you were looking for doesn't exist."

screenshot: https://freeimage.host/i/dIneYF

Log

[2020-07-28 17:39] zyqxd commented on #2217
The issue appears to be that active admin executes resource associations during file loading. This means that if your `belongs_to` file is before your `parent` file alphabetically, it won't be able to find it.

eg
#### bad
[code]
[code]

#### good (my workaround)
[code]
[code]

ActiveAdmin v 1.4.3

[2020-07-28 21:13] dbenton9 opened #6378 "Filter Support for Citext Datatypes"
TL;DR: Add `:citext` as supported field detection for filters

I was recently trying to determine why my Active Admin panel was not showing the filter I had set for a field on my database:
[code]
We discovered a workaround by changing the previous line to:
[code]
It was frustrating that before we fixed the issue Active Admin just appeared to be ignoring the requested filter. I began to dig around

[2020-07-28 22:10] javierjulio commented on #6378
Sure, we would be open to a PR that adds `citext` support for filters.

[2020-07-28 22:26] zyqxd opened #6379 "`belongs_to` resource `#new` action fails at generating url due to lack of parent id"
### Did you find a bug?

`activeadmin (~> 1.4)`

Using `belongs_to` with models

[code]

Navigating to `new_admin_campaign_budget_path(campaign)` seems to pass to view, then somewhere in view layout there is a generation of a URL without the parent id passed in

### Expected behavior

View layout generates url with parent resource passed in

### Actual behavior

Actual error:
[code]

### How to re

[2020-07-29 16:50] omsoft commented on #6376
Solved. The problem was a mistype error on a constraint file.

In my routes I have:
[code]

Inside the _Admin::Subdomain_ class I check the subdomain and expect only certain kind of domain to activate the admin interface. The URL was incorrect and I didn't noticed it. :-)

[2020-07-29 16:50] #6376 closed

[2020-07-31 19:06] Tshamp7 opened #6382 "Active_admin displaying in plain html."
Hello! I had my Active Admin panel working great and then I restarted my rails server and this error message appeared:

Not sure whats changed as I didnt really make any changes from when it was working to when it stopped working aside from restarting my server.

Does anyone know what could be causing this error? I see that in my packs directory there is not active_admin.js file. Should this file

[2020-07-31 19:10] rusterholz commented on #5322
Would it be possible for some information on this flag to be added to [the installation docs](https://activeadmin.info/0-installation.html)? Currently they mention the `--skip-users` option, but they don't mention `--skip-comments` at all, so I didn't even know I should use it until I saw the migration turn up in git and googled to find this issue.

[2020-07-31 19:32] javierjulio commented on #5322
@rusterholz sure, that's a great idea. We'd accept a PR to add that in.

[2020-07-31 19:32] Tshamp7 commented on #6382
I forgot to add, if i copy the active_admin.js file from git and put it in my project, the error message goes away but then my dashboard and all active_admin pages are in plain html.

[2020-08-01 02:33] ddnexus commented on #5862
@deivid-rodriguez it's worth mentioning that pagy [does not hook into AR associations](https://ddnexus.github.io/pagy/index#stay-away-from-the-models) and is [totally agnostic](ddnexus.github.io/pagy/index#really-agnostic-pagination) so it could coexist with other pagination gems used elsewhere in the app.

Also, [migrating from other pagination gems](https://ddnexus.github.io/pagy/migration-guide

[2020-08-02 23:35] danielricecodes opened #6384 "Webpacker mode causes Flash of Unstyled Content (FOUC)"
### Did you find a bug?

I'm on a clean install of ActiveAdmin with no custom HTML, CSS, or JS.  When I switched from using Asset Pipeline to Webpacker, every ActiveAdmin page has a strange flicker effect.  I can see the unstyled website for a brief moment.

### Expected behavior

The page should render normally.

### Actual behavior

For a split second, I can see the unstyled website then it quic

[2020-08-05 14:36] nitsujri commented on #6357
WOW okay @jbirdjavi, not sure if you're still having the problem, but it took me "forever" to hunt it down. Like you I was coming from an existing Rails 6 project.

For me it was pretty much 2 small things:

[code]

It's really clear looking at the js console that the error is `$.ui.dialog...` and `ui` wasn't getting set properly.

I tried all sorts of configs and then finally gave up and created

[2020-08-05 19:18] danielricecodes commented on #6384
<img width="889" alt="Rentals___Lockboqx_Admin" src="https://user-images.githubusercontent.com/169038/89454540-13d5f080-d71e-11ea-836b-e932b1738ba5.png">

[2020-08-06 17:59] TeamRainless opened #6388 "Belongs_to dependencies showing up as blank"
### Did you find a bug?

In my app I have a "Campaign" class that "belongs_to" a "User" class. (And User has_many campaigns.) When I load up active admin... I can see  "User" from the search list... but instead of displaying the names of the users... or their id... each user is present and represented as a blank space.

### Expected behavior

I have tried this in Active Admin 2.0 and I just update

[2020-08-06 20:07] jbirdjavi commented on #6357
@nitsujri That didn't do it for me unfortunately.  I realized that I'm still waiting for activeadmin_addons to release a webpacker compatible version of their stuff so I went back to the asset pipeline for now.  I'll eventually come back to this when all my dependencies are ready to move to webpacker.

[2020-08-08 02:50] danielricecodes commented on #2874
The following worked for me on Rails 6.0.3.2 and ActiveAdmin 2.7.1.   At some point between my last comment in 2018 and now, there's been a change in Rails and/or ActiveAdmin which is causing the suggested solutions to be HTML Escaped.

Creating instances of [ActiveAdmin::Views::StatusTag](https://www.rubydoc.info/github/gregbell/active_admin/ActiveAdmin/Views/StatusTag) and calling `#status_tag`

[2020-08-10 19:23] experimatt commented on #5407
I'm having the same issue. I followed the instructions in Devise's docs to override `active_for_authentication?` and `inactive_message`, which works, but no flash message shows up in Active Admin when the inactive user tries to login.

https://www.rubydoc.info/github/plataformatec/devise/Devise/Models/Authenticatable

[2020-08-10 20:53] awh-tokyo commented on #6388
Do you have any other attributes on your User model that might return nil?  Before :name, by default ActiveAdmin will try :display_name and :full_name, so if you have either of those on your model, with blank values in them, that's what will get displayed.

Most of my models have a :display_name attribute, but they're only populated when :name needs to be overridden, so here's what I did to make i

[2020-08-12 13:18] sharat-hegde opened #6392 "SassC::SyntaxError: Error: Undefined variable: "$primary-color"."
i am getting this error while doing precompile

SassC::SyntaxError: Error: Undefined variable: "$primary-color".
        on line 33:10 of ../../.rvm/gems/ruby-2.5.0@project/gems/activeadmin-2.4.0/app/assets/stylesheets/active_admin/_typography.scss
        from line 6:9 of ../../.rvm/gems/ruby-2.5.0@project/gems/activeadmin-2.4.0/app/assets/stylesheets/active_admin/_base.scss

[2020-08-12 13:23] sharat-hegde commented on #5933
I am also getting this error

[2020-08-20 22:16] #5567 closed

[2020-08-24 09:28] deivid-rodriguez commented on #5821
Hi @franzejr, sorry I didn't reply earlier. You need at least ransack 2.3.0 to pick up this bug fix.

[2020-08-24 09:43] deivid-rodriguez commented on #6392
Closing as duplicate of #5933.

[2020-08-24 09:43] #6392 closed

[2020-08-27 01:58] qx opened #6407 "incompatible character encodings: UTF-8 and ASCII-8BIT"
![player](https://user-images.githubusercontent.com/648406/91374621-2fc74080-e84b-11ea-8fcd-23beaf54e019.png)
![WX20200827-095515](https://user-images.githubusercontent.com/648406/91374747-76b53600-e84b-11ea-88ca-c2f41dfa325f.png)
![error](https://user-images.githubusercontent.com/648406/91374632-35248b00-e84b-11ea-8140-9721af4e01c6.png)

[code]
[code]
path: http://127.0.0.1:3000/admin/players

[2020-08-27 07:04] Tresor11 commented on #3819
@arif362 +1

[2020-08-27 09:16] qx commented on #6407
I don't know what happened, it works after  4 hours later, maybe have relation with setting     `config.encoding = "utf-8"`
 in application.rb,and then insert new record to database fix this problem. not exactly

[2020-08-27 11:01] dorianmariefr commented on #5772
thanks @jeantristan i had the exact same issue, the monkey patch needs to be in an `on_load` like this:

[code]

[2020-08-27 15:42] romiras commented on #5258
Any updates? We have 2.7.0 with same issue.
Meanwhile used this gist as work-around: https://gist.github.com/djalmaaraujo/d0cf4f23aace48e2f4ea4921c2d1297f

[2020-08-27 23:28] yagudaev commented on #2738
So does PR #5548 pretty much solve the problem? Do we just need to change this line to have a sane default? https://github.com/activeadmin/activeadmin/pull/5548/files#diff-1233a76d21c87580d4f82ea1f8608274R296

[2020-08-28 08:36] senid231 commented on #6407
I had same situation with database in ascii

this error came and goes away unpredictable for some `id_column` statements on some index pages

[2020-08-28 09:50] Fivell commented on #6407
me too, finally we have an issue where we can share out backtrace with this error 😄

[2020-08-28 11:12] Ivanov-Anton opened #6413 "filter :src_name_in, as: :string I dont have drop down for selecting “Contains”, “Equals” ..."
Because my field ends with "in" my filter does not work correct. My filter is now displayed as field with the text type without drop down.

I tried this option: `filter :src_name_in, as: :string, filters: [:starts_with, :equals, :contains, :ends_with] `
I tried this option: `filter :src_name_in, as: :string`
I tried this option: `filter :src_name_in`
I tried this option: `filter :src_name_in, filt

[2020-08-28 12:01] senid231 commented on #6413
if `ActiveAdmin::Inputs::Filters::StringInput` finds that filter name ends with ransack predicate (@Ivanov-Anton case) or is a ransackable scope it will ignore `search method select` possibility

problem that we can't enforce mode by filter options directly

[code]

[code]

it would be nice to do something like `filter :src_name_in, as: :string, search_method_select: true` or something similar

[2020-08-28 12:06] Ivanov-Anton commented on #6413
@deivid-rodriguez  we need your comment, thank.

[2020-08-29 15:52] sunny commented on #2738
Yes, you can now add `config.maximum_association_filter_arity = 256` to your activeadmin configuration 🎉

[2020-08-29 17:39] yagudaev commented on #2738
Why don’t we change that default to be enabled for all new ActiveAdmin installs?

[2020-08-30 20:58] sunny commented on #2738
According to the code, `256` will be the default in a future version of ActiveAdmin. This is not yet the case presumably because this is a breaking change, so hopefully in 3.0 🎉

[2020-08-31 07:36] Fivell commented on #6413
@Ivanov-Anton  , @senid231  possible solution is to check if it is real column name, no other options needed
[code]

[2020-08-31 07:41] senid231 commented on #6413
@Fivell I think it's better to patch `seems_searchable?`

[code]

[2020-08-31 12:42] freiden opened #6418 "Singleton resource not working like expected"
### Did you find a bug?
I'm trying to leverage the resources available in ActiveAdmin (AA) to implement a singleton resource that will allow my user to access to their setting without needing to type the identifier of their stored database identifier.
I tried first following the informations provided by the documentation available around AA and inherited_resource `singleton` feature but it didn't

[2020-08-31 21:25] yagudaev commented on #2738
@sunny is there a roadmap to v3? It would be nice to see a few more ambitious changes to AA at some point. There are a lot of interesting changes with view_compoent from github and stimulus reflex.

Mainly having AA be responsive and easier to theme/customize would be pretty amazing. Plus a few of those more complex user interactions.

[2020-09-01 07:49] sunny commented on #2738
I am not a maintainer and am not aware of any roadmap, sorry 🤷‍♂️

Indeed theming and customization would be amazing! As this is a large project, I guess that any help moving things along (for example on #3862) would help the maintainers.

[2020-09-03 19:22] JorgeLeites opened #6429 "It does not support splitting js into chunks"
I have the following webpack configuration:

[code]

Splitting the js into chunks to exclude the node_modules.
This is causing the js to be loaded incorrectly.

I managed to "fix it" by changing the method `build_active_admin_head` on `ActiveAdmin::Views::Pages::Base` to use webpacker's [javascript_packs_with_chunks_tag helper](https://www.rubydoc.info/gems/webpacker/Webpacker/Helper#javascript_pa

[2020-09-05 20:52] Piyush-Chaudhary commented on #5643
Have you created it?

[2020-09-07 07:44] selivandex opened #6435 "Useless assign_attributes in data_access.rb"
### Did you find a bug?

When use `accepts_nested_attributes_for` and has_many form items. After create it duplicates nested records.

useless `assign_attributes` in file https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/resource_controller/data_access.rb#L118

### Expected behavior

Not to duplicate nested records after record created

### Actual behavior

For now when i'm a

[2020-09-08 08:37] dvodvo commented on #5333
Dealing with a legacy app... Specifying in Gemfile was insufficient for me. I had to `gem install ransack -v 1.8.4`.  It ran fine on localhost with ruby 2.2.10p489

on a testing VPS the same command fails with:
`nokogiri requires Ruby version >= 2.3.0.`
then  `zeitwerk requires Ruby version >= 2.4.4` which in turn
`activesupport requires Ruby version >= 2.5.0.`

Only way out: install ruby 2.5, the

[2020-09-08 11:10] #6413 closed

[2020-09-08 12:50] seankovacs commented on #6382
Same issue - I ended up turning off webpacker in the config.

[2020-09-09 10:49] deivid-rodriguez commented on #6382
Hi! I'd like more information on how to reproduce this? Did webpacker worked for you at some point? Is this a development or production environment? Does it break randomly or everytime after the first time it broke? Could you share some application where this error can be seen?

[2020-09-09 11:02] deivid-rodriguez commented on #2738
Thanks @sunny, yes, that's pretty much the situation. We're shipping slow but steady improvements and that's as best as I can do right now. Help is always appreciated.

There's no roadmap for 3.0 at the moment since there's no too many breaking changes pending to be released. Maybe once webpack setup is more battle tested we can switch new applications to use that by default as well, and ship this

[2020-09-09 11:15] deivid-rodriguez commented on #6429
Hi @JorgeLeites! Thanks for the ticket.

Could you make a proposal on how we should make this configurable?

[2020-09-09 11:16] deivid-rodriguez commented on #5258
No, but I should've followed up on this. I'll have a look soon.

[2020-09-09 11:18] deivid-rodriguez commented on #6407
Uggh, I have no idea how to go about this or even try to reproduce it :grimacing:.

[2020-09-09 14:11] JorgeLeites commented on #6429
I'd add something like a `use_javascript_chunks` option to the namespace settings and use that to choose between `javascript_pack_tag` and `javascript_packs_with_chunks_tag`.
I imagine that would make `use_webpacker` required to use that option, but I guess it makes sense.

[2020-09-10 08:08] senid231 commented on #6407
@deivid-rodriguez @Fivell here's bug report that reproduces an issue

[code]

[code]

[2020-09-10 08:16] senid231 commented on #6407
here's the root of problem

[code]

[2020-09-10 09:59] mhenrixon opened #6442 "private method `redirect_to' called for #<ActiveAdmin::Devise::SessionsController:0x000055b0814934c8> Did you mean? redirect_back"
### Did you find a bug?

I believe I have found some type of bug. It is hard to say exactly what is going wrong. I have a couple of difference scenarios. In the documentation it says to use a `before_action :set_admin_locale` to manage locale for activeadmin.

[code]

The problem is that a before_action actually changes a global setting which affects the tests of other parts of the code base. From

[2020-09-10 11:22] deivid-rodriguez commented on #6407
Nice investigation @senid231, thanks!

I tried to run the repro, but I can't get it to succeed since I can't create a DB with SQL_ASCII encoding on my system :grimacing:. It will keep telling me that it doesn't match my system's i18n configuration.

[code]

Also, I can't seem to get the raw errors in English (I tried LC_ALL=C, LANG=C, and similar, but no luck). Anyways, that's another story.

I'm

[2020-09-10 13:40] mhenrixon commented on #6442
When placing this in an initializer it works like I would have expected and no errors are thrown:

[code]

[2020-09-10 14:16] javierjulio commented on #6407
To confirm, is the database with the issue using SQL_ASCII encoding or was that to force an error in the repro? I'm not familiar with this but anything I find is about converting a SQL_ASCII database to one using UTF-8 instead. Are you sure this is not related to the database configuration instead of it being an ActiveAdmin issue?

What else I can make out is that there is no exact conversion betw

[2020-09-11 18:05] nayadd commented on #6106
Any news on this one? I found several different ways to implement this, but would love official support from the gem!

[2020-09-11 19:05] JohnPettigrew commented on #5772
@dorianmariefr That was it - wrapping the friendly_id compatibility tweak in an `on_load` finally stopped this warning popping up all the time, which has been happening since 6.0.0 through to current 6.0.3. Thanks!

[2020-09-14 12:05] Fivell commented on #6407
https://github.com/rails/rails/blob/6af50a90671e0a713da929bf83ec641f4552335e/activesupport/lib/active_support/inflector/transliterate.rb#L8

[2020-09-16 10:53] deivid-rodriguez opened #6453 "Get ready for `circleci/jruby` deprecation"
I received this email from CircleCI a while ago:

![JRubyDeprecation](https://user-images.githubusercontent.com/2887858/93328032-75a87080-f81b-11ea-9b95-af0da94c282d.png)

Apparently `circleci/jruby` will stop receiving updates soon, so we'll need to build our own base image.

Since we're going to need to do this, maybe we can take the chance and migrate to Github Actions + [Github Container Regis

[2020-09-16 12:17] Fivell commented on #1983
related https://github.com/activeadmin/activeadmin/pull/5994

[2020-09-16 13:52] javierjulio commented on #6453
Sounds good to me! Thanks for the heads up as I didn't get this.

[2020-09-17 00:48] interpegasus opened #6459 "Question: Does active admin support global scopes or filtering by record ID in URL?"
My app has a DB model called Project. And other models have a `belongs_to :project`

I would like to know if it is possible to pass an `ID` in the URL in order to filter everything by `project_id` automatically?

Sorry for asking here. Thank you

Eg:
[code]

[2020-09-18 10:32] deivid-rodriguez commented on #6106
Hi, no, sorry! I never used `Action Text` myself. Any links to guides on how to set it up, how to use it, and how you would like it supported in ActiveAdmin would be appreciated. Thanks!

[2020-09-18 11:04] deivid-rodriguez commented on #6459
Did you check [`belongs_to`](https://github.com/activeadmin/activeadmin/blob/master/docs/2-resource-customization.md#belongs-to).

[2020-09-18 11:09] deivid-rodriguez commented on #6459
Also, please check https://github.com/activeadmin/activeadmin/tree/db1ac5a0ace0628cf369b59290c3eb6f868971a0#need-help. For questions we prefer stackoverflow so that I wider community can help you. Dealing with issues and feature requests in this tracker is already enough work :sweat_smile:.

[2020-09-18 13:36] interpegasus commented on #6459
Perfect! belongs_to is what I was looking for. Thank you very much

[2020-09-18 13:36] #6459 closed

[2020-09-19 16:40] blocknotes commented on #5643
Recently I was making the same experiment.
Here it is a gist to make Trix works with ActiveAdmin (without extra gems):
https://gist.github.com/blocknotes/74baceccc74c12c60a60a42d112787a3

[2020-09-20 20:36] tomgilligan commented on #5772
i was having the same problem with `prepend_before_action` / `before_action` / `around_action` etc.  moving calls from the `_action` methods on `config` to an `on_load` block at the bottom of the file worked for me.

for example, instead of this:

[code]

this:

[code]

[2020-09-22 17:43] OrceMaceski opened #6468 "Incorrectly generated files when installing AA with webpacker from a template."
When starting new rails app from a template with pre-configured active admin through webpacker, files (package.json, yarn.lock, node_modules) are generated outside the app.
Repro steps:
Create a basic **template.rb**
[code]
Create new rails app using **template.rb**

[2020-09-23 03:01] nitsujri opened #6469 "Importing ModalDialog results in double fire of has_many_add"
### Did you find a bug?

In a functions file, when I import:

[code]

It causes `has_many_add` to double fire.

### Expected behavior

`has_many_add` should only fire once (add a set of forms).

### Actual behavior

Gif below shows:

1. `ModalDialog` is not imported
1. Adds a single Vendor forms just fine
1. import `ModalDialog`
1. Page refreshes, click add
1. 2 Vendor forms show up

![modal_dialo

[2020-09-24 11:49] nitsujri commented on #6469
AH! The answer was in @sgara's PR https://github.com/activeadmin/activeadmin/pull/5956.

It's supposed to be:

[code]
I dug too deep and went to `'@activeadmin/activeadmin/src/base'`. Double forms no longer happen. Closing!

[2020-09-24 11:49] #6469 closed

[2020-09-24 17:37] deivid-rodriguez commented on #6468
Hi @OrceMaceski!

This seems like a problem caused by [a recent change in spring](https://github.com/rails/spring/pull/621).

You can verify this by either generating the app without `spring` (`rails new --skip-spring --template template.rb foo`), or by forcing the previous working version of `spring`, changing the template to:

[code]

I'll try to workaround this on our side, so that it still wor

[2020-09-28 12:15] sjieg opened #6486 "Docs improvement: Custom show pages should include an example with `default_main_content`"
None of the custom show page examples includes `default_main_content`.

I think it's a common case where a user like the default content from AA, but wants to add something extra.

[2020-09-28 15:19] pauloFernandes commented on #5643
It worked for me, as @blocknotes sad in his gist.

But I have a problem when trying to use this in a has_many nested form

[code]

My step.details input doesn't render anything, not even its `<li />`

[2020-09-29 07:39] blocknotes commented on #5643
...

I think that `has_many` still doesn't support Arbre elements.
Reference comment [here](https://github.com/activeadmin/activeadmin/issues/4043#issuecomment-285876541).

[2020-09-29 16:54] soundnotation commented on #5556
Solved it temporarily by importing the basic toastr js and css files from [the toastr GitHub page](https://github.com/CodeSeven/toastr/) (toastr.js, toastr.min.css, toastr.min.js, toastr.min.js.map), adding them to the app/assets/javascripts folder, and register them into the active admin initializer.
If anyone has a better solution, please let me know.

[2020-09-29 16:54] #5556 closed

[2020-09-29 17:00] yosiat opened #6490 "Question - don't use an id for routing"
Hi,

I am working on moving one of our tables from being ActiveRecord to be a simple class that will receive data from HTTP service.

In the process, instead of having an "id", we will have another field that I'll like to do routes based on.

I am not sure how to start approaching this:

- Do we have any examples of creating ActiveAdmin resource based on class which is not an ActiveRecord model?
-

[2020-09-30 17:11] troya2 commented on #6106
There's a SO article on integrating it with Active Admin (links to this issue, actually).
https://stackoverflow.com/questions/57879823/how-do-i-use-rails-6-actiontext-fields-in-an-activeadmin-form-block

[2020-10-02 15:17] #6486 closed

[2020-10-02 19:35] kceb opened #6492 "Disable COUNT(*) for filtered collections"
### Did you find a bug?

I'm using pagination_total false on the index collection, which works fine and as expected. However, I'm noticing in the SQL debug logs that when I filter a collection (by user_id), it is still doing a `SELECT COUNT(*) FROM (SELECT 1 AS one FROM "large_table" WHERE "large_table"."user_id" = 123 ORDER BY "large_table"."id" desc LIMIT $1 OFFSET $2) subquery_for_count`.

Is t

[2020-10-02 19:40] kceb commented on #5227
@hugoerg56 any resolution to this? I'm experiencing something similar and the stackoverflow link doesn't seem to resolve it.

Created an issue here: https://github.com/activeadmin/activeadmin/issues/6492

[2020-10-05 14:04] benoittgt commented on #6187
One option is to set the `if` option in the menu.

For example:
[code]

This is hacky, but it works. By default ActiveAdmin should disable menu if the parent is in `menu :false`.

[2020-10-05 16:16] deivid-rodriguez opened #6493 "Prepare (if necessary) for CircleCI + docker changes"
I just got this email:

Just copying it here to make sure we don't forget about it.

[2020-10-05 16:17] javierjulio commented on #6493
Thanks! I received today too.

[2020-10-08 18:44] bismark64 commented on #5558
I'm not sure if this was asked before but I'm using webpacker as the sole JS compiler for my app, and don't seem to find a way to use `config.register_javascript` with webpacker (using it for Google Maps). How can I solve this?

[2020-10-12 05:27] littleforest commented on #5283
Hi, I'd like to work on this ticket.

[2020-10-12 19:01] deivid-rodriguez commented on #6468
Hi again @OrceMaceski.

I discovered that the offending PR in spring broke some spring specs in addition to our particular use case here, and the original PR's author propose to revert the PR until a better solution is found. So it seems like we won't need to change anything in activeadmin. You can ping to 2.1.0 for now, and once the revert is merged and release, you'll be able to safely upgrade t

[2020-10-12 19:01] #6468 closed

[2020-10-13 15:03] aramirezdecruz3148 commented on #2449
@luckhuang did you find a solution? I am struggling with h12 timeouts for our large csv's despite active admin implementing streaming. Most of the solutions and info I am find are pretty outdated, just curious where you landed

[2020-10-15 16:46] antonintouron commented on #6177
Hum you have a screenshot plz :) ?

[2020-10-15 17:03] antonintouron commented on #5973
Why you want to use sidebar in a member_action ?
You want to run pop up if you click in an button ? if that's it, this ticket is not acceptable and you must make a post on stackoverflow (https://stackoverflow.com/).

I advise you to use javascript for run custom pop up.

[2020-10-15 17:10] antonintouron commented on #5654
@labolado plz closed issue if it's ok :)

[2020-10-15 17:13] aramirezdecruz3148 opened #6511 "CSV Question/Help experiencing h12 timeout errors despite streaming"
We have many active admin resource pages that have a high number of data rows, and it was recently discovered that if we click the csv link to download on a resource that has over 400 rows of data we get an h12 timeout error. Really I am just reaching out here because I would love anyones thoughts, or possible solutions, or if anyone is willing to help me diagnose this problem. This issue is affec

[2020-10-16 02:51] guilpejon commented on #6007
In my case that command did not solved the error because I already had the files `app/assets/javascripts/active_admin.js` and `app/assets/stylesheets/active_admin.scss`.
Anyone else having this problem? I'm thinking it has something to do with the fact that Rails 6 uses webpack by default, but the assets are generated on `app/assets`.

[2020-10-16 08:09] MathieuDerelle commented on #5973
I want to add a sidebar with my content in a `member_action`

The doc explicitly states that : https://activeadmin.info/7-sidebars.html

and states that you can do it in Arbre

but it does not work

[2020-10-19 11:24] boardfish commented on #6206
For my use case, I've torn out the Asset Pipeline completely and am using Webpacker for everything from images to CSS and JS. This bug is stopping me from using ActiveAdmin as it currently stands. @hcatlin's fix looks good and seems well-tested.

[2020-10-19 11:28] deivid-rodriguez commented on #6206
I'll pick up that PR for review next :+1:.

[2020-10-19 11:32] boardfish commented on #6206
It's pretty stale so it'll likely need a rebase. I really appreciate the quick response, thank you!

[2020-10-19 12:31] Ecco commented on #6206
Actually, until this bug is fixed, a simple workaround is to just keep an empty `app/assets/config/manifest.json` file.

[2020-10-19 17:15] hcatlin commented on #6206
@boardfish @deivid-rodriguez I rebased it for you! <3

[2020-10-20 02:19] baka-san opened #6517 "wrong constant name stringSymbolOrProcSetting (NameError)"
I'm trying to install Active Admin on my Rails 6.0.3.2 project. I'm following this guide (https://activeadmin.info/0-installation.html). The first command `rails g active_admin:install` produces the following error:

[code]

Ignoring the error and trying migrate produces the same error:

[code]

In `config/initializers/active_admin.rb`, I tried commenting out line 7 `config.site_title = "My Site's

[2020-10-21 04:49] xrimpy commented on #6252
I copied few of the Views of ActiveAdmin to views/admin

That way purge does not delete the ActiveAdmin Tags

[2020-10-27 08:55] timwis opened #6529 "Pundit adapter treats new and create the same"
Pundit has separate permissions for `new?` and `create?`. Often these are the same, but there are many cases where you would want it to be different: for instance, you'd like to allow any user access to the new item _form_, but users should only be able to create items within their departments.

[code]

In Active Admin, the "New Item" button would never show because `create?` would never return tr

[2020-10-28 17:43] robertoboldi commented on #2329
same bug with ActiveAdmin 2.7.0
I put all activeadmin files as plural (because I've seen the autogenerated admin_users.rb.
putting in singular case the file that was creating the bug solved everything.

[2020-10-29 22:00] kaka-ruto commented on #3060
Since mine was an API, I had to enable `sprockets` inside `config/application.rb`, then created `manifest.js` file inside `app/assets/config/manifest.js` and added to it an empty `{}`, then added `gem "sassc-rails"` to the `Gemfile`, then `bundle install`ed and restarted the server

[2020-11-05 16:31] experimatt opened #6533 "Add Performance section to list of Gotchas in the docs"
I've had multiple performance issues with ActiveAdmin in the past, and think it would be helpful to document some of them, and the appropriate fixes, in the documentation (assuming they're not already clearly articulated).

This morning I finally figured out and fixed an issue related to filters that took a good amount of digging. I think it'd be helpful to document this as a gotcha for others who

[2020-11-05 16:35] experimatt commented on #6533
I would be happy to submit a PR for these additions, assuming the maintainers approve of the idea.

[2020-11-09 11:27] jeff-upbit commented on #4846
@joshlin
[code]
[code]

[2020-11-09 23:43] rylanb commented on #5668
SCSS that worked for me for this if anyone comes after me. I'm not 100% sure if this covers all scenarios, but works for the index pages I've looked at.

`calc 100%-300px` is for the 270px width of the side par and a ~30px margin.

[code]

Test it out if you find this.

[2020-11-10 07:39] timwis commented on #6529
Just to flag a [similar question on Stack Overflow](https://stackoverflow.com/questions/47796922/activeadmin-checking-create-authorization)

[2020-11-11 16:41] dkniffin commented on #6357
I think I managed to solve this issue by doing the following:
1. `yarn add jquery jquery-ui-bundle`
2. Add the following two imports _before_ `import "@activeadmin/activeadmin"`
[code]

That said, I'm in the same boat as jbirdjavi. Since many of the other dependencies are not ready for webpacker, I'm having a very difficult time migrating.

For now, I'm going with a workaround mentioned [here](htt

[2020-11-12 05:17] kwent commented on #5643
Does anyone has figure out how to support active storage image upload ?

[2020-11-12 23:08] curtisolson opened #6537 "Nested resource path adding ID for both resources."
I have a nested resource Message as a child to MessageThread. I created a custom show page for MessageThread (MT) that shows MT and Message. When trying to add an action button to add a Message, the resource path included included the id in both resources.

MessageThread and Message code at bottom.

The workaround was simple, though I'm sure there is a better way to do this.
[code]

### Expected b

[2020-11-13 06:11] RobertLowe commented on #2856
My solution/workaround:

[code]

[code]

This overrides the existing batch action added from: https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/batch_actions/resource_extension.rb#L57-L77

If someone wants to update the original. It's just missing `if authorized? :batch_destroy, resource_class`. As for other actions just implement your own `authorized?` wrapping in your `batc

[2020-11-13 10:22] deivid-rodriguez commented on #6537
I think you want `admin_message_thread_messages_path(resource)` instead?

[2020-11-15 16:26] tilvin commented on #5333
If it's still actual problem for someone, this small monkey patch works for me:
[code]

Base on Ransack maintainer [discussion](https://github.com/activerecord-hackery/ransack/pull/820#discussion_r160449818)

[2020-11-16 10:35] mcfoton commented on #2375
Would love to see this implemented built-in, using @jasper-lyons DSL implementation for now.

[2020-11-16 13:37] jpsilvashy opened #6539 "Ransack is unmaintained"
Ransack has been the source of a lot of problems in recent months, is seems mostly to be related to rails changing how polymorphic joins work. Ransack seems aggressively monkey patch active record and seeing has it's out of active development we're in a bit of trouble.

Rails 6.1 when ever there is any type of join in my activerecord code I get:

    ArgumentError (wrong number of arguments (given

[2020-11-17 19:42] bchellingworth commented on #3160
Anyone reading this in 2020.
Add the following to your form decleration:

` f.semantic_errors`

You can read more here: [https://github.com/activeadmin/activeadmin/blob/master/docs/5-forms.md](https://github.com/activeadmin/activeadmin/blob/master/docs/5-forms.md)

[2020-11-18 21:46] varyonic commented on #6539
See also activerecord-hackery/ransack#1127

[2020-11-19 11:59] mhenrixon commented on #5772
[code]

This also breaks it and I don't see a good way of solving it

[2020-11-19 13:57] deivid-rodriguez commented on #6539
I'm talking to former ransack maintainer to get maintainer permissions there and will try my best to improve things. In the mean time I'll close this since I don't think it makes much sense to keep this issue opened in this repo.

[2020-11-19 13:57] #6539 closed

[2020-11-19 23:18] #5283 closed

[2020-11-22 01:59] DerekK19 opened #6553 "nil columns in table_for should display as "EMPTY" in the same way as rows in forms do"
### Did you find a bug?

Maybe this is a feature request. In a form, nil column values are displayed as the string 'EMPTY' (which is internationalizable) with the CSS class name "empty", in tables however (such as index pages and table_for lists, nil values are displayed as a blank cell

### Expected behavior

I think nil values should display the same in tables and in forms

### Actual behavior

[2020-11-22 20:07] MaximeRobion commented on #6106
Hey, @deivid-rodriguez Action Text is really nice to use to be fair. You can read about it here: https://edgeguides.rubyonrails.org/action_text_overview.html.

It is a really quick setup and goes well in hand with [Active Storage](https://edgeguides.rubyonrails.org/active_storage_overview.html). The story is that it started as an open-source project from the dev team at Basecamp ([see the project

[2020-11-24 10:14] teenu4 commented on #5772
try to use string instead of class, solved the issue for me.

[code]

[2020-11-24 11:44] deivid-rodriguez opened #6559 "Migrate to Github Actions + Github Container Registry"
Issues with CircleCI start piling up.

They are [removing jruby images](https://github.com/activeadmin/activeadmin/issues/6453), [limiting docker pulls](https://github.com/activeadmin/activeadmin/issues/6493), and now they're limiting our concurrency credits making our CI slow.

Let's migrate to Github Actions.

[2020-11-26 16:29] chubchenko opened #6562 "Unable to override the index page of the resource which is defined in the engine"
### Did you find a bug?

I have an engine with an ActiveAdmin resource, and in my main application, I want to override the `index` page for it. Also, I found the [wiki page](https://github.com/activeadmin/activeadmin/wiki/Define-a-resource-inside-an-engine) that says I should prepend the engine's resource to the ActiveAdmin load path - I did this step. But in the end, my page looks like it was def

[2020-12-01 15:02] #6453 closed

[2020-12-01 15:02] #6493 closed

[2020-12-01 15:02] #6559 closed

[2020-12-01 15:09] deivid-rodriguez commented on #6562
Hi @chubchenko!

Could you make a reproducible example using [our bug report template](https://github.com/activeadmin/activeadmin/blob/07a4489d4dfd54651e348cf432883d89638ac4ed/tasks/bug_report_template.rb#L1) or alternatively provide a sample application with steps to reproduce this?

Thanks!

[2020-12-01 17:34] deivid-rodriguez commented on #6357
I'm not sure what's going on :disappointed:. Maybe it's related to the fact that for sprockets we vendor `jquery-ui`, but for webpacker we use the library pulled from npm.

Can someone provide a sample application where this problem can be reproduced?

[2020-12-03 17:21] prawin commented on #4630
Came across this while upgrading one of my rails 4.2 to application to rails 5.0

[2020-12-03 19:56] deivid-rodriguez commented on #6007
I think you're supposed to use `sassc-rails` instead of `sass-rails`, maybe that's the issue?

[2020-12-04 13:16] deivid-rodriguez commented on #6007
Actually scratch that since I just realized that `sass-rails` is just a wrapper around `sassc-rails`. `rails generate active_admin:install` should run `rails generate active_admin:assets` so I don't know what's going on here. I also tried to reproduce this, but everything worked correctly.

Could you share some steps to reproduce this?

[2020-12-04 21:11] #6201 closed

[2020-12-04 21:11] #6206 closed

[2020-12-04 21:11] #6222 closed

[2020-12-07 19:35] tayjames opened #6589 "nested has_many"
### Did you find a bug?

Consider the following models:
[code]
In ActiveAdmin there is already a form in place to create an Account and a Membership from an existing User. That looks like this:
[code]
 What I'm trying to do is update the form to allow a way to create an Account and a new User with a Membership with a specific role. This is what I've tried so far (within the same form block as the

[2020-12-08 16:31] FanaHOVA commented on #403
You should be able to do `default_fields Model.attribute_names.map(&:to_sym) - %i[field_to_exclude another_one_too]`

[2020-12-09 10:56] rabinpoudyal commented on #5149
The issue is that. If you have used old version of jquery in your app and you want to use latest active admin which requires version 3 of jquery

[2020-12-10 05:47] EnziinSystem opened #6593 "Support for Rails 6.1.0"
Please upgrade to support Rails 6.1.0

[code]

[2020-12-10 13:41] sjieg commented on #6593
Potential (Temporarily) fix:
[code]
See PR: https://github.com/activeadmin/activeadmin/pull/6548
@deivid-rodriguez

[2020-12-13 12:21] whitewolf92 commented on #6593
Is it fixed?

[2020-12-13 12:25] deivid-rodriguez commented on #6593
Sorry for the delay, I'm just trying to find time to release this.

[2020-12-13 12:25] deivid-rodriguez commented on #6593
You can point to the master branch for now.

[2020-12-13 12:26] whitewolf92 commented on #6593
No worries bro, enjoy your weekend. In the meanwhile, I will just use good old rails console lol.

[2020-12-14 03:37] HanyMoh opened #6613 "NoMethodError: undefined method 'to_i'"
NoMethodError
undefined method `to_i' for #<ActiveAdmin::Application:0x00007fc8d037e880>
Did you mean?  to_s

vendor/bundle/ruby/2.7.0/gems/activeadmin-2.8.1/lib/active_admin/application.rb in method_missing at line 36

[code]

[2020-12-15 18:12] ruurd commented on #6357
Thank you. That did the trick.

That I even distrust more.

[2020-12-16 17:00] rew-ron commented on #6593
Looks like this could be closed now.

I see the new version supporting railties <6.2 https://rubygems.org/gems/activeadmin/versions/2.9.0

[2020-12-16 17:01] deivid-rodriguez commented on #6593
Oh, yes, forgot to close this! It's out!

[2020-12-16 17:01] #6593 closed

[2020-12-18 09:44] nitin-rvm opened #6618 "Getting error in Nginx error log"
My application running perfectly with active admin but I am getting this error in my Nginx error log:
2020/12/16 21:29:27 [error] 13973#0: *50257 open() "/var/www/apps/app_name/production/current/public/assets/active_admin/print-629b804c46f8e53152a27d41c7465a9e.css" failed (2: No such file or directory), client: client_ip, server: app_domian, request: "GET /assets/active_admin/print-629b804c46f8e5

[2020-12-18 09:53] deivid-rodriguez commented on #6618
Hi @nitin-rvm,

You're using versions of activeadmin, ruby, and rails which are no longer supported. And they're not just recently unsupported, they have been for a very long time. I'm sorry but I can't provide any support for such old versions. I recommend looking for old upgrade guides, and trying to upgrade these dependencies, one at a time.

Good luck!

[2020-12-18 14:19] nitin-rvm commented on #6618
Do you think I am having this issue due to old versions of gem and ruby rails? or this is something other thing which is not related with versions?please guide me here so I can research on it from my end and do something to fix it.

[2020-12-18 14:22] deivid-rodriguez commented on #6618
I honestly have no idea what the problem is. Again, my take would be to try upgrade and see if the problem is gone. Good luck with the research!

[2020-12-18 14:22] #6618 closed

[2020-12-18 15:30] bcavileer opened #6620 "active_admin_form_for labels not working as expected"
Forms across the site say missing translations.
<img width="515" alt="Screen Shot 2020-12-18 at 10 21 47 AM" src="https://user-images.githubusercontent.com/96518/102631448-b4e8a500-411b-11eb-8274-9574eeeb70ec.png">

<img width="342" alt="Screen Shot 2020-12-18 at 10 28 54 AM" src="https://user-images.githubusercontent.com/96518/102631553-dfd2f900-411b-11eb-97d1-5c0f7d43e350.png">

This is a new Ra

[2020-12-18 16:17] bcavileer commented on #6620
I was using Ruby 3.0.0-preview2

I switched to Ruby 2.7.2 and this problem went away.  This could possibly be a bug in Formtastic with Ruby 3?

[2020-12-18 16:17] #6620 closed

[2020-12-18 19:10] jensljungblad commented on #5772
`ActiveSupport.on_load(:active_admin) do` doesn't seem to work for me. Is it supposed to?

[2020-12-21 14:20] ukolovda commented on #1751
Thank you!
`before_filter` should be changed to `before_action` on Rails 5 and above.

[2020-12-21 16:51] ukolovda commented on #3674
I append this code for prevent extra queries to database:

[code]

[2020-12-21 21:56] resistorsoftware opened #6633 "Nested Resource Bugs out [Solved]"
### Nested Resource

Registered a **Shop** model that has_many carrier_services. So in my shop controller registration, I added the code to provide for the carrier services and the belongs_to relation.

    ActiveAdmin.register(Shop) do
      sidebar "Shop Details", only: [:show, :edit] do
        ul do
          li link_to "Carrier Services", admin_shop_carrier_services_path(resource)
        end

[2020-12-22 10:22] cristianogregnanin opened #6634 "Formtastic to create deep nested form with active admin"
Using Rails 6, I am designing an application for manage police fines.
A user can violate many articles, an article can have many letters and a letter can have many commas.

This is my implementations:

[code]

[code]

[code]

[code]

[code]

When I print the Fine in pdf I need to show violations: articles, letters and commas.

I have some difficult creating form to compile the Fine with articles,l

[2020-12-22 11:59] tobsch commented on #5618
Hey! I just came across this as I wanted to propose the same as @chevinbrown: Migrating to a better CSS setup like Tailwind so that it's easier to extend the views.

Honestly, I tried sooo many alternatives to active admin (forest, ...) and just bounce back all the time as I love it and it just gives you more freedom.
The only thing that most developers got a bit bored of is the looks (+ a few fea

[2020-12-22 16:36] #6633 closed

[2020-12-22 19:01] JorgeLeites opened #6635 "Batch action date has incorrect format"
### Did you find a bug?

An administrator told us that he was unable to perform a batch action. When we checked the logs, we noticed the date was arriving in a `MM/DD/YYYY` format, causing the batch action to fail.

### Expected behavior

The date should arrive in the usual ISO 8601 format, or at least there should be some place to configure date formats so that the behavior is consistent.

### Ho

[2020-12-22 23:13] QuantumWaver opened #6636 "Receiving "LoadError - cannot load such file -- sassc" after updating from 2.8.1 to 2.9.0"
I am currently running Rails 6.0.3.4 and Ruby 2.6.6, and when I recently updated AA from version 2.8.1 to 2.9.0 I began receiving this error when attempting to open AA in the local rails server:

[code]

It was running smoothly prior to the upgrade, so any help would be greatly appreciated! Thanks!

[2020-12-23 10:30] deivid-rodriguez commented on #6636
Hi @QuantumWaver! Sorry about this, I was kind of expecting this issue... :sweat_smile:.

ActiveAdmin 2.9.0 dropped its dependency on `sassc`, so now you have to include it on your side if you need it. Add `sassc-rails` to your `Gemfile`, run `bundle install`, and then you should be ok again.

Let me know!

[2020-12-23 10:56] deivid-rodriguez commented on #6635
Can you post some logs of the failure?

[2020-12-23 11:06] deivid-rodriguez commented on #6634
Closing as a duplicate of https://github.com/formtastic/formtastic/issues/1319.

[2020-12-23 11:06] #6634 closed

[2020-12-23 11:07] deivid-rodriguez commented on #6620
Maybe, I'm going to run formtastic tests on ruby 3 to double check.

[2020-12-23 17:59] QuantumWaver commented on #6636
Thank you so much for the quick reply! Honestly, I'm not sure WHY I would still need `sassc`, any thoughts on how I can remove the need for that?

[2020-12-23 18:01] deivid-rodriguez commented on #6636
You could migrate your Rails app to use `webpacker` instead. In fact, the reason we made `sassc` an optional dependency is that it's quite heavy in terms of install time, and people were complaining because it takes long to install and they don't even use it since they use `webpacker`.

[2020-12-23 19:05] QuantumWaver commented on #6636
@deivid-rodriguez Ok, thank you so much for you help! I got it working for now with the inclusion of the `sassc-rails` gem, but will look into migrating to webpacker in the future!

[2020-12-23 19:05] #6636 closed

[2020-12-26 00:08] CapSens-SM commented on #433
Hi, for those who would still stumble in this old post just like me :

One solution is to pass `self` to the partial :

[code]
then in your partial :

[code]

[2020-12-28 09:10] just4fun opened #6643 "Any way to select specific fields of a resource for index page?"
### Did you find a bug?

I have two tables, `users` and `users_sessions`, the relationship is `1: many`.

I have the following logic in `users_sessions.rb` to filter resource data for the index page.

[code]

Now I want to do `.group(users.email)` to get some `sum` data. In Postgresql, when we execute `.group`, we need to put everything in `select` into `group by` as well.

Now the `select` SQL ge

[2020-12-30 04:35] MamaMiaLetMeGo opened #6650 "Could not find table 'active_admin_comments'"
After I do ... rails generate active_admin:install

and then do ... rails db:migrate

I do not get a migration for comments. Ok so who cares about the comments then. But after I set up my has_many relationships and try to create a category from the activeadmin backend I get this error referring to the missing comment:

ActiveRecord::StatementInvalid in Admin::Categories#show

.rvm/gems/ruby-2.7.0/

[2020-12-30 07:39] Lordnibbler commented on #6620
Seeing the same issue when switching to ruby 3, fwiw

[2020-12-30 07:41] Lordnibbler commented on #6620
Updated `Gemfile` accordingly

[code]

and problem solved.

[2020-12-30 18:11] Arugin commented on #6007
Upgraded from rails 4 to rails 6, In the development envirobment everything works ok. In the production has the same error.

[2020-12-30 18:29] deivid-rodriguez commented on #6007
Could you share some steps to reproduce this?

[2020-12-31 23:19] dante-wd commented on #5182
Currently having the same issue in activeadmin 2.8.1 on rails 6.0.3.2. I have a JSON field that looks like this:

[code]

And this is how I'm setting up the form:

[code]

But only the last section is showing up:

![image](https://user-images.githubusercontent.com/65609794/103430703-7f28cf00-4ba5-11eb-8789-1af00011a855.png)

[2021-01-01 21:01] marino-mrc opened #6652 ""missing block" in partial with form"
Hi, I'm trying to use a partial for a form inside my resource but I'm a bit confused.
Basically I have a link_to object that makes an ajax call using load() function in jquery. I created a member_action inside my resource file that ends with:
...
respond_to do |format|
    format.html { render partial: "admin/mymodel/form" }
end

As suggested here: https://activeadmin.info/5-forms.html, I'm using

[2021-01-05 12:10] docstun commented on #5772
I experienced the same problem but using `ActiveAdmin.after_load` seems to work around this in ActiveAdmin 2.9.0.

So in our initializer we now do:

    ActiveAdmin.setup do |config|
      ...
    end

    ActiveAdmin.after_load do
      ActiveAdmin::BaseController.class_eval do
        skip_before_action :some_method
        ...
      end
    end

I no longer see any deprecation warning and the b

[2021-01-05 17:49] gonuguntla commented on #5954
Please can you share the rails_helper file for active-admin. I am trying write the test cases for active-admin, test cases are not hitting the active-admin code.

  require 'rails_helper'

  RSpec.describe Admin::FaqsController, :type => :controller do
    render_views

    let(:faq) { Capybara::Node::Simple.new(response.body) }

      let!(:faq) { Faq.create(id: 1) }

    let!(:faq) { Fabricate :

[2021-01-06 12:10] amitach opened #6671 "Ruby 3.0.0 issue with formtastic, Actionview::Template::Error(Wrong number of arguments(given 2, expected 0..1))"
Running active admin 2.9.0, Rails 6.1 and ruby 3.0.0.
For the following code for active admin
[code]

on loading the http://localhost:3000/admin/users page got the following error

[code]

Same thing happens for edit as well.

### Expected behavior

Users index page should load

### Actual behavior

Exception 500

### How to reproduce

Here is the bug template to reproduce the same:

[code]

The i

[2021-01-07 02:43] nicobrenner commented on #5729
I would say this is not a duplicate of #2440, as the functionality can be implemented without using any JS, and #2440 was explicitly closed because of proposing a JS-based solution.

One potential solution is to submit the first filter and then use that selection to render the second filter options. I've been looking for a way to do that unsuccessfully as I can't seem to access the params or selec

[2021-01-07 03:04] nicobrenner commented on #5729
Using the solution from this stackoverflow question: https://stackoverflow.com/questions/40944075/how-can-i-show-active-admin-filters-depending-of-controller-params

I was able to get it to work:

For the case of @liurui12w it would be something like:

[code]

Adding some keywords for anyone looking for something like this in the future:

active admin params from controller
active admin access par

[2021-01-07 03:07] liurui12w commented on #5729
Thank you. Thank you very much for your comments

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "☺ Nico"<notifications@github.com&gt;;
发送时间: 2021年1月7日(星期四) 中午11:04
收件人: "activeadmin/activeadmin"<activeadmin@noreply.github.com&gt;;
抄送: "jason"<978851037@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [activeadmin/activeadmin] How to Activate in Two Stages (#5729)

Using th

[2021-01-11 16:09] deivid-rodriguez commented on #6671
Does upgrading to formtastic 4.0.0.rc1 fix the issue?

[2021-01-11 18:15] pachun commented on #6671
@deivid-rodriguez 's solution worked well for me!

[2021-01-11 18:17] deivid-rodriguez commented on #6671
Great! I'll try to release formtastic 4.0 final in the next days so that everybody gets the working code by default.

[2021-01-15 13:22] mrtomhoward commented on #6007
@Arugin and others still experiencing this problem.

I had this issue today with an app that was initially built in Rails 5 and that I recently updated to Rails 6.

What fixed it for me was running `rails app:update` (and manually reviewing all the environment and initializer files as some are updated or overwritten by the update procedure).

I hadn't done that before now; I'd just updated the Rai

[2021-01-21 01:24] wangthony opened #6686 ""No route matches" error after upgrading to Rails 6.1 - ActiveAdmin in engine"
### Did you find a bug?

I have ActiveAdmin set up in an engine for a single model. On Rails 6.0.3.4, it works fine. After upgrading to Rails 6.1.1, rendering the index action raises an error:

[code]

Looks like the error comes from the ActiveAdmin page trying to render the <New Resource> action item. I did some investigation, and it looks like InheritedResources::UrlHelpers is using engine's rou

[2021-01-26 12:08] #6490 closed

[2021-01-29 16:14] Fabulej commented on #6357
/config/webpack/environment.js
`const { environment } = require('@rails/webpacker')
const jquery = require('./plugins/jquery')
const webpack = require('webpack')

environment.plugins.prepend('Provide',
  new webpack.ProvidePlugin({
  $: 'jquery/src/jquery',
  jQuery: 'jquery/src/jquery',
  'window.jQuery': 'jquery',
  Popper: ['popper.js', 'default']
}))

environment.plugins.prepend('jquery', jque

[2021-02-01 09:35] tuval10 commented on #3673
To anyone who is struggling with Rubocop, an answer based on the previous ones:
[code]

[2021-02-01 11:47] shamimevatix commented on #5333
@tilvin . Your reply resolve my issue. Thank you very much.

[2021-02-01 14:16] Fs00 opened #6728 "'favicon' configuration option does not honor 'use_webpacker' option"
I've noticed that `config.favicon` option adds to the page a [`favicon_link_tag`](https://api.rubyonrails.org/v6.1.0/classes/ActionView/Helpers/AssetTagHelper.html#method-i-favicon_link_tag) that points to an image asset managed by the legacy asset pipeline, and thus there is currently no way to use a favicon coming from Webpacker packs.
A simple solution could be to change the following code

htt

[2021-02-01 17:37] oyenmwen commented on #6007
This problem occurs with Rails 6 apps as they use Webpacker as the default asset generator. You need to explicitly configure activeadmin to use webpacker.

at active_admin installation:
run `rails g active_admin:install --use_webpacker`

If already installed:

add  `config.use_webpacker = true`  at  `config/initializers/active_admin.rb`
and then run `rails g active_admin:webpacker`

[2021-02-01 21:00] fedefa commented on #6382
Same issue after upgrading to rails 6. All the pages are in plain html.

Steps to reproduce:

1. Sprockets assets pipeline enabled on 5.2.4 rails project
2. Upgrade to rails 6 and enable webpacker: config.use_webpacker = true
3. Run generator to add active admin assets: rails g active_admin:webpacker

[2021-02-02 20:04] fedefa commented on #6382
@seankovacs @Tshamp7 See this guide, probably you miss to migrate from sprockets. See this guide:

https://blog.carbonfive.com/migrating-from-sprockets-to-webpacker/

[2021-02-03 09:28] durcak commented on #6671
Formtastic 4.0.0 has been released 🥳  ❤️ 🍾

[2021-02-03 09:49] deivid-rodriguez commented on #6671
Yes! :)

[2021-02-03 09:49] #6671 closed

[2021-02-04 21:10] javierjulio commented on #6006
Formtastic v4 was recently released which should address the Ruby 2.7 warnings.

[2021-02-04 21:10] #6006 closed

[2021-02-05 13:08] LarsDK commented on #5772
This worked for me with active admin 2.7.0, thanks

[2021-02-05 13:09] LarsDK commented on #5772
@tomgilligan
ActiveAdmin.setup do |config|
end

ActiveSupport.on_load(:active_admin) do
  ActiveAdmin::BaseController.class_eval do
    prepend_before_action -> { Time.zone = "Melbourne" }
  end
end

worked for me with activeadmin 2.7.0, thanks

[2021-02-12 08:03] NoharaMasato opened #6754 "How to display flash message on create and update"
Hi.
In #3628, #3631, how to display flash message is discussed, but solution is now shown.
I want to know how to display flash message on create and update with responders(gem).

[2021-02-13 04:57] asadakbar commented on #6192
So I've been hunting for a while to a similar problem and I think I found a temporary solution. I also have a similar setup, where my fruit class is an STI class

[code]
and the key being that ALL of these classes are defined in a single file.

Another file has this
[code]

Well, in my AA orange_stores.rb file I have

`ActiveAdmin.register OrangeStore do; end`

and whenever I try to load orangesto

[2021-02-13 05:00] asadakbar commented on #6008
@Andrew-Max Did you find a solution to this?

[2021-02-13 05:20] asadakbar opened #6757 "STI association loading issue"
So I've been struggling with getting a resource to properly load its associations. Most of them are fine except for one that is an sti model. Below is an example

[code]
and the key being that ALL of these classes are defined in a single file as it doesn't make sense to have a new file just for one line.

Another file has this

[code]

Well, in my AA orange_stores.rb file I have

`ActiveAdmin.regi

[2021-02-16 12:02] gotbadger commented on #6252
It seems in production comments are stripped so by the time it gets to the purge css plugin the comments have been removed. You can add `!` so comments are preserved and the following will work (at least it does for me):

[code]

[2021-02-17 12:31] choallin opened #6758 "Custom collection_action is not using the active_admin layout"
I'm rendering a partial inside a collection_action and although
I tell it to use the active_admin layout it is not loaded

Here is the code:
[code]

[2021-02-17 12:35] #6758 closed

[2021-02-17 12:35] choallin commented on #6758
It works when I revert from render partial: to just render

[2021-02-18 18:07] wangthony commented on #6686
Updated https://github.com/wangthony/admin_test to Rails 6.1.3. The error still happens.

[2021-02-19 03:45] anshratn1997 commented on #2800
In rails newer version, assets are served by the Sprockets middleware from` app/assets` directory instead of `public/assets` directory.
For the production environment rails precompiles these files to public/assets by default and files are served from `public/assets` directory.
For any non-production environment like staging or preprod you have to set this config `config.assets.compile = true`
in t

[2021-02-19 17:11] heaven commented on #2818
Any luck with this?

[2021-02-23 05:54] baka-san commented on #5127
What is the status on this? Is Globalize supported with Rails 6/ActiveAdmin 2.8.1? If so, is there any documentation on using it?

[2021-02-25 17:27] mbronek7 opened #6780 "Carriage return is being added at the end of every new line in textrea"
I do not know if it is a problem with my setup(default) or some kind of misconfiguration
Each new line in textrea ends with `\r\n` like:
[code]

### Expected behavior

Only new line characters should be added at the end of line.

code:
[code]
Stack: Rails 6.0.3, Ruby 2.7.2, ActiveAdmin: 2.8.0

[2021-02-26 12:54] dzmitrys-dev opened #6781 "Libsassc deprecation"
https://sass-lang.com/blog/libsass-is-deprecated
Need to stop using sassc gem and move to node-sass

[2021-03-02 00:30] wangthony commented on #6686
After digging into this a little more, it looks like this is a duplicate of https://github.com/activeadmin/activeadmin/issues/4446 - closing.

[2021-03-02 00:30] #6686 closed

[2021-03-02 17:05] adibsaad opened #6787 "id_column should not link to show page if policy forbids show?"
### Did you find a bug?

I'm using AA with the Pundit adapter. I have a resource and in its policy class, I define `show?` as `false` and `index?` as `true`. I'm able to go to the index page for the resource (which is correct), and when I see the rows of each record for that resource, I noticed the `View` button in the actions column is not visible, which is also correct, since `show?` is `false`.

[2021-03-04 07:06] timwis commented on #6529
I've identified a somewhat hacky workaround while awaiting my pull request to be reviewed:

[code]

This is on the premise that, when checking whether a user is authorised to create a new item in order to render the "new" button or allow access to the "new" form, ActiveAdmin essentially does:

[code]

So the workaround above aims to detect whether it's a freshly initialised model, and, if so, call

[2021-03-08 12:47] dbackeus opened #6800 "Cloning the repo and running yarn install fails"
### Did you find a bug?

Running `bin/yarn install` after cloning this repo fails.

### Expected behavior

Yarn install should complete successfully.

### Actual behavior

Seems like the `gherkin-lint` dependency is referencing a git sha which no longer exists in `yarn.lock`:

[code]

### How to reproduce

Just remove `node_modules` and run `bin/yarn install` I guess.

[2021-03-10 14:21] #6800 closed

[2021-03-15 10:44] heaven opened #6831 "undefined local variable or method `current_user'"
I have the following in `initializers/rails_admin.rb`:
[code]
When adding a link in `table_for` and trying to check `can? :destroy, seat` getting this error:
[code]

[2021-03-15 11:00] heaven commented on #6831
I've figured out that I can use `authorized? :destroy, seat`, which works fine.

[2021-03-16 14:41] deivid-rodriguez commented on #6831
Should I close this, then?

[2021-03-16 14:54] deivid-rodriguez commented on #6429
It seems like it's no longer an issue in `webpacker`!

[2021-03-16 14:54] #6429 closed

[2021-03-16 15:05] deivid-rodriguez commented on #6787
Agreed, a PR would be appreciated :+1:.

[2021-03-16 15:08] deivid-rodriguez commented on #6780
Not sure why this would happen. Are you on Windows? Any way to reproduce?

[2021-03-16 16:42] heaven commented on #6831
Hi @deivid-rodriguez, I think so, if that's the correct use of the `authorized?`. I didn't find it in the docs and guides.

[2021-03-16 16:43] #6831 closed

[2021-03-16 17:19] mbronek7 commented on #6780
Hi, thanks for your response. No I am on MacOs, and app is dockerized. I can make a repo with reproduction this week.

[2021-03-17 17:55] ghost opened #6834 "Install fails without rollback in Rails 6+ when sprockets is disabled if webpacker is not explicitly specified"
As a "new" user in a long time, this one bit me...

When installing active_admin in a Rails app with webpacker only:
[code]

### Actual behavior

... the following error is raised on this and **every subsequent invocation** of `rails`:
[code]

... until `config.use_webpacker = true` is set in config/initializers/active_admin.rb...

... leaving the installation in an unfinished/unclean state. Subse

[2021-03-18 11:01] deivid-rodriguez commented on #6686
I did no investigation whatsoever, but I did bisect this to https://github.com/rails/rails/pull/37927.

[2021-03-18 11:23] deivid-rodriguez commented on #6781
The should be solved once we make `webpacker` the default.

[2021-03-21 10:56] Fivell commented on #6529
@timwis why you think it is workaround ? looks natural for me

[2021-03-21 12:13] timwis commented on #6529
@Fivell well, to give you a scenario where this doesn't suffice, if you use `belongs_to` on your ActiveAdmin resource, e.g. a `Post` belongs to a `User`, then go to `/users/123/posts/new`, that workaround (`if !record.persisted? && !record.changed?`) won't catch it, because it will be changed: ActiveAdmin does `Post.new` and sets the user of the post to 123.

Example policy to illustrate:

[code]

[2021-03-21 13:10] mbronek7 commented on #6780
Hi @deivid-rodriguez I have created example application with reproduction of this problem:
https://github.com/mbronek7/ad_test

[2021-03-21 14:29] timwis commented on #6529
I thought of another work-around: rather than putting these conditions in every policy, we can use a custom authorisation adapter that extends `PunditAdapter`.

[code]

This still does not work for resources that `belongs_to` another resource, as described above.

Hopefully #6535 will make this unnecessary, but in the meantime, this feels a bit cleaner than putting it in each policy.

[2021-03-23 07:45] oguzsoft opened #6851 "Export custom data in CSV format"
I have a Author and Book model. This relations like in the below.
[code]

In authors page; I can export all authors in CSV format but ı want export all authors and author's book in the one csv file.
The sample output should look like this.

| Author | Book |
| :------ | ---- |
Jack London | White Fang
Franz Kafka |
George Orwell | 1984
George Orwell | Animal Farm

If author have not a book, book a

[2021-03-24 14:06] johnnncodes commented on #6106
+1 for adding support for Action Text

[2021-03-24 17:43] brobertsaz opened #6853 "Using id_column or actions causes error in insert_tag renderer_for(:index)"
### Did you find a bug?
Using ruby (2.7.2), activeadmin (2.9.0), formtastic (4.0.0), rails (6.0.3.5)

Creating new AA admin files using the basics, and the `id_column` and `actions` in the index are throwing the following error:
[code]

I can change the `id_column` to use `column :id` but that doenst fix the `actions`
[code]

  From SO I keep seeing that there might be a conflict when using `will_

[2021-03-24 18:59] ngouy commented on #2049
I know its an old one, but I am not sure why we just don't give the user the choice to not implementing it in it's default namespace (whish ironically is `:root`)

When you only use custom namespaces, it doesn't make sense that ActiveAdmin is creating a root path

I found a simple way to monkey patched it but still I think it should be configurable

[2021-03-24 19:52] brobertsaz commented on #6853
seems it is an issue with one crazy model

[2021-03-24 19:52] #6853 closed

[2021-03-25 18:37] deivid-rodriguez commented on #6780
Thank you @mbronek7, I'll have a look :+1:.

[2021-03-26 09:21] deivid-rodriguez commented on #6780
Hi @mbronek7. Apparently this is HTML spec, not related to ActiveAdmin or Rails. Have a look at https://stackoverflow.com/a/14217315/143243!

[2021-03-26 09:21] #6780 closed

[2021-03-26 09:54] deivid-rodriguez commented on #6851
Hi!

Have a look at https://activeadmin.info/4-csv-format.html, you should see some helpful documentation in there. If you're still having issues, post a question at StackOverflow where a wider community can help you.

Cheers!

[2021-03-26 09:54] #6851 closed

[2021-03-26 12:18] rahulknojha commented on #6787
@deivid-rodriguez I'm working on it.

[2021-03-26 14:28] mbronek7 commented on #6780
Hi @deivid-rodriguez  thank you very much and sorry I did not know this

[2021-03-26 18:12] heaven opened #6861 "Missing global per_page setting"
Per page setting exist only in the `register` DSL but missing in configuration, which requires a huge amount of copy-pasting.

[2021-03-29 12:28] deivid-rodriguez commented on #6834
Agreed on essentially everything.

[2021-03-31 06:55] ParthivSavani opened #6880 "How to fix pagination links UI on Dashboard"
Hello,

I've added a listing on the dashboard with pagination. I want to display the pagination links outside of the table same as other listings. Please have a look at below screenshot and code

[code]

<img width="1391" alt="Screenshot 2021-03-31 at 12 24 41 PM" src="https://user-images.githubusercontent.com/20010044/113102758-1391e480-921c-11eb-9e9f-e3e889e3460e.png">

[2021-03-31 07:21] ParthivSavani commented on #6861
@heaven add `config.default_per_page = 10` in /config/initializers/active_admin.rb file and check.

[2021-03-31 07:35] heaven commented on #6861
Hi @ParthivSavani, I was mentioning this setting `per_page = [10, 30, 50, 100]`

[2021-03-31 17:50] gingerlime commented on #2818
also wondering about this... in our particular case, we have a "heavy" scope, which I only want to run when it's explicitly needed. Otherwise, the index page would run a `count` on the scope to show how many entries there are, but I'd rather avoid it and only apply it with an action item or something... Would be great to be able to apply the scope only with the scope param, but this doesn't seem t

[2021-03-31 21:09] interpegasus opened #6882 "ActionController::InvalidAuthenticityToken"
### Did you find a bug?
After upgrading **rails**, **activeadmin**, and **devise** to latest versions, the following error is returned on login screen. Right after pressing the login button:
`ActionController::InvalidAuthenticityToken`

### Expected behavior
Login should work as usual

### Actual behavior

`{"status":500,"exception_message":"ActionController::InvalidAuthenticityToken","exception_b

[2021-03-31 21:10] interpegasus commented on #6882
Gemfile

[code]

[2021-03-31 21:11] interpegasus commented on #6882
<img width="650" alt="Screen Shot 2021-03-31 at 4 03 48 PM" src="https://user-images.githubusercontent.com/934795/113211957-c3c31580-923b-11eb-86f4-7301b68182ca.png">

[2021-03-31 21:19] interpegasus commented on #6882
In case it helps anyone. Just Solved via:
**Gemfile**
`gem 'rack',"2.2.2"`
**Terminal**
`$ bundle update`
Now it works as expected

[2021-03-31 21:25] #6882 closed

[2021-04-01 00:42] ngouy opened #6883 "Filters values aren't using authorization scopes"
### Did you find a bug?

filter values doesn't use policy scopes.

I understand there is a manual way to scope values of a filter, but as a collection of any resources indexes are by default scoped by the policy adapter (when there is one), so should be filter values, it can lead to a serious data breach.

I am even surprised to found nothing on the internet about that

Another possibility is that

[2021-04-01 01:13] ngouy commented on #6529
Same here, I feel so bad I had to update my adapters for that

A :new? policy usage would be more than welcome

[2021-04-01 14:12] m-abdurrehman opened #6885 "NameError in Admin::DashboardController#index"
I followed https://activeadmin.info/0-installation.html
and ran `rails g active_admin:install User` as I have already `User` model connected with **devise**

affected/new files include
[code]

And getting this error after running migration

`NameError in Admin::DashboardController#index`
or
`uninitialized constant Dashboard`

![screenshot-localhost_3000-2021 04 01-18_50_59](https://user-images.git

[2021-04-02 14:50] vfonic commented on #783
I just hit this error on our CI where the db is created every time.

Here's the CircleCI db setup step that fails:

[code]

And here's the code that hits the database and makes this fail:

[code]

I don't know how to make this code _not_ hit the database.

[2021-04-02 20:54] kwent commented on #6533
Fix below:

[code]

[2021-04-05 15:53] joshmn commented on #6885
what's your `app/admin/dashboard.rb` look like?

[2021-04-06 10:12] marino-mrc opened #6887 "Custom Filter Empty Summary"
Hi,
I'm using activeadmin with custom filters:

`
filter :pratica_filter, label: "Pratica Contiene", as: :select, collection: TipoPratica.all.sort_by{|t| t.descrizione.capitalize }.map{|t| [t.descrizione.capitalize, t.id] }
...
def self.pratica_filter(value)
		# My query here...
end

def self.ransackable_scopes(_auth_object = nil)
		%i[pratica_filter]
end
`
It works but the problem is that I see a

[2021-04-06 11:16] marino-mrc opened #6888 "Execute a custom method after filters"
Hi,
I'm searching for a polite way to solve my issue: basically I have some custom filters that need to access data without any restriction (for example without RBAC restrictions). Anyway, after filtering, I need to apply some restrictions to data that appear in the index page. I'm wonder if exists a method that I can call after all filters in order to apply a custom filter based on the role of th

[2021-04-06 19:59] marino-mrc commented on #6888
Ok, solved using scopes. I think it's the best way in my case.
Thank you

[2021-04-06 19:59] #6888 closed

[2021-04-07 06:45] m-abdurrehman commented on #6885
@joshmn thanks for your follow up.

Here is my `app/admin/dashboard.rb`
[code]

Is there anything to change?

[2021-04-07 08:38] benoittgt commented on #6533
@experimatt I think you should definitely add some documentation about this. What about in the wiki?

[2021-04-08 08:30] filipkis commented on #1116
Just confirming, this is still an issue. `.per` throws undefined method error and `.per_page_kaminari` ends in stack overflow.

[2021-04-08 12:17] filipkis commented on #1116
OK, with some debugging I realized what is the issue. It's the combination of `.page` and `.per_page_kaminari` that's causing the problem. If you have `will_paginate` gem, it's likely you renamed the Kaminari method from `page` to `per_page_kaminari`, so calling both causes an issue as first triggers the `will_paginate` and second then fails as it calls some methods (namely `first`) that get execu

[2021-04-08 18:13] clinejj opened #6898 "`site_title_image` doesn't work with webpack assets"
### Did you find a bug?

When using a file that is part of the webpack asset pipeline, there is no way to set it as the `site_title_image`. While `site_title_image` does support a proc, it still sends the output to `image_tag` which looks up the Sprockets asset path. This is true even when `config.use_webpacker = true`

### Expected behavior

`site_title_image` should either use the webpacker asse

[2021-04-09 13:21] Linuus opened #6901 "Address Omniauth CVE 2015 9284"
There's a security issue with Omniauth, see: https://github.com/omniauth/omniauth/wiki/Resolving-CVE-2015-9284

Due to this, all links to `/auth/:provider` should use `POST`. However, in the active admin view, the links are `GET`: https://github.com/activeadmin/activeadmin/blob/master/app/views/active_admin/devise/shared/_links.erb#L29-L30

[2021-04-14 02:23] oni7uka opened #6905 "How to override new action item button?"
I want to add some parameters to the new action button. Then I wrote a custom action item and remove new action like this：
[code]
but it will cause an exception:  undefined method `new_admin_user_path' , How to deal with this situation？

[2021-04-14 11:03] Fs00 commented on #6898
I got it to work by passing a proc like this:
[code]
This is just a workaround though, we should really be able to pass a string when using Webpacker.
`config.favicon` option has a similar issue (#6728), but in that case there is no workaround.

[2021-04-14 12:55] Fs00 opened #6907 "Multi-line strings do not seem to be exported correctly to CSV"
I observed that new-line characters in string fields are not escaped when exporting index page results to a CSV file, causing broken CSVs in case of multiline string fields.

### Expected behavior

Given a record that has a string field with the following content:
[code]

That string should be written in the CSV as follows:

[code]

### Actual behavior

The example string above gets written in the

[2021-04-15 08:43] thomasdarde opened #6908 "Issue with Webpacker 6 (beta) and print.css"
When configuring activeadmin to use webpacker, and using webpacker 6 an issue arise with activeadmin/print.css

Maybe renaming it to activeadmin_print.css would avoid having a directory structure and simplify this ?

removing this stylesheet fixes the issue.

[2021-04-15 17:38] fedeagripa commented on #5365
I'm using the above code but my direct upload is not working, check my generated input data-direct-upload link, it seems wrong (not s3, besides I only have s3 configured as a storage option)
![Screen Shot 2021-04-14 at 15 32 20](https://user-images.githubusercontent.com/23194751/114913898-184bc080-9df8-11eb-8d11-45c6cf34b611.png)

And here is my form input code just in case:
[code]

[2021-04-16 10:19] benoittgt opened #6910 "Arbre component in panel title is rendered twice"
### Did you find a bug?

While trying to add an icon with a tooltip in the panel title. I notice that any html component is rendered twice.

### Expected behavior

Element is rendered once in H3.

### Actual behavior

Element is rendered in H3 and in parent panel.

### How to reproduce

[code]

[code]

![Screenshot 2021-04-16 at 12 16 50](https://user-images.githubusercontent.com/8417720/115010383

[2021-04-16 14:15] deivid-rodriguez commented on #6907
I did a quick test and I got what I would have expected in this case. A quoted string with actual line breaks inside. This works just fine with my spreadsheet application, and matches [the standard](https://tools.ietf.org/html/rfc4180#section-3):

From your issue it's unclear whether the field with line breaks is getting quoted. That sounds like an issue and we'd need to investigate why it's happe

[2021-04-16 15:16] Fs00 commented on #6907
Hello @deivid-rodriguez, thanks for your reply.
I can confirm that the multi-line field gets quoted, but CRLF characters do not get escaped.
Setting `ActiveAdmin.application.csv_options[:force_quotes] = true` didn't have an impact on the issue.

[2021-04-16 15:32] Fs00 commented on #6907
After a bit more of analysis, I've noticed that even though the original string had CRLF in it, in the CSV it was written with LF only.
That didn't change how Excel parsed the line though 🤔

[2021-04-17 09:22] deivid-rodriguez commented on #6907
mmmm :thinking:. I duckduckgo'ed "excel CSV line breaks" and got this as a first result: https://www.excelchamp.net/adding-line-breaks-in-a-csv-file/, which suggests that Excel should deal with this just fine. We must be missing something.

[2021-04-17 10:19] Fs00 commented on #6907
I tried importing the CSV file created by AA in LibreOffice Calc and multi-line string fields were parsed correctly.
This is definitely an Excel-side issue. I have seen other people having this kind of problem with that program (see https://stackoverflow.com/questions/2668678/importing-csv-with-line-breaks-in-excel-2007).

Thank you for your replies! At least I learned that CSV with line breaks in

[2021-04-17 10:19] #6907 closed

[2021-04-19 14:39] guillaumebesse commented on #6908
I have the same problem (webpacker 6 beta 6).

[2021-04-20 11:25] deivid-rodriguez commented on #6908
Could any of you investigate this issue a bit more? What kind of issue are you having? Does activeadmin raise an error? Which change in webpacker caused it?

[2021-04-21 16:53] deivid-rodriguez commented on #6905
Can you check the command `rails routes' to verify whether the path you're using is correct?

[2021-04-22 13:44] ncampos92 opened #6912 "Devise config doesn't check namespace route options"
### Did you find a bug?

We recently changed the path for ActiveAdmin using the route options of the namespace to `new_route` and after the change realized that the login url keeps pointing to the namespace default path instead of the new configuration. Checking how [devise config is generated](https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/devise.rb#L10) I found that rout

[2021-04-23 03:13] oni7uka commented on #6905
OK, These are all my routes：
[code]

I think it is possible that `actions :all, :except => :new` deletes the `:new ` route created by action item do block

[2021-04-23 07:40] deivid-rodriguez commented on #6905
Indeed.

I checked and you can do this:

[code]

Probably worth adding a note here: https://activeadmin.info/8-custom-actions.html#action-items.

[2021-04-23 07:50] lubosch opened #6914 "I18n::InvalidPluralizationData translation data {:one=>"inregistrare", :other=>"inregistrari"} can not be used with :count => 2. key 'few' is missing."
### Did you find a bug?

Pagination does not work in romanian lang.

[code]

### Expected behavior

It should work in romanian lang

### Actual behavior

it throws error 500

### How to reproduce

set RO lang and use paginated_collection.

rails-i18n/lib/rails-i18n/common_pluralizastions/romanian.rb defined 'few' requirement for RO lang

### How to solve

Add 'few' key to config/locales/ro.yml  ->

[2021-04-23 07:52] deivid-rodriguez commented on #6914
Pull request appreciated!

[2021-04-23 07:53] lubosch commented on #6914
but I don't speak romanian :D google translator is enough?

[2021-04-23 08:03] deivid-rodriguez commented on #6914
I guess a potentially poor translation is better than a runtime error, yeah!

[2021-04-23 10:20] deivid-rodriguez commented on #6885
Can you show the result of `rails routes`?

[2021-04-23 10:22] deivid-rodriguez commented on #6883
Are you up for working on a fix @ngouy?

[2021-04-23 12:43] ngouy commented on #6883
mhm 🤔

Have a lot of work ATM (including in my week end 😢 ) so I don't have any time for this
I would be glad to work on this but it may be in 1 month

[2021-04-23 12:46] deivid-rodriguez commented on #6883
That'd be great, you help would be super appreciated if you end up finding some time!

[2021-04-23 12:53] deivid-rodriguez commented on #6887
Hi Marco. I have no idea why activeadmin would say there's no active filters when your filter is active. Could you provide a sample application where this problem can be reproduced? Thanks!

[2021-04-23 14:00] #6914 closed

[2021-04-23 14:01] #6901 closed

[2021-04-25 03:37] oni7uka commented on #6905
@deivid-rodriguez I think this is what i need, Thank you very much.

[2021-04-25 03:37] #6905 closed

[2021-04-26 04:21] m-abdurrehman commented on #6885
@deivid-rodriguez I was somehow abled to resolve the issue. thanks

[2021-04-26 04:21] #6885 closed

[2021-04-27 00:15] ngouy commented on #6883
@deivid-rodriguez quick question from a kinda noob active admin open sourcer

What would be the best way to have access to `active_admin_config` or `active_admin_namespace`or the current controller to have access to the `authorization_adapter` from the ActiveAdmin::Inputs::Filters::SelectInput?

Once this part is done the rest is formality

[2021-04-28 10:23] deivid-rodriguez commented on #6883
Hello!

I'm not fully sure, would have to dig in deeper. I think at this level you only have access to the underlying activerecord object you're creating the form for, so I guess you'd need to explicitly pass the correctly scoped collection to the form manually.

So your later idea would seem like the right way to go to me.

[2021-04-28 13:25] DarkSwoop commented on #6908
Hi!

I found a workaround that works for now.

I put this at the bottom of my `config/initializers/active_admin.rb`:
[code]

What's happening?
When webpacker tries to look up a pack, it sanitizes the name of the referenced pack with `File.basename`. `File.basename` removes the path before the filename and returns the filename without the extension: `active_admin/print.css` => `print`. And since ac

[2021-04-28 14:01] ngouy commented on #6883
Thank you for your guidance @deivid-rodriguez

Will take a look at it

[2021-04-28 14:41] thomasdarde commented on #6908
Great to see this investigation ! I did try the workaround with no success (I added this just before `ActiveAdmin.setup do |config|`)

[2021-04-28 15:58] DarkSwoop commented on #6908
Okay. A little bit more context:

[code]

[2021-04-28 16:13] javierjulio commented on #6908
This has bothered me for a long time and its one of the items I resolved in #3862. There is no need for a print stylesheet to be loaded as a separate file. It's been best practice for a long, long time now to just include the print media block `@media print { ... }` in the main stylesheet. I'd much rather we make that change then do anything with Webpacker.

[code]
From: https://github.com/h5bp/ht

[2021-04-28 16:47] deivid-rodriguez commented on #6908
@javierjulio I extracted this idea from #3862 into https://github.com/activeadmin/activeadmin/pull/6922.

[2021-04-28 17:08] deivid-rodriguez commented on #6861
Hi @heaven!

As @ParthivSavani mentioned this is implemented by the `default_per_page` config, so `config.default_per_page = [10, 30, 50, 100]` should do the trick for you.

I can see how this could be confusing because the name of the per resource configuration doesn't match the name of the global configuration. Maybe we could introduce the `per_page` setting and deprecate `default_per_page`.

[2021-04-28 20:16] deivid-rodriguez commented on #6880
I think this is an issue with our CSS where the pagination component doesn't get properly placed inside a panel.

[2021-04-29 02:00] ngouy commented on #6883
@deivid-rodriguez I've sent the first shot
There are no tests yet, and var namings etc... are far from definitive, but on my current project it seems to work fine

What do you think about this approach? I'm waiting for even a slight input before "committing" myself into righting the final version and tests

[2021-04-29 06:37] deivid-rodriguez commented on #6883
@ngouy Yes, that the kind of approach I was thinking of, namely, passing a properly build collection to form filters using the `collection:` option.

[2021-04-29 09:52] deivid-rodriguez commented on #6252
I'm not sure whether's there's some actionable for us to do in activeadmin. The solution given seems good enough.

[2021-04-29 09:54] deivid-rodriguez commented on #6757
If you can provide a reproducible example or sample application, I'm happy to have a look at it.

[2021-04-29 10:02] deivid-rodriguez commented on #6754
Hi. Flash messages for update and create are displayed by default. Do you want to customize the text? In that case, I think you need to override these i18n keys: https://github.com/heartcombo/responders/blob/3611f8c95171eaa87122e2e1ada5a3e0695ddd06/lib/responders/locales/en.yml.

[2021-04-29 10:04] deivid-rodriguez commented on #6728
@Fs00 Could you open a PR to fix this the way you suggested?

[2021-04-29 10:11] deivid-rodriguez commented on #6650
Hi, sorry for the delay. Can you provide a way to reproduce this? Normally a migration for comments should be generated.

[2021-04-29 11:53] leosok commented on #2925
This did not work for me - but all the options for the [jQuery-UI-datepicker ](https://api.jqueryui.com/datepicker/#option-yearRange) did. You need to "translate" them from CamelCase to snake_case.

Example [yearRange](https://api.jqueryui.com/datepicker/#option-yearRange):
[code]

[2021-04-29 11:55] Fs00 commented on #6728
I once tried but I was getting several failures in apparently unrelated Cucumber tests. I gave up because I simply hadn't enough time and motivation to look into them.
That's why I would be happier if you could take care of it 😃

[2021-04-29 16:23] deivid-rodriguez commented on #6728
Can you push your WIP version to a WIP PR?

[2021-04-29 16:48] Fs00 commented on #6728
Will do when I have some time.

[2021-04-30 08:19] #6754 closed

[2021-05-01 19:27] kinsbrunner commented on #5959
Hi Stanislas,
Have you been able to get any answer about this?
In my case, although actions appear, they are pointing to header's actions instead of child's action. i.e. when clicking Edit; it takes me to Edit the parent and not the child... am I missing something?
Kindly let me know your thoughts.
Regards.
Alejandro.

[2021-05-03 11:20] dvkch commented on #5959
Hey @kinsbrunner

I defined a module in my projects :

[code]

and in each active admin model definition I add

[code]

This fixes it in every instance of the issue that I had, couldn't see a regression on my end. Hope this helps

[2021-05-03 16:25] kinsbrunner commented on #5959
Brilliant, that's the solution for most of the cases. The only exception is when deleting a child object as it takes me to the index of the child list. i.e I have a Family which has Children. When standing on the Show of a specific family, I list the children and click on the delete button attached to one of them; the result is that it gets deleted but it redirects me to the Index of the Children

[2021-05-03 16:31] dvkch commented on #5959
I don’t have this issue since either children objects (photos of a photo album for instance) don’t have their own controller, in which case I have overloaded the « destroy » controller method for that object to redirect to the parent of the destroyed object, or the objects have their own semantic meaning distinct from their association (eg a business associated to a person) and I’ll only display t

[2021-05-03 18:10] kinsbrunner commented on #5959
Ok, I will look into it.

Also, Let's say I have the Family and that each family has Donations. I'd expect to have a button for creating a Donation on the Donations panel that I have on my Family show page. Is this something that comes out of the box somehow? Or how would you suggest me to proceed?

[2021-05-03 18:13] dvkch commented on #5959
I’m sorry I won’t have the time to help you much further, I’ve given you all the information I had already available on hand, and the documentation of ActiveAdmin is already pretty complete for creating you own custom actions.

[2021-05-05 07:22] vfonic opened #6937 "Demo site is down"
Repro steps:

1. Go to: https://activeadmin.info/
2. Scroll down and click on "Check Out the Live Demo"

Expected:
Loads demo site

Actual:
Loads heroku error page: Website is offline

[2021-05-05 18:55] TheUrbina20 commented on #5772
In my case we where using an `active_admin_device.rb` initializer where we referenced some controller.
Wrap config inside `ActiveAdmin.after_load` did the trick.

[2021-05-06 09:14] ndbroadbent opened #6943 ""Please use symbols for polymorphic route arguments" after updating from Rails 6.0.3.6 => 6.0.3.7"
I have written some integration tests for my app that test some ActiveAdmin pages, and these integration tests have started crashing with this error:

[code]

This is being triggered by a call to `id_column` inside an `index` block for a resource page.

I just wanted to post this issue in case other people come across this, but I will continue investigating and try to add more information.

[2021-05-06 09:18] ndbroadbent commented on #6943
Should probably move the discussion to this issue on the Rails issue tracker: https://github.com/rails/rails/issues/42157

[2021-05-06 09:21] ndbroadbent commented on #6943
Looks like it's an intentional change to fix a security vulnerability, in this commit: https://github.com/rails/rails/commit/c4c21a9f8d7c9c8ca6570bdb82d64e2dc860e62c

ActiveAdmin might need to be updated to call `to_sym` in a few places

[2021-05-06 09:31] ndbroadbent commented on #6943
I think the issue is in inherited_resources, and a fix is mentioned here: https://github.com/activeadmin/inherited_resources/issues/665

[2021-05-06 16:05] TylerSangster commented on #6106
+1

[2021-05-06 17:26] phoet commented on #6943
Same thing for adminsitrate, but it appears to be fixed already https://github.com/thoughtbot/administrate/pull/1972

[2021-05-07 16:33] deivid-rodriguez commented on #6943
This should've been fixed by the latest `inherited_resources` release: https://github.com/activeadmin/inherited_resources/releases/tag/v1.13.0.

[2021-05-07 16:33] #6943 closed

[2021-05-07 17:03] bdezonia opened #6950 "Activeadmin 2.9.0 has incompatibilities Rails 6.1.3.2: polymorphic routes"
I have an activeadmin 2.9.0 app running on rails 6.1.3.1 just fine. When I upgrade to rails 6.1.3.2 (released two days ago) my tests start failing throwing exceptions.

Error message:

Showing /home/bdezonia/.rvm/gems/ruby-2.7.3@corrie/gems/activeadmin-2.9.0/app/views/active_admin/resource/index.html.arb where line #2 raised:

Please use symbols for polymorphic route arguments.

Trace:

[code]
Ple

[2021-05-07 17:05] deivid-rodriguez commented on #6950
Run `bundle update inherited_resources` and you should be ok.

[2021-05-09 06:23] kirupakaranh commented on #2329
I'm still facing this issue with active admin 2.9.0. Renaming file to singular name had no effect

[2021-05-11 13:32] #6908 closed

[2021-05-12 15:42] mbiang commented on #5991
This appears to be the result of AA incorrectly handling requests with the request.format = "*/*'".    This occurs when the browser sends a request with the header "Accept: */*".

This method [def restrict_format_access!](https://github.com/activeadmin/activeadmin/blob/b45b1fb05af9a7f6c5e2be94f61cf4a5f60ff3bb/lib/active_admin/resource_controller.rb#L56) doesn't handle request.format = "*/*'

I've

[2021-05-12 15:45] gingerlime commented on #5991
Thank you. I don't remember seeing this issue recently (reported end of 2019, so it's quite a while).

[2021-05-14 21:11] gregbell commented on #6937
Looks like our Heroku stack is EOL. Oops. I just logged into the Heroku UI and upgraded it. It requires a deploy which I'm trying to do now. Ref: https://github.com/activeadmin/demo.activeadmin.info/commit/dc136872422e1f709b6c5421aad63e32e65d9896

[2021-05-15 13:54] gregbell commented on #6937
Hmmm... looks like I don't have access to the Heroku app running at demo.activeadmin.info. @activeadmin/maintainers any one know? I'm assuming it's the same problem as the version I have in my Heroku account. Someone will need to click the upgrade button in the UI then trigger a deploy.

[2021-05-15 16:47] timoschilling commented on #6937
Sometime ago we started a new app because we are not able to update the old one. @deivid-rodriguez can you take a look

[2021-05-16 16:59] ball-hayden commented on #6613
In our case, this was caused by `sentry-raven` (although the same issue with exist with `sentry-rails`).

 ActiveAdmin publishes `ActiveSupport::Notifications` with different to Rails. Sentry assumes that the second argument is a time, while ActiveAdmin instead provides the application.

I've worked around this with the following monkeypatch:

[code]

[2021-05-17 16:56] deivid-rodriguez commented on #6937
Hi @gregbell :wave: :wave:

Yes, we decided to create a new heroku application because we needed some permissions which only you had and I was not able to get in touch with you. Happy to add you to the new application, or maybe even better to delete the new heroku application and go back to yours.

Regarding the site being down, I temporarily stopped it because it was running into several errors a

[2021-05-18 16:50] sebastian-echeverria-lenio commented on #2447
Overriding shouldn't always be the answer, maybe including options to replicate the base code when creating a resource would be best. As of today, it still is a major issue everyday for Activeadmin.

[2021-05-21 10:38] sergey-alekseev commented on #3157
Just FYI this is still actual in 2021.

[2021-05-23 14:40] heaven commented on #6861
Hi @deivid-rodriguez, yeah, we do use `default_per_page` but if I'm not mistaken the purpose of this option is different and it accepts an integer instead of an array.

[2021-05-24 16:11] rjherrera commented on #6144
Hi there @Bastes ! Could you share your `OtherAdmin::PunditAdapter`? I'm trying to separate policies between namespaces but setting the `pundit_default_policy` or `pundit_policy_namespace` inside the namespace block in the initializer does not work. Thnak you!

[2021-05-24 16:44] rjherrera opened #6979 "Pundit settings ignored under namespace"
### Did you find a bug?

When using namespaces in the initializer config, AA ignores the configuration for pundit. In particular, both `pundit_default_policy` and `pundit_policy_namespace` are not set correctly for particular namespaces.

If instead of setting it inside the namespace, I specify both settings at root level, it works as expected.

### Expected behavior

I expected the adapter to cor

[2021-05-24 18:01] Bastes commented on #6144
Hey @rjherrera :) sorry I can't do that anymore. The code belongs to a company I used to work for and I have changed about a year ago, I don't have access to it anymore. But maybe I can help in another way?

[2021-05-24 18:39] rjherrera commented on #6144
Thank you for the answer @Bastes! No worries, I understand perfectly.

Based on your original issue, I think maybe you can help me. The thing I'm trying to do is to have separate policies for separate namespaces in my app. I described my issue with more detail [here](https://github.com/activeadmin/activeadmin/issues/6979), however, I was thinking that maybe using a custom pundit adapter may be an

[2021-05-25 20:44] Bastes commented on #6144
Well, using different adapters based on namespace should work according to the docs:
https://activeadmin.info/13-authorization-adapter.html

And, memory serves, that was what me and my team were doing at the time.

So, what you were describing in your issue should be working, assuming you're at the same version the doc is based on?

[2021-05-27 10:12] ParthivSavani commented on #4685
Trying to create a record but getting below error.

[2021-05-27 10:13] ParthivSavani commented on #4685
I'm trying to create a new record, but getting below error.

[2021-05-27 14:43] TomasBarry commented on #5445
Is there any update on this issue or has it gone stale? I see the one PR mentioned above (#5452) does that need a re-visit?

[2021-06-01 02:32] rjherrera commented on #6144
Hi @Bastes thank you! And sorry for the late answer. Yes, I thought that namespacing pundit configuration should work as shown there, but it fails in terms of the pundit specific configs.

I think using a specific custom adapter mimicking the Pundit one for each namespace (as you did), but forcing it to consider the namespace config will solve my issue. It's a shame it does not work with the built

[2021-06-01 23:11] Mamunoz42 opened #6999 "Cannot log into my fresh active_admin part"
Hello,

I did enter gem ¨activeadmin¨ into my gemfile
After that I did bundle install.
Then I did rails generate active_admin:install
Then rails server and when I try to login with the admin@example.com and password I got this message:

ActiveRecord::StatementInvalid in ActiveAdmin::Devise::SessionsController#create

PG::UndefinedColumn: ERROR: column admin_users.login does not exist LINE 1: SELEC

[2021-06-03 15:03] rjherrera commented on #6999
did you run the migrations? and where did you try to login? in the /admin path in your localhost?

[2021-06-04 04:27] deepakmahakale commented on #6943
Updating `inherited_resources` to `v1.13.0` worked

[2021-06-06 21:25] Bastes commented on #6144
As long as it works for you :slightly_smiling_face: good job and good luck with what's next.

[2021-06-16 18:38] inveterateliterate commented on #6887
I have encountered this same issue. Looking at the source code, and when I log out assigns[:search] in `ActiveAdmin::Filters::ActiveSidebar`, my ransack results for each of my custom filter and my standard attribute filter come in different formats:
[code]

Where `calendar_year_eq` is the custom filter defined per OP's description above, You can see it doesn't get included in the bas: Grouping obj

[2021-06-19 15:07] francoserio commented on #6007
Thanks! This fixed the issue for me!

[2021-06-24 20:00] ernestoe commented on #5737
Don't know how related this might be, but I just got a similar error when including a `filter` config in admin page such as:
[code]
If this line is commented... no error.

`nulldb` didn't work either.

[2021-06-27 14:52] littleforest commented on #5260
It seems that this is a hard problem to solve, because even if `config.paginate = false`, ActiveAdmin is still using pagination underneath; it is just setting the `per_page` value equal to `max_per_page` [in this method](https://github.com/activeadmin/activeadmin/blob/b45b1fb05af9a7f6c5e2be94f61cf4a5f60ff3bb/lib/active_admin/resource_controller/data_access.rb#L268-L274). So in essence, you still h

[2021-06-29 10:43] MeetChavda commented on #4148
i haven't already that model still having error like that any solution?

[2021-06-29 13:09] fuxinhao-crypto commented on #4069
@varyonic do you know how to fix this issue?

[2021-07-01 07:48] hubertjakubiak opened #7029 "Display all batch actions names in button label"
Instead of button label `Batch Actions` display `Batch Actions: Update Product, Update User`.

Configurable with option `display_batch_actions_names_in_button_label`

My current monkey patch:

[code]

[2021-07-01 13:57] heaven opened #7030 "Incorrect permission check with CanCanCan"
I need to disable the `show` action so I have the following in the `Ability` class
[code]

But no luck, the model isn't visible in the navigation and isn't accessible.

Instead of `:index` it wants me to use `:read` but this also enables the `show` action and doesn't give me any ability to disable it. This isn't right, Active Admin should not rely on shortcuts such as `:read` and should use `:inde

[2021-07-02 06:12] kina opened #7032 "Freeze in CVBuilder error"
### Did you find a bug?

In master, when you try to csv download a RuntimeError: can't modify frozen String happen
Line:
https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/csv_builder.rb#L55 or
https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/csv_builder.rb#L52 (if has byte_order_mark)

### Expected behavior

CSVBuilder work

### Actual behavior

Runtime

[2021-07-05 10:12] viktorsmari opened #7035 "Using ransackable_attributes with Active Admin errors"
We have a Rails 6.1 app with `activeadmin` 2.9.0 and `ransack` 2.4.2 and when we visit `/admin/users` we get the following error:

**ArgumentError in Admin::Users#index**

**Polymorphic associations do not support computing the class.**

The error goes away if we remove the following section:

[code]

We need this section to prevent users being able to guess (ransack) someone else's password or em

[2021-07-06 13:52] ngouy commented on #5425
I still have the issue as of today, and the given solution doesn't works for me.

Unable to trigger `ajax:<whatever>` event on active admin forms/buttons/anything actually

[2021-07-06 17:55] Lumuy opened #7036 "Bug: csv file lost bom when download more than one time."
### Did you find a bug?

When download csv file on index page the second time, the `bom` will lost.

If the csv file contain Chinese or Japanese, it act normal on Mac system opening with Excel, but on Windows system opening with Excel, can not see the right content.

### Expected behavior

When download csv file lots of time, opening with Excel on Windows system, see the right encoding context.

#

[2021-07-07 15:51] aasmolsky opened #7042 "No current filters when use filters in sidebar"
### Desc

The issue seems to be similar to the [#4342](https://github.com/activeadmin/activeadmin/issues/4342) but a  bug appears for ActiveAdmin 2.9.0.

![image](https://user-images.githubusercontent.com/53896110/124790442-74336a80-df4b-11eb-91a0-6e7f904bb166.png)

1. Add filters filter (Example):

[code]

### Actual behavior

When I use both filters on a page I see only the first one in the Curr

[2021-07-09 15:26] martinstreicher commented on #855
I would recommend the application-wide adoption of the nilify_blanks gem.

[2021-07-19 17:19] clinejj opened #7064 "Deprecation warning on / for division in forms.scss"
### Did you find a bug?

After switching to a SCSS preprocessor that uses Dart Sass, we started seeing the following deprecation warning:

[code]

### Expected behavior

There should be no deprecation warnings.

### Actual behavior

What actually happens?

### How to reproduce

We are using `rails/webpacker` 6.0beta7, with `sass` 1.35.1 in a webpack configuration for our Rails app.

Note: this cha

[2021-07-25 13:52] BishalMukherjee commented on #3359
Is there any way to make the label in uppercase in the show page. Actually I want to do something like this
[code]
But it doesn't work, it's only making the words start capital.

[2021-07-25 16:35] cristi commented on #3359
You need to pass a block, try something like:

[code]

or

[code]

[2021-07-25 17:14] BishalMukherjee commented on #3359
@cristi I tried that too. But it isn't working.

[2021-07-25 18:48] javierjulio commented on #3359
@BishalMukherjee I believe this is similar to what I've run into. For most of these fields, if supported, ActiveAdmin will use the `human_attribute_name` method [(rails docs source)](https://api.rubyonrails.org/classes/ActiveModel/Translation.html#method-i-human_attribute_name) which also changes the case. You should be able to address the issue by specifying the field in the locale. So as an exam

[2021-07-25 20:12] BishalMukherjee commented on #3359
@javierjulio Thanks. It worked.

[2021-07-28 21:00] fabn commented on #6937
Demo site is still down, it would be useful to have it back... Thanks.

[2021-07-30 06:51] tordans commented on #1116
Just in case someone stumbles on this thread, this is what worked for me:

Szenario: Active admin view with **multiple, separately paginated lists**.
`params[:somethings_page]` and `param_name: :somethings_page` need to be unique per panel.

Gemfile: `gem 'kaminari'`

[code]

No additional code was needed.

[2021-07-30 08:50] shanser opened #7084 "Should not display any span element for an action item that the user is not able to use"
### Did you find a bug?

ActiveAdmin renders empty `span` elements for actions that the user is not authorized to use. That is a problem when you need to customize the css style of those elements.

### Expected behavior

Render no `span` element inside the `action_items` `div` element

[code]

Or even no `div.action_items` at all

### Actual behavior

It renders empty span for each action that te

[2021-07-31 23:39] sabatsu opened #7086 "Activeadmin error when upgrading ruby and rails versions"
I am trying to upgrade my app to ruby 3.0.0 and rails 5.1.7
Somehow after the upgrade, I am getting this error when trying to start the server.
Does anyone know what is the issue?

`/home/ido/.rvm/gems/ruby-3.0.0/gems/activesupport-5.1.7/lib/active_support/notifications/fanout.rb:19:in `new': tried to create Proc object without a block (ArgumentError)
	from /home/ido/.rvm/gems/ruby-3.0.0/gems/acti

[2021-08-04 21:18] smbatinsighty opened #7090 "Custom filters: error when passed 1 in params"
when passed 1 in filters it comes as true

[2021-08-06 07:17] tordans commented on #7064
@clinejj please have a look at https://github.com/activeadmin/activeadmin/pull/7095 which should fix the issue without troubling libsass or rubysass.

[2021-08-06 14:52] matthewblack commented on #6106
+1

[2021-08-06 19:23] evanhoward-id commented on #7090
I would guess your issue is caused by Ransack as detailed here: https://stackoverflow.com/questions/64149511/wrong-number-of-arguments-given-0-expected-1-in-ransack-scope

[2021-08-06 19:42] smbatinsighty commented on #7090
thanks  evanhoward-id it works on my side

[2021-08-06 19:42] smbatinsighty commented on #7090
thanks  evanhoward-id it works on my side

[2021-08-06 19:42] #7090 closed

[2021-08-10 14:29] dfriquet commented on #5692
Hello there,

We just got the same problem upgrading on old app from AA `1.3.1` to `1.4.0`. There is a naming conflict between an `Arbre` method `#page` and the conventionnally-generated `#page` method to retrieved the `Page` instance. A `byebug` in the `show` method reveals that the `page` method is not the one we expected.

[code]

That did the trick for us too. We'll keep updating our app as fa

[2021-08-17 07:28] nordhagen opened #7115 "Remove deprecated sass division operator"
The sass division operator (`/`) is deprecated and replaced by `math.div()`. This is currently producing annoying deprecation warnings. I intend to create a PR for this.
[code]

[2021-08-17 15:48] nordhagen commented on #7115
Duplicate of #7064 Please merge #7095!

[2021-08-17 15:48] #7115 closed

[2021-08-19 15:41] DevarajCoindcx opened #7117 "Dynamically paginating data from URL"
Hi in my page I made a request and from that I can only get 500 at once, I send that 500 like this `{"count" => 500}` and the send the request
[code]
this page_action's history variable will be rendered by a simple html table, but I want to know how to dynamically make the request to fetch the next 500, is there something like customising the next button when data is at the last page and presses n

[2021-08-20 21:48] salidux commented on #5828
I'm experiencing a similar issue. It seems that the issue is with the two `has_one through` the same relationship. If you filter by the to `has_one` at the same time, the resulting query is invalid.

[2021-08-23 15:53] sethdeckard commented on #697
Given the age of this bug, I'm assuming this may not ever be fixed. What is a good alternative approach to using helpers in AA these days?

[2021-08-23 22:49] mmell commented on #6007
This happened to me on a fresh Rails 6 site. It only manifested in the production deployment.

[2021-08-30 22:47] #5878 closed

[2021-08-31 05:23] Zidail commented on #6007
Seems like I'm having the same issue with a fresh install of Active Admin.
It works in development but doesn't in production.
Doesn't seem like webpacker picked up the scss file.

Followed the instructions in: https://activeadmin.info/0-installation.html#setting-up-active-admin

[2021-08-31 16:19] mmell commented on #6007
Setting `RAILS_SERVE_STATIC_FILES=1` in the production environment solved it for me.

[2021-09-06 18:28] matiassalles99 opened #7131 "CSS and JS not working in WebView"
### Did you find a bug?

When using active admin and accessing it via a webview, CSS and JS are not loaded properly, which ends up hiding the menu tabs and ignoring css & js custom behaviour.
When entering via Chrome, Firefox or any other browser it works just fine

### Expected behavior

Have the same behaviour in a web view

### Actual behavior

Does not load properly either JS or CSS

![image](

[2021-09-09 14:39] AlexOverbeck opened #7132 "HTML sanitization can result in improperly formatted page title"
### Did you find a bug?
When setting a custom title for an action, the HTML sanitization that takes place can sometimes result in improperly formatted text in the `<title>` element.

### Expected behavior
[code]

In the above example, I would expect the resulting page title tag to be as follows:
[code]

### Actual behavior
What actually happens is the `&` gets sanitized into an html character code

[2021-09-09 17:55] Envek commented on #5772
One more broken use case because of this:

I tried to use [Action Policy](https://actionpolicy.evilmartians.io/) which has [automatic integration into Rails application's controllers](https://github.com/palkan/action_policy/blob/4dc3b1e412b10f18cd91f39308a49a3c404c443b/lib/action_policy/railtie.rb#L83-L88).

However, the problem is that this code in Active Admin initializer:
[code]
references appl

[2021-09-10 11:13] Sprachprofi opened #7134 "HTTP error 414 when filtering"
When I filter my users by a list of emails, which can get quite long, I get HTTP error 414. Afaik this problem is unavoidable when using GET. Could the filter form be switched to using POST, at least as an option?

[2021-09-14 08:33] snipertop commented on #5184
To register an existing model with Active Admin:

rails generate active_admin:resource MyModel
This creates a file at app/admin/my_model.rb to set up the UI; refresh your browser to see it.

[2021-09-14 08:35] snipertop commented on #5184
To register an existing model with Active Admin:

rails generate active_admin:resource MyModel

This creates a file at app/admin/my_model.rb to set up the UI; refresh your browser to see it.
仔细阅读这句话，你需要在一个你已经生成好的模型上注册UI

[2021-09-14 23:34] matiassalles99 commented on #7131
Closing at it was an issue caused by the webview software itself

[2021-09-14 23:34] #7131 closed

[2021-09-23 19:20] antonintouron commented on #7132
Hi @AlexOverbeck,

I reproduce this but I have not a problem (with google chrome) :
<img width="213" alt="Capture d’écran 2021-09-23 à 21 17 54" src="https://user-images.githubusercontent.com/37710765/134569970-4381fe24-2498-496e-b2d0-65c774b5f2bc.png">

Which browser do you use ?

[2021-09-24 15:15] uzzybotak commented on #6007
In case someone still having the same issues after trying all the solutions already written above. I opened the config/webpacker.yml and change this line:
`
default: &default
  ...
  extract_css: true
  ...
`

Somehow, my app wants to have the webpacker to also emit the css for the active_admin.css to be identified. Hopefully it will help someone here

[2021-09-29 06:38] anilnabin25 commented on #819
IMO
[code]

[2021-09-29 15:29] antonintouron commented on #7132
Hey ! Sorry at the moment I have very little time, can you give more information on github or is it complicated ?
Thank :)

[2021-10-01 22:28] AlexOverbeck commented on #7132
I was able to both reproduce this issue **and** realize a work around for us. The issue we were having happened because we weren't specifically declaring a title for a given page. In cases where the title isn't specifically set some extra sanitization seems to happen somewhere. We can work around this by manually declaring the page title.

Given a users table with a name attribute. If the user has

[2021-10-03 00:09] gobijan opened #7151 "Rails 7 installation does not work because of dependencies"
### Did you find a bug?

Rails 7 alpha 2 is out but is already very usable and will be finally released in less than two months.
Are there any ongoing efforts to support Rails 7?
I forked and messed a little around with dependencies but one thing leads to the other when it comes to allowing more and more dependencies.

### Expected behavior

Active Admin should be usable in Rails 7.

### Actual be

[2021-10-03 16:13] antonintouron commented on #7132
@AlexOverbeck Thank you I understand.

I've just reproduced the problem and there's a bad encoding, I think. I look at it and submit a pull request.
Have a good day :)

[2021-10-23 05:09] vishaltps opened #7167 "ActiveAdmin taking wrong http method for update and destroy actions"
[code]

I have installed and configured active admin in my rails API application. Everything is working fine, except for the update, delete action of any controller, and logout of the admin user.

 Here is my applicaiton.rb file

<img width="733" alt="Screenshot 2021-10-22 at 8 30 54 PM" src="https://user-images.githubusercontent.com/16555538/138543167-1358b072-834b-4f5d-95ac-3d52342ae2ea.png">
?

[2021-10-30 11:00] sdogruyol opened #7171 "Can't use the title 'Ad' in an index column"
### Did you find a bug?

Activeadmin doesn't render the column with `Ad` as title of the `:name` field

### Expected behavior

It should render the `Ad` column as the title of the `:name` field

### How to reproduce

[code]

[2021-11-03 16:36] yshmarov opened #7175 "DEPRECATION WARNING: ActiveModel::Errors#keys"
### Did you find a bug?

Describe your problem with a **clear title** sumarizing it, and a **clear
description** including as much relevant information as possible about it.

### Expected behavior

[code]
<img width="659" alt="Screenshot 2021-11-03 at 17 35 44" src="https://user-images.githubusercontent.com/13472945/140103380-7a434f64-e975-471a-954d-1e9b1387c179.png">

What do you think should hap

[2021-11-03 20:58] DSalko opened #7176 "feature: make display timezone for date/time values in active admin configurable"
In global applications, it's common to have database and rails timezone to be set to UTC, it would be beneficial to add display timezone settings to active admin configuration as often administrators find it hard to operate in UTC.

I propose adding `localize_timezone` setting to active admin configuration.

[2021-11-04 13:52] varyonic commented on #7176
You can roll this yourself, eg. https://thoughtbot.com/blog/its-about-time-zones

[2021-11-04 14:07] #7176 closed

[2021-11-05 08:35] leoplct commented on #904
How to disable this? The link is broken

[2021-11-10 21:47] DerekK19 opened #7179 "Scrollable menu for narrow displays"
A new feature to address the issue of wide global navigation menus on a narrow device

### Expected behavior

I would like to be able to have the menu displayed on a single row, which I could scroll left or right to show all available entries

### Actual behavior

I have an ActiveAdmin site with 5 or 6 entries in the global navigation. This makes the menu 800 pixels wide. If I access the site on a

[2021-11-10 23:42] nordhagen commented on #7064
Seriously, there's a PR from 3 months ago containing 3 completely benign line changes. This deprecation warnings is completely flooding our CI output and the fix has been provided. Can you please merge the PR @tordans has submitted 🙏

[2021-11-11 14:23] varyonic commented on #7179
Take a look at a resposive [theme](https://github.com/activeadmin/activeadmin/wiki/Themes) like ArcticAdmin.

[2021-11-22 08:25] thanhtoan1196 opened #7196 "Support Rails 7"
Can't install activeadmin using rails 7.0.0.alpha2, please help

Logs
[code]

[2021-11-22 17:01] wiseleyb opened #7197 "Fix Rails 7.0.0.alpha2"
Several issues listed. Just creating this issue to track my attempt to fix. Both issues I found were just about Gem dependencies.

Current issues I found
* https://github.com/activeadmin/activeadmin/issues/7151
* https://github.com/activeadmin/activeadmin/issues/7196

[2021-11-23 13:10] Fivell commented on #7134
@Sprachprofi  i think making filter form to use POST request conflicts with good REST practices, I think better solution is to change database design and move emails in this case to separate database table, and filter by array of IDs instead

[2021-11-23 13:11] #7134 closed

[2021-11-28 18:39] jmschp commented on #5668
This is what worked for me, to have a horizontal scroll when the table does not fit in screen.

I also added a `white-space: nowrap;` So it wouldn't warp the text in each row.I think it looks much better, but it can make thing quite wide!

[code]

- Ruby 2.7.4
- Rails 6.1.3.2
- Active Admin 2.9.0

[2021-12-03 03:21] pamit commented on #4783
I just wanted to share what I did for my case:

[code]

[code]

[2021-12-05 15:01] danielricecodes commented on #3359
This doesn't work with non-ActiveRecord objects.

This issue has been ongoing for so long I may take a crack at it....

`column` has a `label` option.  forms have it.  Filters have it.  `row` should have it also.

[2021-12-05 15:02] danielricecodes commented on #3359
This issue has been ongoing for so long I may take a crack at it....

`column` has a `label` option.  forms have it.  Filters have it.  `row` should have it also.

[2021-12-08 12:00] baarkerlounger opened #7209 "Feature Request: Enable running specs with Firefox as the webdriver"
Currently running the full test suite requires having Chrome installed to be used as the web driver. As this isn't the default browser installed on many linux distributions, being able to have the test suite run using Chrome or Firefox as the web driver would lower the barrier to getting this up and running so you can contribute.

It might also mean browser engine specific bugs are more likely to

[2021-12-09 18:37] kiddrew commented on #3604
Is there any plan to move on from inherited resources at this point? It's a relatively minor annoyance, but having BaseController inherit from ApplicationController through inherited resources really overloads that controller with a lot of logic that should belong elsewhere. Before hooks, etc. I know that before hooks can be done in the AA initializer, but that feels like a hack.

[2021-12-10 09:53] baarkerlounger commented on #7197
Are there any branches/PRs that can be tested yet?

[2021-12-10 11:33] Fivell commented on #3604
@kiddrew  https://github.com/activeadmin/activeadmin/issues/3604#issuecomment-274981487 is actual

[2021-12-10 16:50] tothpeter commented on #6999
Same happened here. (localhost)

 A possible reason:
 The devise config in an initializer: `config.authentication_keys = [:login]`

Possible solution:
Add `authentication_keys: [:email]` to the device config in your `AdminUser` class like:

[code]

Off topic: I'd raise attention in the docs to add `gem 'sassc-rails'` if not using webpack. It could save hours of research for newcomers. Where would

[2021-12-10 16:53] jstrouse commented on #7197
I've got the following running in development, but it's causing a hot-reload issue.

gem 'ransack', github: 'activerecord-hackery/ransack'
gem 'inherited_resources', git: 'https://github.com/naveed-ahmad/inherited_resources.git', branch: 'rails7'
gem 'activeadmin', git: 'https://github.com/naveed-ahmad/activeadmin.git', branch: 'rails7'

[2021-12-10 17:46] baarkerlounger commented on #7197
Looks like I've got some additional Kaminari issues with that but it's a lot closer

[code]

[2021-12-10 19:35] wiseleyb commented on #7197
I think I should close this - I ran into other deal-breaker-issues on Rails 7 for the project I'm on - so we're not doing this yet :(  It didn't seem even close to trivial to get it working when I was checking - would have been a pretty big PR requiring changing dependent gems. Sorry for flaking on this.

[2021-12-10 19:35] #7197 closed

[2021-12-10 19:54] baarkerlounger commented on #7197
@wiseleyb worth keeping this open to track anyway?

[2021-12-11 00:55] wiseleyb commented on #7197
I probably won't get back to this for months. Sorry - not sure how this
group works. There are a bunch of other Rails 7 issues ... so it's not like
it's unknown or something if that's the concern

On Fri, Dec 10, 2021 at 11:54 AM baarkerlounger ***@***.***>
wrote:

[2021-12-13 11:02] Fivell commented on #7196
related https://github.com/activeadmin/activeadmin/issues/7175

[2021-12-14 02:48] brightbytes-dude commented on #659
@crystalneth - Unfortunately, setting `config.sort_order = ''` no longer works to preserve the order provided in `scoped_collection` in AA 2.9.

Any other ideas for how to do a customer sort order?

(I need it for a `DISTINCT ON` query, but I don't want to over-ride `def index` because then I can't use filters (... though there may be a hack-around for that too ...)

[2021-12-15 14:47] lunaisnotaboy commented on #6937
@fabn I know I'm probably not helping, but there's an instance at https://activeadmin-demo-2.herokuapp.com that I set up a few days ago so I could play around with it.

Hope that help!

[2021-12-16 17:00] varyonic commented on #6937
The (original?) deployment is running at https://demo-activeadmin.herokuapp.com/
demo.activeadmin.info is aliased elsewhere, which is not working.

[2021-12-16 17:31] yjukaku opened #7226 "Feature requets: Use native events instead of jQuery events"
Thansk for your work on this gem!

To start, I definitely understand that activeadmin is not actively looking to switch away from jQuery. That would be a massive effort. However, I think I've run into a particular problem that would justify moving away from jQuery _events_.

In our app, we have a guideline in place to avoid jQuery unless necessary. We wanted to add some JS code to listen for the `

[2021-12-17 09:05] tagliala commented on #7196
I'm trying to update activeadmin to use rails 7 (https://github.com/tagliala/activeadmin/pull/1), but there are some blocking dependencies:

- [inherited_resources](https://github.com/activeadmin/inherited_resources) activeadmin/inherited_resources#707
- [ransack](https://github.com/activerecord-hackery/ransack) activerecord-hackery/ransack#1266
- [cucumber-rails](https://github.com/cucumber/cucum

[2021-12-18 10:47] alejandroperea commented on #7196
It is not a blocker but in case we are not able to update `db-query-matchers` I've created a PR to get rid of it: https://github.com/activeadmin/activeadmin/pull/7232

[2021-12-18 12:05] ciscolive commented on #7196
can team update to rubygem ?

[2021-12-19 08:09] nasa42 commented on #5772
Following works on Rails 6.1+

[code]

[2021-12-20 19:45] tagliala commented on #7196
I've updated my comment above by adding [arbre](https://github.com/activeadmin/arbre), that does not allow 7.0 and so it downgrades to 1.2.1

[2021-12-21 00:45] javierjulio commented on #7151
Closing in favor of #7196 where we have a details on different dependencies that will need to be updated to allow Rails 7. Some we own, some we don't.

[2021-12-21 00:45] #7151 closed

[2021-12-21 04:40] Karoid commented on #7036
I've made PR for this bug, but it seems to take time for fixing problem.
You can temporarily monkey patch this problem by adding following line at the end of `config/initializers/active_admin.rb`
[code]

[2021-12-21 15:45] baarkerlounger commented on #7196
Looks like this branch has issues with the number of args in paginate here https://github.com/activeadmin/activeadmin/blob/master/lib/active_admin/views/components/paginated_collection.rb#L111

[2021-12-21 15:47] tagliala commented on #7196
Thanks, will check

[2021-12-21 16:52] javierjulio commented on #7036
@Karoid would your PR #7170 resolve both this issue and #7032 that was mentioned in this issue's description? Just wanted to confirm.

[2021-12-21 17:43] tagliala commented on #7196
For tracking purposes and to prevent new PRs, I opened #7235

[2021-12-21 18:15] missy-davies commented on #7196
Hi @tagliala, I'd love to help with the effort to make ActiveAdmin compatible with Rails 7. Is there any piece of the puzzle I can take on?

[2021-12-21 19:09] tagliala commented on #7196
Hi @missy-davies

Yes, feel free to take a look at  #7235, there is a "working" branch with failing specs (on CI) and cucumber features

[2021-12-22 03:04] Karoid commented on #7036
@javierjulio I checked for #7032 again and found there was some problem in my PR(#7170)
So I've fixed the problem and pushed again(#7170)

[2021-12-22 06:59] missy-davies commented on #7196
@tagliala Great, thank you! I'm still working on setting up a virtual machine to be able to clone the repo and run the tests, but once I can see what's failing I'll give it a shot.

[2021-12-27 10:31] baarkerlounger commented on #7196
Yep pagination. Looks like a new version of Kaminari has been released now so might be worth bumping that as well.

[2021-12-27 11:47] tagliala commented on #7196
[Specs are green](https://github.com/tagliala/activeadmin/runs/4637061868?check_suite_focus=true) also with the previous version of Kaminari, if you are exxperiencing a pagination issue, it is probably not covered by specs

[2021-12-27 13:58] baarkerlounger commented on #7196
Hmm that's odd. Spec coverage claims to cover that 100% and it's a number of arguments error. This is the stack trace:

[code]

I also have a repo with specs that fail if that helps reproducing.

[2021-12-27 14:03] tagliala commented on #7196
I can see a downgraded version of arbre, which is not correct

Please try the following : https://github.com/activeadmin/activeadmin/pull/7235

[code]

[2021-12-27 15:01] baarkerlounger commented on #7196
Thanks, you're right, latest Arbre commit fixes it already.

[2021-12-30 05:25] muaaz-vf commented on #7196
Thank @tagliala adding the above gems does work but whenever we change the code in dev env there is an error afterward,

09:53:56 web.1  | ArgumentError (wrong number of arguments (given 2, expected 5)):
09:53:56 web.1  |
09:53:56 web.1  | activesupport (7.0.0) lib/active_support/notifications/instrumenter.rb:62:in `initialize'
09:53:56 web.1  | actionpack (7.0.0) lib/action_dispatch/middleware/se

[2021-12-30 08:07] tagliala commented on #7196
Any chance to provide a step to step guide to reproduce this issue or a reproducible test case in a public repository?

[2021-12-30 08:42] muaaz-vf commented on #7196
Sure will share example and steps to produce it today thank you for quick reply.

[2021-12-30 08:44] tagliala commented on #7196
No need, reproduced thanks!

[2021-12-30 08:48] tagliala commented on #7196
@muaaz-vf could you please try to disable `server_timing` ?

[code]

[2021-12-30 10:04] muaaz-vf commented on #7196
Thank you much appreciated, anyway I can buy you a cup of coffee :)

[2021-12-30 11:40] mrublya commented on #6009
if anyone has a similar problem

then I solved it by adding folder images to the app/assets
or by deleting the line, but it may disturb something, I don’t know what exactly

[2022-01-04 13:00] nquocvuong commented on #7196
Hi @tagliala

in my gemfile:
[code]
and in config/initializers/active_admin.rb
[code]
then I got this error:
[code]
if I remove config.before_action, it work

[2022-01-05 12:12] Boberkraft commented on #7171
Maybe its your adblock blocking the column?

[2022-01-06 11:44] tagliala commented on #7196
Replicated, thanks

[2022-01-12 18:24] bvicenzo opened #7260 "Menu item appearing for unauthorized people when using customized option If"
### Did you find a bug?

I'm trying to add a menu item and it should appear if a toggle is activated or not... However, not all people can see this option on the menu.

The menu item respects our authorization rules.
However, when we [customize the menu](https://activeadmin.info/2-resource-customization.html#customize-the-menu) with the option `if` when this condition is true the item appears even

[2022-01-13 18:11] bvicenzo opened #7263 "Authorization not autorizing customized resource pages"
### Did you find a bug?

When we create a renamed resource as the doc suggests in [this example](https://activeadmin.info/2-resource-customization.html#rename-the-resource), we're not able to create an authorization rule for that customized resource...

Ex:

[code]

[code]

The problem is if we want to have more than one name for that resource and what different users to access that different name

[2022-01-14 15:52] guillaumebesse opened #7264 "[Rails 7] - Help to configure a newly migrated app to process activeadmin assets (js and scss) using jsbundling-rails with esbuild"
Thanks to the work in progress in PR #7235, activeadmin is starting.

But I don't know how to deal with active_admin.js and my custom scss files.
I am new to esbuild.

Any help is welcome.

[2022-01-14 19:59] mattschouten opened #7265 "Allow turning off selected default actions for index as table"
I would like to be able to selectively turn off default actions for the index as table.

## Situation

There is a model that I don't want to delete from the index.  It's protected from deletion if certain conditions are met, and I don't want to have to show all the data on the index to let a user know whether they can delete it.  I definitely don't want to confuse users (or myself) with a Delete l

[2022-01-16 11:59] tagliala commented on #7264
I am new to esbuild.

Hi

⚠️  Disclaimer: I'm not a JavaScript developer

I switched back to webpacker for the moment, because I can see that Active Admin [is using](https://github.com/activeadmin/activeadmin/blob/b732b2c239861b9a4200bb08349849f6ecb1b62d/app/javascript/active_admin/base.js#L2-L6) jQuery UI and this library does not play well with esbuild by default

I think this resource could be

[2022-01-17 11:10] guillaumebesse commented on #7264
I did some progress, everything is not tested but It is really promising.

The goal is to compile in `app/assets/builds`
- two CSS files
    - `application.css` for my web app and build with tailwindcss
    -  `active_admin.css` build with sass compiler
- two js files
    - `application.js` for my web app
    - `active_admin.js`

Files tree
- app
    - assets
        - builds
        - config

[2022-01-20 15:29] sebfie commented on #3157
Right, the issue is still here :
![CleanShot 2022-01-20 at 16 29 46](https://user-images.githubusercontent.com/862129/150369433-b4707fea-1eb2-41f7-9f24-ffe3040b3c5d.png)

[2022-01-21 11:12] deivid-rodriguez opened #7290 "Intermittent spec failure when testing with webpacker"
### Did you find a bug?

An intermittent spec failure.

### Expected behavior

Specs pass consistently.

### Actual behavior

[code]

### How to reproduce

Hard, for now.

[2022-01-21 11:24] #7064 closed

[2022-01-21 15:36] elliotcm commented on #7196
@tagliala After much digging, I suspect this is due to the issue mentioned in the callout box here:
https://guides.rubyonrails.org/configuring.html#using-initializer-files

My app loads OK after wrapping the contents of `config/initializers/active_admin.rb` in a `Rails.application.config.after_initialize do` block.

[2022-01-23 09:34] tagliala commented on #7196
Hi @elliotcm, thanks for the feedback

That fix can be addressed in a separate PR like #7262

I'm not going to create such a PR because I don't know the possible side effects

[2022-01-23 16:55] elliotcm commented on #7196
@tagliala Yes I'm not sure there's a fix you can make in the gem(s), but it's a workaround at least for others.  It might even go away when we're not loading the inherited resources gem directly, I'm not savvy enough with the exact timing of Rails loading stuff to be able to suggest a permanent fix.

One reason I wouldn't suggest baking it in to activeadmin is that by moving the activeadmin setup

[2022-01-23 19:20] tagliala commented on #7290
Is it possible that this issue is caused by the following line?

https://github.com/activeadmin/activeadmin/blob/1b6dd5c2c5722f896ca36c3fa447b4db63038446/tasks/test_application.rb#L81

In any case, it should be fixed, the proper path is "gemfiles/rails_61_webpacker/Gemfile"

[2022-01-24 08:23] deivid-rodriguez commented on #7290
Not sure, maybe, let's fix it yeah.

[2022-01-25 07:55] Fivell commented on #7265
@mattschouten  https://github.com/activeadmin/activeadmin/blob/b45b1fb05af9a7f6c5e2be94f61cf4a5f60ff3bb/lib/active_admin/views/index_as_table.rb#L383

there is already authorization implemented to conditionally enable/disable each action
reference https://activeadmin.info/13-authorization-adapter.html

[2022-01-25 07:55] #7265 closed

[2022-01-25 13:15] mattschouten commented on #7265
@Fivell

First of all, I realize I was not completely clear in my original post--sorry about that!  I want to not show `Delete` on index, but I _do_ want to show `Delete` on show.  That second part didn't make it into the original, even though it was perfectly clear in my head.

With that clarification and apology up front, here is some more detail.

---

It looks like those lines of code in `inde

[2022-01-26 19:04] jshow commented on #7176
what is your recommendation for rolling-this-ourselves ? activeadmin provides hooks to format, but not affect timezone changes - we too store in UTC, with hundreds of places where dates are displayed, what is an efficient means to use the existing ruby apis to roll-this-ourselves @varyonic ? In my case we have a hefty-api server setting within the same codebase, so making a rails wide change that

[2022-02-01 09:55] #7042 closed

[2022-02-01 09:55] #6887 closed

[2022-02-02 23:48] umbrellait-alexey-stroevskiy commented on #5737
Hello everyone!
Are there any updates or solutions?
I get the same error until I delete the `collection`
`filter :some_filter, collection: User.some_scope`

[2022-02-03 11:18] umbrellait-alexey-stroevskiy commented on #5737
Hello @ernestoe!
To fix this issue you need to use like this:
`filter :description, as: :select, collection: proc { QualityError.distinct.pluck(:description) }`
or
`filter :description, as: :select, collection: proc { QualityError.distinct.map { |qe| [qe.description, qe.id] } }`

[2022-02-08 11:58] tagliala commented on #7290
Experienced this issue here: https://github.com/activeadmin/activeadmin/runs/5108572235?check_suite_focus=true

[2022-02-11 15:31] #6728 closed

[2022-02-12 12:01] thibaudgg opened #7318 ""FrozenError: can't modify frozen String" on CSV export"
I get the following error when trying to export a CSV from an index table with version 2.10

Backtrace:
[code]

[2022-02-14 11:35] deivid-rodriguez commented on #7318
#7170 should fix this, apologies for the regression!

[2022-02-14 13:30] thibaudgg commented on #7318
Thanks for the quick fix @deivid-rodriguez!

[2022-02-14 14:55] #7032 closed

[2022-02-14 14:55] #7318 closed

[2022-02-15 09:50] senid231 opened #7334 "on Download CSV find_collection method called twice"
### Did you find a bug?

During index CSV request processing #find_collection code is called twice, so collection is fetched from SQL or another source one extra time for no reason.

### Expected behaviour

#find_collection code being called only once

### Actual behaviour

 #find_collection code being called twice

### How to reproduce

Here's a bug report
`active_admin_csv_double_find_collection

[2022-02-15 15:18] 7vs opened #7335 "Shakapacker support?"
Is there any chance to have an update in order to support `shakapacker` any time soon?

Rails team has deprecated the `webpacker` gem.

Alternative and until this new gem is supported how could I use the new structure `src` vs `pack` and active admin config as per original instructions?
[code]
Thanks in advance

Update:
The way now shakapacker configure directories by default is with `src` instead

[2022-02-15 18:18] tagliala commented on #7335
Hi, I'm using Active Admin with shakapacker (and previously with webpacker 6rc) without issues, is there any problem you are experiencing?

[2022-02-16 12:19] deivid-rodriguez commented on #6937
Since apologies for the delay, the demo site should be up again.

[2022-02-16 12:19] #6937 closed

[2022-02-16 15:40] 7vs commented on #7335
Hi @tagliala thanks for replying soon.
I'm fairly new to webpacker and shakapacker and I'm currently migrating to the latter.

There are some inconsistency among configs' approaches:
- When using Webpacker:
`app/javascript/packs/active_admin.js`

- what shakapacker documentation (readme) suggests:
[code]
- and your configuration:

Initially I tried using the `src` directory to keep `active_admin.r

[2022-02-17 13:46] agrobbin opened #7339 "Singleton controllers breaking with authorization scope applied to new records"
Initially reported in https://github.com/activeadmin/activeadmin/pull/6884#issuecomment-1042099107 and moved to it's own ticket!

### Did you find a bug?

When attempting to ugprade to AA 2.10, I ran into an issue to do with the changes in #6884. It seems this breaks when working with a ["singleton controller"](https://github.com/activeadmin/inherited_resources#singletons), which is a feature of I

[2022-02-17 19:21] khamusa opened #7342 "Possible inconsistency with ActiveSupport::Notifications' interface breaks when using Sentry"
### Did you find a bug?

Trying to install the latest release (2.10.0) in an existing Rails 6 app that uses Sentry for monitoring, I get the following error when running `rake db:setup`:

[code]

I tracked the error on the sentry-ruby gem, and it happens when handling ActiveSupport::Notifications events, in particular the `ActiveAdmin::Application::BeforeLoadEvent`.

I noticed AA is calling `Activ

[2022-02-21 13:06] plashchynski opened #7346 "A show page does not display a field ends with a "_count" substring"
I have a model with some column ends with a "_count" substring. This column doesn't appear on a show page. It should appear as It is a regular column just like any other.

I've figured out that this is because this column filtered out as a counter cache column by the following code in ```ActiveAdmin::Resource::Attributes#counter_cache_col?```

The code simply checks that the column has a name that

[2022-02-25 17:35] deivid-rodriguez commented on #7342
Makes sense to me @khamusa, I would gladly take a PR. This was caused by https://github.com/activeadmin/activeadmin/pull/7262, @sprql does the proposed solution look ok to you?

[2022-02-25 17:58] #5772 closed

[2022-02-25 19:04] deivid-rodriguez commented on #6009
Yes, please!

[2022-02-25 19:16] sprql commented on #7342
@deivid-rodriguez I think it is ok

[2022-03-03 07:35] shootingfly commented on #3952
@seanlinsley Is it possibe to fix this? I did a database sharding by `user_id`,  so searching through `user_id` is must , but it always searchs through `id` when the second sql even if I overided `find_resource`.

[code]

[2022-03-07 15:54] deivid-rodriguez commented on #7209
Sure, please open a PR.

[2022-03-07 20:29] jaynetics opened #7376 "Webpacker is deprecated"
webpacker has been deprecated (or [retired](https://rubyonrails.org/2022/1/21/this-week-in-rails-rails-7-0-1-webpacker-retirement-and-more-10bad602) as they call it) and is no longer included in rails 7 by default:

as a consequence, i think activeadmin should no longer suggest integrating with webpacker. i'll push a PR shortly to remove the relevant section from the installation instructions.

pe

[2022-03-07 20:38] deivid-rodriguez commented on #7376
As far as I understand, there's https://github.com/shakacode/shakapacker which works just fine with ActiveAdmin (as per https://github.com/activeadmin/activeadmin/issues/7335) and will continue to be maintained.

So for now I think I would just clarify that even though still supported, it's no longer included with Rails by default.

[2022-03-08 10:05] KevinBongart commented on #7196
@tagliala @deivid-rodriguez Since #7235 was merged yesterday (excellent work!), should we consider ActiveAdmin Rails-7 ready and, if so, release a new version?

If not: what's left and where can I find more information about the remaining work? Happy to help.

[2022-03-08 10:45] deivid-rodriguez commented on #7196
I will release a Rails 7 compatible version next Friday.

I'll close this issue since it was indeed fixed by #7235!

[2022-03-08 10:45] #7196 closed

[2022-03-09 10:35] deivid-rodriguez commented on #7376
@jaynetics Can you change #7377 as suggested? Feel free to comment on jsbundling-rails/esbuild too, although maybe @tagliala is in a better position to write that improvement.

[2022-03-09 13:21] aqib-muneeb opened #7382 "Two namespaces with one Devise model in activeAdmin in rails"
I have set Devise in my application. it has a role column ( two roles , admin and student). Now i have set activeAdmin in my application. I login to my app using http://localhost:3000/admin  but i want admin to login from this route and student to log in using http://localhost:3000/student ..
How can I do that ? How can I set student namespace with this already existing devise model and configure

[2022-03-09 20:32] amiel opened #7383 "hasMany.js does not support turbolinks"
### Did you find a bug?

While most other javascript features of ActiveAdmin are set up to be initialized on `page:load` and `turbolinks:load`, the hasMany feature is initialized at run time.

### Expected behavior

Has many forms should still work after turbolinks transitions.

### Actual behavior

The has many initializer is run on page load but not after turbolinks transitions.

### How to repr

[2022-03-09 21:46] TonyArra commented on #3910
why has the documentation never been updated on this? Seems to still be an issue.

[2022-03-10 06:11] deivid-rodriguez commented on #3910
Be my guest.

[2022-03-12 07:38] alejandroperea opened #7393 "JRuby support for Ruby EOL versions"
I have a general question not only for `activeadmin` but also for `arbre` and `inherited_resources` (and a lot of gems in Ruby world). JRuby is supported by those gems, but the latest version of JRuby supports Ruby 2.6.... which EOL is pretty close (31th March).

I'm not sure how this is going to be handled. Supporting EOL Ruby versions could lead in more work for the maintainers and the community

[2022-03-12 07:55] deivid-rodriguez commented on #7393
JRuby is only supported on a best effort basis. Right now we only have it in our daily CI matrix (so nothing is enforced for every PR), and it's not even succeeding to `bundle install`.

When it's time for dropping Ruby 2.6 support, we can just drop it, JRuby CI can be fixed once it supports newer implementations.

I wouldn't mind dropping support for Ruby 2.6 right now.

[2022-03-12 08:15] alejandroperea commented on #7393
Thanks a lot for your response @deivid-rodriguez !

One question more 🙏 . When we are going to drop the support for Ruby 2.6, shall we remove JRuby in the CI Matrix or we shall leave it failing in the CI until a new version of JRuby is released and can be fixed?

[2022-03-12 08:19] deivid-rodriguez commented on #7393
Either way works for me, but I think I would remove it and re-add it in the future if needed.

[2022-03-12 08:21] alejandroperea commented on #7393
Good! No more further questions from my side, thanks a lot for your answers!

Closing the issue as has been addressed.

[2022-03-12 08:21] #7393 closed

[2022-03-12 23:54] jadelekekpmg commented on #7196
Thank you so much for resolving this issue. I have been watching it since December.
Appreciate your efforts: @tagliala @deivid-rodriguez

[2022-03-13 22:51] mberman84 commented on #7196
upon first installation in a fresh rails 7 app, I get this error when attempting to navigate to localhost:3000/admin:

`cannot load such file -- sassc`

[2022-03-15 10:17] baarkerlounger commented on #7376
JSBundling with webpack is another potential upgrade path from Webpacker. Doesn't look like that works out of the box?

[2022-03-15 10:41] tagliala commented on #7376
Apologies for the silence, I was going to write a long comment and I've also tried to change instructions at least to shakapacker but then I had to stop

@baarkerlounger yes, it works. I was eventually able to remove shakapacker and make activeadmin work with jsbundling-rails (with some little changes because [I've migrated a webpacker workflow](https://github.com/rails/jsbundling-rails/blob/main/

[2022-03-15 15:57] baarkerlounger commented on #7376
@tagliala does that require using `sprockets-rails` alongside jsbundling/webpack? Without it I get `undefined method `assets'` errors.

[2022-03-15 16:57] tagliala commented on #7376
afaik `js-bundling` is a "proxy" for sprockets (or propshaft now). It just moves webpack compiled files to a folder accessible by sprockets. You can also see that `manifest.js` requires `//= link_tree ../builds`

Ref: https://github.com/rails/jsbundling-rails/issues/83#issuecomment-1033817472

[2022-03-17 01:24] #7383 closed

[2022-03-18 13:26] KevinBongart opened #7399 "RuntimeError in Admin::Dashboard#index with Shakapacker: stylesheet_pack_tag called more than once"
I've recently migrated an app from Rails 6.1 / Webpacker 6 RC to Rails 7 / Shakapacker. I get this error message when visiting the Active Admin root:

[code]

This happens because Active Admin is calling `stylesheet_pack_tag` for each stylesheet in `ActiveAdmin::Views::Pages::Base`:

[code]

It's a direct result of [this Shakapacker PR](https://github.com/shakacode/shakapacker/pull/19) but there's

[2022-03-18 13:59] KevinBongart commented on #7376
FYI, I tried setting up a Rails 7 demo app for [a bug report related to Shakapacker](https://github.com/activeadmin/activeadmin/issues/7399) but noticed this error when running `rails g active_admin:install --use_webpacker --skip-users`

[code]

This is because `ActiveAdmin::Generators::WebpackerGenerator` expects `config/webpack/environment.js` to exist, whereas Shakapacker now uses `config/webpa

[2022-03-18 15:36] tagliala commented on #7376
Hi, Shakapacker (and webpacker 6) do not automatically add CSS support: https://github.com/shakacode/shakapacker/blob/master/docs/v6_upgrade.md, so I think that more packages should be added to package.json by the generator, if we want to serve css assets

Can you share your package.json dependencies?

[2022-03-18 19:24] KevinBongart commented on #7376
I generated an example app like this:

[code]

At this point, `./bin/webpacker-dev-server` can compile the assets and the `webpack.config.js` file looks like this:

[code]

And `package.json` looks like this:

[code]

Then installing Active Admin *using the modified generator from my comment above*:

[code]

The `webpack.config.js` file looks like this:

[code]

And `package.json` looks like this:

[2022-03-19 06:17] j-manu commented on #7264
I wanted to get this working with rails 7 and esbuild and took the nuclear option 😅

1. Generate the final active_admin.js and active_admin.css in a new app.
2. Copy the generated files to the original app under app/assets/activeadmin
3. Fork activeadmin and remove dependency on jquery-rails and remove app/assets, app/javascript and vendor/assets
4. Use the fork in the app

And it works!

It might

[2022-03-23 15:24] rslhdyt commented on #7382
Just curious, why do you need to make a different namespace?
If your goal is to show or hide the menu based on the current user role you can utilize the authorization feature.
https://activeadmin.info/13-authorization-adapter.html

but I got this question in SO, hope it helps.
https://stackoverflow.com/questions/12877139/two-namespaces-of-activeadmin

[2022-03-25 09:30] deivid-rodriguez commented on #7399
Hei! Thanks for the ticket. If I understand correctly, shakapacker 6.2.0 has been released fixing this so this can be closed, right?

[2022-03-25 09:58] KevinBongart commented on #7399
@deivid-rodriguez Correct! https://github.com/shakacode/shakapacker/pull/82 closes the stylesheet-part of the discussion in https://github.com/shakacode/shakapacker/issues/39 (the rest of the discussion is about JS). I tested it in my app and upgrading to Shakapacker 6.2.0 works!

[2022-03-25 09:58] #7399 closed

[2022-03-30 19:11] rendekarf commented on #171
Wow! Had the exact same issue (model named Area) in 2022, checked docs and google'd it with no luck, until I found this issue thread. Cheers @seanlinsley

[2022-03-31 14:33] alfuken commented on #6106
2 years, no news? Huh...

[2022-03-31 15:05] giapnhdev commented on #6106
@alfuken how many likes should I get before this issue become in progress :)))

[2022-03-31 15:06] alfuken commented on #6106
dunno, but you got mine! 👍  ;)

[2022-04-01 12:11] muhammad-anas-2 commented on #753
As I see the error, I tried a lot and finally succeed. The main error is

**PG::UndefinedTable: ERROR: relation "admin_users" does not exist**

This says that the relation admin_users does not exist. It means the migration is trying to change the admin_users which already existed in the table. But actually, it does not exist in the table we have to create it.

**Hence, in the migration file create

[2022-04-06 16:14] 7vs opened #7433 "Uncaught ReferenceError: ActiveAdmin is not defined"
In the browser console I get:
[code]

I'm using webpacker and I can't figure out what's wrong with my setup.

For the look of the compiled active_admin.js file the active_admin js code is loaded after our custom code.

I'm trying to get an old code to work with no luck -although I can see the js code in the page, please see the screenshot.
![Screenshot 2022-04-06 at 16 28 43](https://user-images.g

[2022-04-07 08:04] #7335 closed

[2022-04-07 09:44] 7vs commented on #7433
With this line in `app/javascript/packs/active_admin.js`:
[code]
and your instructions for batch actions:
[code]
I'm assuming I can have access to ActiveAdmin in the global state.

What am I missing or assuming wrong here?

Even when trying in the browser console ActiveAdmin is not defined

[2022-04-07 10:46] 7vs commented on #7433
Ok, sorted now. For whoever face same issue, here is what I had to do and my humble understanding of the issue.
I had to require the constant in the file where It's been used:
[code]

I think that the file is treated as a local scope without access to the ActiveAdmin constant as webpacker exports isolated modules.
And even having the `import "@activeadmin/activeadmin"; ` make you think that it sho

[2022-04-07 10:46] #7433 closed

[2022-04-07 13:41] antonintouron commented on #6199
@onetechlabs Hello, I don't think this is a problem on the active admin side. It is most likely due to your server configuration.

- You use docker with nginx (base ubuntu) for web server ?
- You have custom url rewrite ?
Thanks

[2022-04-10 19:58] arhaikal commented on #7196
Trying to upgrade to rails 7,
I am running activeadmin 2.11.1 which i think is the latest version but i am still getting the following error:

`uninitialized constant InheritedResources::Base (NameError)
Did you mean?  Base64`

`gem 'rails', '~> 7.0.0'
ruby '3.0.3'`

anyone is still facing this problem?

[2022-04-10 20:15] tagliala commented on #7196
This issue should have been fixed by activeadmin/activeadmin#7340

[2022-04-11 05:58] arhaikal commented on #7196
That doesn't seem the case here as the error persists even after removing the before_action from the initializer.
 I am still digging to see what is causing this, so i will make an update if i find something.

[2022-04-11 08:39] deivid-rodriguez commented on #6199
I agree with @antonintouron that this doesn't seem like an issue in activeadmin, and I also appreciate that he's providing some support. I'm closing this but feel free to answer the questions to get some help, @onetechlabs.